{% extends "include/notes_display.html" %}
{% load i18n %}


{% block note_content_section%}
<div class="bookmarkbook">
<div class="brief_display">
         <table class="note_table"><tr><td class="note_table_td1">
            <div id="note_title" title="{% trans 'note title' %}"><a href="/{{profile_username}}/{{bookname}}/{{aspect_name}}/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a></div> 		    
		    </td><td class="note_table_td2">
		    <div  id="note_url" title="{% trans "note url" %}"><a href="{{ note.url}}" target="_blank">{{note.url}}</a></div>		   
		    </td>
		    <td class="note_table_tags">
		    <div id="note_tags" title="{% trans "note tags" %}">
                {% for tag in note.get_tags %}
                    <span><a href="/{{profile_username}}/{{bookname}}/{{aspect_name}}/tags/{{tag}}/">{{tag}}</a>,</span>
                {% endfor %}
            </div>
		    </td>
		    </tr>
        </table>
</div>


<div class="full_display">
         <table class="note_table"><tr><td class="note_table_td1">
                <div id="note_title" title="note title">{% if user.username == profile_username %}<span class="editableText">{% endif %}<a href="/{{profile_username}}/{{bookname}}/{{aspect_name}}/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a>{% if user.username == profile_username %}</span>{% endif %}</div> 		    
	            
		    </td><td class="note_table_td2"><!--TODO: change to note_table_2ndtd-->
                   <div id="note_url" title="note url">{% if user.username == profile_username %}<span class="editableText">{% endif %}<a href="{{ note.url}}" target="_blank">{{ note.url}}</a>{% if user.username == profile_username %}</span>{% endif %}</div> 		    
		    
		    </td>
		    <td class="note_table_tags">
		    <div id="note_tags" title="note tags">{% if user.username == profile_username %}<span class="editableText">{% endif %}{{note.display_tags}}{% if user.username == profile_username %}</span>{% endif %}</div>
		    </td>
		    </tr>
		    </table>            
           <div>
             <div  id="note_desc" title="note desc" class="structure">{% if user.username == profile_username %}<span class="editableText">{% endif %}{{note.desc}}{% if user.username == profile_username %}</span>{% endif %}</div>		   
		    <!--
            <div  id="note_extra" title="extra">e:{% if user.username == profile_username %}<span class="editableText">{% endif %}{ {{note.extra}} }{% if user.username == profile_username %}</span>{% endif %}</div>
		    -->
            <div  id="note_init_date" title="initial creation time" class="grey">{% if user.username == profile_username %}<span  class="editableText">{% endif %}{{note.init_date|date:"Y-m-d H:i"}}{% if user.username == profile_username %}<span>{% endif %}</div>
		    <div  id="note_last_modi_date" title="last modified time" class="grey structure">{{note.last_modi_date|date:"Y-m-d H:i"}} </div>
		    
            <div  class="structure advanced" id="note_frames" title="{% trans "note in frames" %}">{% trans "Frames" %}: {{note.display_frames|default:_('Not in any frame')}}</div>
             
               {% include "notes/add_comments_inline.html" %}   
            </div>
</div>
</div>
{% endblock %}

            
     