{% extends "include/notes/notes_display.html" %}
{% load i18n %}



{% block note_brief_table_td1%}
    <td class="note_full_table_td1">  
         {% include "include/notes/inlines/notes_brief_title_inline.html" %}    
     </td>         
{% endblock %}



{% block note_brief_table_td2%}
    <td class="note_table_td2">
		     {% include "include/notes/inlines/notes_brief_url_inline.html" %}   	
     </td>           
{% endblock %} 
		   

{% block note_full_table_td1%}    
     <td class="note_full_table_td1"> 
                 {% include "include/notes/inlines/notes_full_title_inline.html" %}   
    </td>              
{% endblock %} 


{% block note_full_table_td2%}  
    <td class=""note_full_table_td2""> 
         {% include "include/notes/inlines/notes_full_url_inline.html" %}   
    </td>       
{% endblock %} 
                  
		    
{% block full_display_div_extra %}
    <div  id="note_desc" title="note desc" class="structure">
        {% if user.username == profile_username %}<span class="editableText">{% endif %}
            {{note.desc}}
        {% if user.username == profile_username %}</span>{% endif %}
    </div>		   
{% endblock %} 	

		   



            
     