{% extends "include/note_list_base.html" %}
{% load i18n %}

{% block tite %}
<title>{{profile_username}}'s Bookmarks</title> 
{% endblock %}



{% block header %}
<div id="header">
<div id="branding">
<h1 id="site-name">{% blocktrans %}Notetbook of {{profile_username}}{% endblocktrans %}</h1>
</div>

<div class="book_tabs">
<span class="book_tabs_item" onclick="window.location.replace('/{{ profile_username }}/snippetbook/notes/')">{% trans "Snippets" %}</span>
<span class="book_tabs_item current" onclick="window.location.replace('/{{ profile_username }}/bookmarkbook/notes/')">{% trans "Bookmarks" %}</span>
<span class="book_tabs_item" onclick="window.location.replace('/{{ profile_username }}/scrapbook/notes/')">{% trans "Scraps" %}</span>
<span>  
<a href="/{{ profile_username }}/notebook/notes/">{% trans "All" %}</a> </span> <span class="disabled" style="float:right;"><a href="../linkagenotes">{% trans "linkiages" %}</a></span>
</div>
</div>
{% endblock %}





{% block special_side_menu %}
{% include "bookmarkbook/notes/folders_special_side_menu.html" %} 
{% include "include/groups_menu.html" %}
{% include "include/friends_menu.html" %}
{% endblock %}




{% block import_menu %}

{% endblock %}