{% extends "include/base_mini_no_cache.html" %}
{% load i18n %}





{% block extra_css %}

{% endblock %}


{% block extra_script %}
<script type="text/javascript">
        function show_more_section(){ 
                    $('div#more_section').show();	
                    $('.show_more_section').hide(); 
                    $('.hide_more_section').show();                    
                    return false;       
        }     
              
</script>
<script type="text/javascript">
$(document).ready(function(){	 
      //copied from base2.html
	    $("#ac_tags").tagit({
			    availableTags: [{% for tag in tags %}"{{tag}}",{% endfor %}],
                   allowSpaces: true
                  });  

    $("#ac_area_question_tags").tagit({
			    availableTags: [{% for tc in area_tags_with_count %}"{{tc.0}}",{% endfor %}],
                   allowSpaces: true
                  });  

            $("#ac_area_project_tags").tagit({
			    availableTags: [{% for tc in area_tags_with_count %}"{{tc.0}}",{% endfor %}],
                   allowSpaces: true
            });  


 $("#ac_groups").tagit({
			    availableTags: [{% for g in groups %}"{{g}}",{% endfor %}],
                   allowSpaces: true
                });     


   
      
            
            $('#addGroups2AreaForm').hide();
            
            $('span.area_group_add').click(function(){	
                $('#addGroups2AreaForm').toggle();
            });   
    
            $('#addQuestionForm').hide();
            
            $('span.area_question_add').click(function(){	
                $('#addQuestionForm').toggle();
            });   
    
    $('#addProjectForm').hide();
            
            $('span.area_project_add').click(function(){	
                $('#addProjectForm').toggle();
            });  
    
    
    
    
      $('span#area_delete_group').click(function(){    
                   var area_name = $(this).parents('div[area_name]').attr('area_name');
                    $(this).parents("span[group_id]").remove();
                    $.post('/{{user.username}}/areas/area/'+area_name+'/removeGroupFromArea/',{'group_id':$(this).parents('span[group_id]').attr('group_id') }, groupDeleted, 'json');
                   
                });
                
                function groupDeleted(result){
                        $('ul.messages').append('<li class="'+result.type+'">'+result.msg+'</li>');                
                
                }
                
                
               


//below coped from base2.html
     //below are copied from add bookmark button page. TODO: merge and clean up
              $('.hide_more_section').hide(0);
   
   $('.hide_more_section').click(function(){
                    $('div#more_section').hide();
             		$(this).hide();   
                    $('.show_more_section').show();                  
                    return false;
        });
		
    $('.show_more_section').click(function(){
                    $('div#more_section').show();	
                    $(this).hide();   	
                    $('.hide_more_section').show();                    
                    return false;
        });               
                
                
                
        	});   

        
	
</script>
{% endblock %}

{% block title %}
{{profile_username}} {% trans "'s Learning Area" %} : {{area.name}}
{% endblock %}


{% block site_branding %}
<a href="/social/{{profile_username}}/">{{profile_username}}</a>{% trans "'s Learning Area" %} : <b>{{area.name}} </b>

{% endblock %}


{% block content%}
<div>{{area.desc}}
{% if area.private %} <span class="lock_noclick" title="{% trans 'private'  %}" style="display:{% if area.private %}inline{% else %}none{% endif %};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              
                                   </span> 
{% else %} <span class="unlock_noclick" title="{% trans 'public'  %}" style="display:{% if area.private %}none{% else %}inline{% endif %};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          
                </span>        
{% endif %}  
</div>
<br/>
<a href="/{{profile_username}}/areas/">{% trans "View all of " %}{{profile_username}} {% trans "'s Learning Areas" %}</a>
<br/><br/>


<div area_name="{{area.name}}">

<div class="padded">
 <b>{% trans "Root tag tree" %}:</b> <a href="/{{profile_username}}/tagframes/tagframe/{{area.root_tag_frame.name}}/" target="_blank">{{area.root_tag_frame.name}}</a>
 </div>

<div class="padded">
 <b>{% trans "Root frame" %}:</b> {% if user.username == profile_username %}<a href="/{{profile_username}}/framebook/notes/note/{{area.root_note_frame.id}}/" target="_blank">{% else %}<a href="/social/{{profile_username}}/framebook/notes/note/{{area.root_note_frame.get_social_note.id}}/">{% endif %}{{area.root_note_frame.title}}</a>
 </div>
  {% comment %}need to do the same url change too for the links below depending on the owner or other viewers {% endcomment %}
 
 
 <div class="padded">
  <b> {% trans "All the tags in this area" %}:  </b>
  {% for t in area_tags_with_count %}
    <a href="/{{profile_username}}/notebook/notes/tags/{{t.0}}/" target="_blank">{{t.0}} ({{t.1}})</a>,
  {% endfor %}
  </div>

<div class="padded">
  <b>{% trans "View all notes in this learning area" %}:</b>
  <table><tr/>
<td>{% if user.username == profile_username %}{{area.get_snippets.count}} {% else %}{{area.get_public_snippets.count}}{% endif %}<br/><a href="{{book_uri_prefix}}/snippetbook/notes/" target="_blank">{% trans "Snippets" %}<br/><img src="/site_media/img/Snippet.png" title="Snippet"/></a></td>
<td>{{area.get_public_bookmarks.count}}<br/><a href="{{book_uri_prefix}}/bookmarkbook/notes/" target="_blank">{% trans "Bookmarks" %}<br/><img src="/site_media/img/Bookmark.png" title="Bookmark"/></a></td>
<td>{{area.get_public_scraps.count}} <br/><a href="{{book_uri_prefix}}/scrapbook/notes/" target="_blank">{% trans "Scraps" %}<br/><img src="/site_media/img/Scrap.png" title="Scrap"/></a></td>
<td>{{area.get_public_frames.count}}<br/><a href="{{book_uri_prefix}}/framebook/notes/" target="_blank">{% trans "Frames" %}<br/><img src="/site_media/img/Frame.png" title="Frame"/></a></td>
<td>{{area.get_public_notes.count}}<br/><a href="{{book_uri_prefix}}/notebook/notes/" target="_blank">{% trans "All" %}</a></td>
</tr></table>
  </div>
  
  
  <div class="padded">
  <b>{% trans "View the learning recources in this area" %}: </b>
  <ul>
  {% for r in resource_tags_with_count %}
  <li>
      {{r.0}} ({{r.1}}):  
      {% for ra in r.2 %}
            <a href="/{{profile_username}}/notebook/notes/?q=t%3A{{r.0}}%26t%3A{{ra.0}}&get_resource=y" target="_blank">{{ra.0}} ({{ra.1}})</a>,
      {% endfor %}
  </li>    
  {% endfor %}
  </ul>
  
   </div>
  
  
<div class="padded">
  <b>{% trans "Project set in this area" %} <a href="/social/leon/snippetbook/notes/note/17743/" title="{% trans "Click to see how these projects are generated." %}"  target="_blank"><img src="/media/img/admin/icon-unknown.gif"/></a>:</b> 
  {% for ptq in area_project_tags_with_count %}
      <a href="/{{profile_username}}/notebook/notes/?q=t%3A{{ptq.0}}%26t%t%3Aprojects" target="_blank">{{ptq.0}} ({{ptq.1}})</a>,
  {% endfor %}
  <br/>
<span class="area_project_add" title="{% trans "Add a project" %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<form action="addProject/" method="post" id="addProjectForm"> 

 <textarea id="project" rows="3" cols="85" name="project" placeholder="{% trans "Write your project here" %}"></textarea>   
<br/>
{% trans "Must enter at least one tag, and it must be one of the area tags above" %}: 
<span>   
    <ul id="ac_area_project_tags"></ul>     
</span> 
<input type="submit" value="{% trans 'Add Project' %}"/>
</form> 
</div>  
  
  
<div class="padded">
  <b>{% trans "Question set in this area" %} <a href="/social/leon/snippetbook/notes/note/16793/" title="{% trans "Click to see how these questions are generated." %}"  target="_blank"><img src="/media/img/admin/icon-unknown.gif"/></a>:</b> 
  {% for tq in area_question_tags_with_count %}
      <a href="/{{profile_username}}/snippetbook/notes/?q=t%3A{{tq.0}}%26t%3Aquestion" target="_blank">{{tq.0}} ({{tq.1}})</a>,
  {% endfor %}
  <br/>
<span class="area_question_add" title="{% trans "Ask a question" %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<form action="addQuestion/" method="post" id="addQuestionForm"> 

 <textarea id="question" rows="3" cols="85" name="question" placeholder="{% trans "Write your question here" %}"></textarea>   
<br/>
{% trans "Must enter at least one tag, and it must be one of the area tags above" %}: 
<span>   
    <ul id="ac_area_question_tags"></ul>     
</span> 
<input type="submit" value="{% trans 'Add Question' %}"/>
</form> 
</div>
  
<div class="padded">
  <b>{% trans "Learning groups in this area" %}:</b>
  {% for g in area.get_groups %}
    <span group_id="{{g.id}}"><a href="/groups/{{g.id}}/" target="_blank">{{g.name}}</a>
    &nbsp;
   {% if user.username == profile_username %}  
         <span title="{% trans "remove this group" %}" class="inline_delete"  id="area_delete_group">&nbsp;&nbsp;&nbsp;</span>
   {% endif %}     
    , &nbsp;
    </span>
    {% endfor %}
{% if user.username == profile_username %}    
<br/>
<span class="area_group_add" title="{% trans "Add Group" %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<form action="addGroups2Area/" method="post" id="addGroups2AreaForm"> 
<div>   
    <ul id="ac_groups"></ul>     
</div> 
<input type="submit" value="{% trans 'Add Group' %}"/>
</form> 
{% endif %}
</div>

</div>


<br/>
{% if user.username == profile_username %}  
<p> 
<a href="javascript:void(0);" onclick="javascript:show_more_section();">{% trans "Edit the learning area" %}:</a>
<span class="show_more_section"><img title="" src="/site_media/img/right-arrow.jpg"/></span><span class="hide_more_section"><img title="" src="/site_media/img/down-arrow.jpg"/></span> 
</p>
<div id="more_section" style="display:none;">
<form action="" method="post" enctype="multipart/form-data" id="editAreaForm">

 <input type="hidden" name="id" value="{{area.id}}"/>
<p>   
               {% trans "Name" %} <span class="required">*</span>: 
                {{ editAreaForm.name.errors }}
               {{editAreaForm.name}}
    </p>

   
      <p>
        {% trans "Root frame" %}<span class="required">*</span>:   
    <input type="text" name="root_note_frame" value="{{editAreaForm.root_note_frame.value}}" placeholder="{% trans "Enter a frame's id" %}" /> <a href="http://www.91biji.com/social/leon/snippetbook/notes/note/15929/" target="_blank"><img src="/media/img/admin/icon-unknown.gif" title="{% trans 'Click to see what is note id' %}"  /></a>
    </p>
    
     <div>   
   {% trans "Root tag tree" %}  ({% trans "Enter only 1 tag tree in the input box." %}{% trans "And it has to be an existing tag tree." %} )<span class="required">*</span>:  
   {{ editAreaForm.root_tag_frame.errors }}
    <ul id="ac_tags">
           
                        <li>{{area.root_tag_frame.name}}</li>
            
    </ul> 
    </div>
      
    <p>
        {% trans "Description" %}:  {{editAreaForm.desc}}
    </p>
    <p>
        {% trans "Private" %}:  {{editAreaForm.private}}
    </p>
    
<input type="submit" value="{% trans 'Add' %}"/>
</form> 
</div>
{% endif %}

{% endblock %}