{% extends "include/base2.html" %}
{% load i18n %}


{% block title %}
{% trans "Areas" %}
{% endblock %}


{% block site_branding %}
<div id="branding">
{% trans "Areas" %}
</div>
{% endblock %}





{% block content%}


{% for area in areas %}		
<span class="areas_block"> 
<span class="area_title"><a href="/{{area.owner}}/areas/area/{{area.owner_area_id}}/">{{area.name}}</a> </span>
	
<br/><br/>
{% trans "owner" %}: <a href="/social/{{area.owner}}/">{{area.owner}}</a> <br/>
{{area.num_of_notes}}     {% trans "notes" %}  <br/>
{% trans "tags" %} : {{area.area_tags}}
</span>

{% endfor %}



{% endblock %}