{% extends "include/base2.html" %}
{% load i18n %}


{% block content%}
<div>
<b>Tag id:</b> {{tag.id}}
</div>
<div>
<b>Tag name:</b> {{tag.name}}
</div>
<div>
<b>private:</b> {{tag.private}}
</div>
<div>
<b>delete:</b> {{tag.delete}}
</div>

    <div>{% trans "Other related tags" %}:
     {% for t in tag.related_tags %}
    <a href="/{{user.username}}/notebook/notes/?q=t%3A{{t.0}}+%26+t%3A{{tag.name}}" target="top">{{t.0}}</a> ({{t.1}})  
    {%comment%}The encoded part is:    t:{{t.0}} & t:{{tag.name}}  , might use urlenode{%endcomment%}   
    {% endfor %}
    </div>

<br/><br/>

<div>
<span>Edit this tag:</span>
<div>
<form action="updateTag/" method="post" id="updateTagForm">
{{tag_form.as_p}}
<input type="submit" value="Submit" />
</form> 
</div>
</div>

{% endblock %}
