{% extends "include/base2.html" %}
{% load i18n %}



{% block title %}
{% trans "Group" %} {{group.name}} {% trans "Admin" %} 
{% endblock %}


{% block site_branding %}
<div id="branding">
<h1 id="site-name">{% trans "Group" %} {{group.name}} {% trans "Admin" %} </h1>
</div>
{% endblock %}









{% block content%}

<div><a href="/{{user.username}}/groups/">{% trans "View all groups" %}</a>
</div>
<!--TODO: so far, don't implement renaming and removing the group-->
<div style="display:none;">{% trans "Group Name" %}: <span class="editableText">{{group.name}}</span> <button onclick="removeGroup/">{% trans "remove this group" %}</button>
</div>
<br/><br/>
<div> {{group.private|yesno:"private, public, public"}} {% trans "group" %} <a href="/groups/{{group.id}}/">{{group.name}}</a>
</div>
<div class="padded">{{group.desc}}
</div>
<br/><br/>
<p> 
<a href="javascript:void(0);" onclick="javascript:show_more_section();">{% trans "Update group info" %}:</a>
<span class="show_more_section"><img title="" src="/site_media/img/right-arrow.jpg"/></span><span class="hide_more_section"><img title="" src="/site_media/img/down-arrow.jpg"/></span> 
</p>
<div id="more_section" style="display:none;">
<form action="updateGroup/" method="post" enctype="multipart/form-data" id="updateGroupForm">
{% trans "Group basic info" %} :
               {{ editGroupForm.as_p }}
            <input type="submit" value="{% trans 'Update' %}"/>   
</form>             
</div>
    <br/><br/>
<div>
{% trans "Group Members:" %}
<ul>
{% for m in group.members.all %}		
<li member_id="{{m.id}}" group_name="{{group.name}}" group_id={{group.id}}>
<a href="/social/{{m}}/">{{m.username}}</a> 
&nbsp;&nbsp;&nbsp;&nbsp;{% if m in group.admins.all %}{% trans "admin" %}{% endif %} 
&nbsp;&nbsp;&nbsp;&nbsp;{% if m == group.creator %}{% trans "creator" %}{% endif %} 
{% if m != group.creator %}<span title="{% trans "remove this member" %}" class="inline_delete" id="group_delete_member">&nbsp;&nbsp;&nbsp;</span>
{% endif %} 
</li>
{% endfor %}
<li>
{% comment %}below is for testing purpose now{% endcomment %}
{% if group.private and user.member = group.creator or user.username == 'leon' %}
<form action="addUsers2Group/" method="post" id="addUsers2GroupForm"> 
<div>   
    <ul id="ac_users2"></ul>     
</div> 
<input type="submit" value="{% trans 'Add Users' %}"/>
</form> 
{% endif %} 

<form action="inviteUsers2Group/" method="post" id="inviteUsers2GroupForm"> 
<div>   
    <ul id="ac_users"></ul>     
</div> 
<input type="submit" value="{% trans 'Invite Users' %}"/>
</form> 

</li>
</ul>



</div>




<div>
{% trans "Group Tags" %}:
<ul>
{% for t in group.tags.all %}		
<li tag_id="{{t.id}}">
<a href="/groups/{{group.id}}/snippetbook/tags/{{t}}/">{{t.name}}</a> 
{% if "sharinggroup" not in t.name %}
<span title="{% trans "remove this tag" %}" class="inline_delete" id="group_delete_tag">&nbsp;&nbsp;&nbsp;</span>
{% endif %} 
</li>
{% endfor %}
<li>

<form action="addTags2Group/" method="post" id="addTags2GroupForm"> 
<div>   
    <ul id="ac_tags"></ul>     
</div> 
<input type="submit" value="{% trans 'Add Tags' %}"/>
</form> 

</li>
</ul>




</div>
<!--
<div class="aside"> 




</div>

</div> 
-->
{% endblock %}