{% extends "include/note_list_base.html" %}
{% load i18n %}

{% block title %}
      {% trans "folders" %}
{% endblock %}



{% block site_branding %}
<div id="branding">
<h1 id="site-name">{% blocktrans %}{{profile_username}}'s Folder {{current_folder}}{% endblocktrans %}</h1>
</div>
{% endblock %}


{% block site_apps_menu %}
<div>
<span style="font-size:18px" class="noteshome"  onclick="window.open('/{{ profile_username }}/snippetbook/notes/', '_self')">{% trans "Snippets" %}</span>
  |   
<a href="/{{ profile_username }}/bookmarkbook/notes/">{% trans "Bookmarks" %}</a>
  |   
<a href="/{{ profile_username }}/scrapbook/notes/">{% trans "Scraps" %}</a>
<span class="disabled">  |
<a href="/{{ profile_username }}/notebook/notes/">{% trans "All" %}</a> </span> <span class="advanced" style="float:right;"><a href="../linkagenotes">{% trans "linkiages" %}</a></span>
</div>
{% endblock %}


{% block help_message_if_none %}
{% include "include/folders_help_message_if_none.html" %} 
{% endblock %}

<!--
{% block special_side_menu %}
{% include "include/folders_ special_side_menu.html" %} 
{% endblock %}
-->


{% block content%}
<div id="content-main"> 
<div> 
{% if folders %} 
{% if not current_folder %} 
{% trans "Please select a folder from the right menu." %}
{% else %}
{% include "notes/notesdisplay.html" %}
{% endif %}
{% endif %}
</div>
</div> 
{% endblock %}
