{% extends "include/note_list_base.html" %}
{% load i18n %}

{% block tite %}
<title>{{profile_username}}'s Snippets</title> 
{% endblock %}


{% block site_branding %}
<div id="branding">
<h1 id="site-name">{% blocktrans %}Notetbook of {{profile_username}}{% endblocktrans %}</h1>
</div>
{% endblock %}

{% block site_apps_menu %}

<div>
<a href="/{{ profile_username }}/snippetbook/notes/">{% trans "Snippets" %}</span>
  |   
<a href="/{{ profile_username }}/bookmarkbook/notes/">{% trans "Bookmarks" %}</a>
  |   
<a href="/{{ profile_username }}/scrapbook/notes/">{% trans "Scraps" %}</a><!--
  |
<span style="font-size:18px" class="noteshome"  onclick="window.open('/{{ profile_username }}/notebook/notes/', '_self')">{% trans "All" %}</span>  
</div>
-->
<!--TODO: refactor-->
<!--
<div>
{% if aspect_name == 'notes' %}
 <span style="font-size:18px" class="noteshome"  onclick="window.open('/{{ profile_username }}/snippetbook/notes/', '_self')">{% trans "Notes" %}</span>
 {% else %}
<a href="/{{ profile_username }}/snippetbook/notes/">{% trans "Notes" %}</a>
{% endif %}  |   
{% if aspect_name == 'linkagenotes' %}
 <span style="font-size:18px">{% trans "Linkages" %}</span>
 {% else %}
<a href="/{{ profile_username }}/snippetbook/linkagenotes/">{% trans "Linkages" %}</a> 
{% endif %}  |   
{% if aspect_name == 'folders' %}
 <span style="font-size:18px">{% trans "Folders" %}</span>
 {% else %}
<a href="/{{ profile_username }}/snippetbook/folders//">{% trans "Folders" %}</a>    
{% endif %}     
</div>
-->
{% endblock %}