{% extends "include/notedisplay.html" %}
{% load i18n %}

{% block note_type%}
<div>
<h2>{{note.get_note_type}}{%comment%}translate{%endcomment%}</h2>
</div>
{% endblock %}



{% block note_url%}
 {% if note.get_note_type == 'Bookmark' %} 
<div>
<b>URL :</b> <a href="{{note.bookmark.url}}" target="top">{{note.bookmark.url}}</a>
</div>
{% endif %}
 {% if note.get_note_type == 'Scrap' %} 
<div>
<b>URL :</b> <a href="{{note.scrap.url}}" target="top">{{note.scrap.url}}</a>
</div>
{% endif %}
{% endblock %}


{% block note_deleted%}
 {% if note.deleted %} 
<div>
<b>{% trans 'deleted' %} :</b> {{note.deleted|yesno:"yeah,no,maybe" }}
</div>
{% endif %}
{% endblock %}

{% block note_attachment%}
 {% if note.get_note_type == 'Snippet' %} 
<div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.snippet.attachment.name}}" target="top">{{note.snippet.attachment}}</a>
</div>
{% endif %}
 {% if note.get_note_type == 'Frame' %} 
 <div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.frame.attachment.name}}" target="top">{{note.frame.attachment}}</a>
</div>
 {% endif %}
{% endblock %}


{% block notes_in_frame%}
 {% if note.get_note_type == 'Frame' %} 
 <div>
 {% trans 'Notes included in this frame' %} :
 {% for n in notes_included %}
<a href="/{{url_front}}/notebook/notes/note/{{n.id}}/">{{n.id}}</a>,
{% empty %}
{% trans 'No Notes included' %} .
{% endfor %}
 </div>
 {% endif %}
 {% endblock %}
 
 
{% if note.get_note_type == 'Frame' %} 
{% block note_form_tags%}
{% endblock %}
{% block note_form_vote%}
<input type="hidden" name="vote" value="{{note.vote}}" id="id_vote" />
{% endblock %}
{% endif %}
  




