{% extends "include/notes_display.html" %}
{% load i18n %}

{% block note_content_section%}
<div class="notebook">
<div class="brief_display">
         <table class="note_table"><tr><td><img src="/site_media/img/{{note.get_note_type}}.png" title="{{note.get_note_type}}"/></td><td class="note_table_td1 structure"> 
            <div id="note_title" title="{% trans 'note title' %}"><a href="/{{profile_username}}/{{note.get_note_bookname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a>
             {% if note.get_note_type == 'Bookmark' %} 
                <a href="{{note.bookmark.url}}"><img src="/site_media/img/openurl.png" class=""/></a>
             {% endif %}
             {% if note.get_note_type == 'Scrap' %}
                <a href="{{note.scrap.url}}"><img src="/site_media/img/openurl.png" class=""/></a>
             {% endif %}
            </div> 		    
		    </td><td class="note_table_td2">
		    <div  id="note_desc" title="{% trans "note desc" %}">{{note.desc}}</div>		   
		    </td>
		    <td class="note_table_tags">
		    <div id="note_tags" title="{% trans "note tags" %}">
                {% for tag in note.get_tags %}
                    <span><a href="/{{profile_username}}/{{bookname}}/notes/tags/{{tag}}/">{{tag}}</a>,</span>
                {% endfor %}
            </div>
		    </td>   
            <td class="note_table_td4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    </td>            
		    </tr>
        </table>
</div>


<div class="full_display">
 <table class="note_table"><tr><td><img src="/site_media/img/{{note.get_note_type}}.png" title="{{note.get_note_type}}"/></td><td class="note_table_td1 structure">
            <div id="note_title" title="{% trans "note title" %}">{% if user.username == profile_username %}<span class="editableText">{% endif %}<a href="/{{profile_username}}/{{note.get_note_bookname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a>{% if user.username == profile_username %}</span>{% endif %}
              {% if note.get_note_type == 'Bookmark' %} 
                <a href="{{note.bookmark.url}}"><img src="/site_media/img/openurl.png" class=""/></a>
             {% endif %}
             {% if note.get_note_type == 'Scrap' %}
                <a href="{{note.scrap.url}}"><img src="/site_media/img/openurl.png" class=""/></a>
             {% endif %}
             </div> 		    
		    </td><td class=""note_table_td2"">
		    <div  id="note_desc" title="{% trans "note desc" %}">{% if user.username == profile_username %}<span class="editableText">{% endif %}{{note.desc}}{% if user.username == profile_username %}</span>{% endif %}</div>		   
		    </td>
		    <td class="note_table_tags">
		    <div id="note_tags" title="{% trans "note tags" %}">{% if user.username == profile_username %}<span class="editableText">{% endif %}{{note.display_tags}}{% if user.username == profile_username %}</span>{% endif %}</div>
		    </td>
		    </tr>
		    </table>
        

           <div>
        <!--Don't display notes included for now, since it requre adding them for each frame in the view.py code, which may slow down the performance      
		    {% if note.get_note_type == 'Frame' %}
           <div  id="notes_included">
           Notes included in the frame: 
            {% if user.username == profile_username %}      
            {{note.frame.display_notes}}
               {% for id, title, desc, vote in note.frame.display_notes %}    
                <div linked_note_id="{{n.0}}">show me
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{id}}"><strong>{{title|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{desc|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
                                <span title="remove this note from the frame" class="inline_delete" id="linkage_delete_note">&nbsp;&nbsp;&nbsp;</span>
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.frame.display_public_notes  %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{n.0}}"><strong>{{n.1|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                              </span>
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
           </div>
            {% endif %}
           </div>
            --> 
           
            <div  id="note_init_date" title="{% trans "initial creation time" %}" class="grey">{% if user.username == profile_username %}<span  class="editableText">{% endif %}{{note.init_date|date:"Y-m-d H:i"}}{% if user.username == profile_username %}<span>{% endif %}</div>
            <div class="grey structure" id="note_last_modi_date" title="{% trans "last modified time" %}">{{note.last_modi_date|date:"Y-m-d H:i"}} </div>
            {% if note.attachment %}
		    <div  id="note_attachment" title="{% trans "attachment" %}"><a href="/file/{{note.attachment.name}}" target="top">{{note.attachment.name}}</a> </div>
		    {% endif %}
            <!--
             <div  id="note_linkages" title="{% trans "note linkages" %}">Linkages: {{note.display_linkages|default:'Not in any linkages'}}</div>
             -->
             
              {% include "include/add_comments_inline.html" %}   
</div>
</div>

{% endblock %}