{% load i18n %}

<form id="search" action="/{{profile_username}}/{{bookname}}/{{aspect_name}}/" method="get">      
		<label for="searchbar"><img src="/media/img/admin/icon_searchbox.png" alt="Search" /></label> 
		<input type="text" size="23" name="q" value="" id="searchbar"  placeholder="{% trans "search all notes"  %}" /> 
		<input type="submit" value="{% trans "Search"  %}" />  	
</form>
<a href="javascript:alert('Not implemented yet!');" class="NotImplementedYet">{% trans "Or Search on comments"  %}</a>

<script> 
$(function(){
    //$('form').prettyField();
    $('.guide a.close').click(function(e) {
        e.preventDefault();
        $.post_withck('/j/accounts/hidetip',{kind: $(this).next().val()}, function(r){});
        $(this).parent().fadeOut('normal');
    });
});
</script> 