{% extends "include/note_list_base.html" %}
{% load i18n %}


{% block tite %}
<title>{% blocktrans %}Notetbook of {{profile_username}}{% endblocktrans %}</title> 
{% endblock %}



{% block site_branding %}
<div id="branding">
<h1 id="site-name">{% blocktrans %}Notetbook of {{profile_username}}{% endblocktrans %}</h1>
</div>
{% endblock %}



{% block search_box %}
{% include "bookmarkbook/notes/search.html" %}
{% endblock %}





{% block special_side_menu %}
{% include "snippetbook/notes/folders_special_side_menu.html" %} 
{% include "include/groups_menu.html" %}
{% include "include/friends_menu.html" %}
{% endblock %}




{% block content%}



<div id="tabs">
    <ul>        
        <li><a href="/leon/snippetbook/notes/"><span>One</span></a></li>
        <li><a href="/leon/bookmarkbook/notes/"><span>Two</span></a></li>      
        <li><a href="/leon/scrapbook/notes/"><span>Three</span></a></li>
    </ul>   
 </div>    









{% endblock %}
