{% load i18n %}




  <ul class="tag_menu">
  <li>
  {% if not current_tag %}    
<span style="font-size:18px">{% trans "all tags" %}</span>  
  {% else %}
  <span><a href="/groups/{{group.name}}/{{bookname}}/">{% trans "all tags" %}</a> </span> 
 {% endif %}
 </li>
 


{% for tag in tags %}
    {% ifnotequal tag.name current_tag %}
    <li>
        <span>
            <a href="/groups/{{group.name}}/{{bookname}}/tags/{{tag.name}}/">{{tag.name}}</a> 
            ({{tag.note_count}})
        </span>
     </li>   
     {% endifnotequal %}
     {% ifequal tag.name current_tag %}
     <li>
       <span style="font-size:18px"> {{tag.name}}  
            ({{tag.note_count}})
       </span>
     </li>   
     {% endifequal %}     
{% endfor %}    
</ul>









