{% extends "include/notes/note/notedisplay.html" %}
{% load i18n %}


  {%comment%}This cannot be reached from site navigation, since all are directed to their specific note type display page. TODO:delete this file.{%endcomment%}

{% block note_type%}
<span>{% trans 'Note Type' %}:  
             <a href="{{book_uri_prefix}}/{{note.get_note_bookname}}/notes/note/{{note.id}}/"><img src="/site_media/img/{{note.get_note_type}}.png" title="{{note.get_note_type}}"/></a>
                {%comment%}translate{%endcomment%}</span>
</div>
{% endblock %}



{% block note_url%}
 {% if note.get_note_type == 'Bookmark' %} 
<div>
<b>URL :</b> <a href="{{note.bookmark.url}}" target="_blank">{{note.bookmark.url}}</a>
</div>
{% endif %}
 {% if note.get_note_type == 'Scrap' %} 
<div>
<b>URL :</b> <a href="{{note.scrap.url}}" target="_blank">{{note.scrap.url}}</a>
</div>
{% endif %}
{% endblock %}


{% block note_deleted%}
 {% if note.deleted %} 
<div>
<b>{% trans 'deleted' %} :</b> {{note.deleted|yesno:"yeah,no,maybe" }}
</div>
{% endif %}
{% endblock %}

{% block note_attachment%}
 {% if note.get_note_type == 'Snippet' %} 
<div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.snippet.attachment.name}}" target="_blank">{{note.snippet.attachment}}</a>
</div>
{% endif %}
 {% if note.get_note_type == 'Frame' %} 
 <div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.frame.attachment.name}}" target="_blank">{{note.frame.attachment}}</a>
</div>
 {% endif %}
{% endblock %}


{% block notes_in_frame%}
 {% if note.get_note_type == 'Frame' %} 
 <div>
 {% trans 'Notes included in this frame' %} :
 {% for n in notes_included %}
<a href="{{book_uri_prefix}}/notebook/notes/note/{{n.id}}/">{{n.id}}</a>,
{% empty %}
{% trans 'No Notes included' %} .
{% endfor %}
 </div>
 {% endif %}
 {% endblock %}


{% block note_form_tags%}
{% if note.get_note_type == 'Frame' %} 
{% else %}
<p>{{ note_form.tags.label_tag }}: {{note_form.tags}}</p>
{% endif %}
{% endblock %}

{% block note_form_vote%}
{% if note.get_note_type == 'Frame' %} 
<input type="hidden" name="vote" value="{{note.vote}}" id="id_vote" />
{% else %}
<p>{{ note_form.vote.label_tag }}: {{note_form.vote}}</p>
{% endif %}
{% endblock %}


{% comment %}
{% block note_form_url%}
{% if note.get_note_type == 'Bookmark'  or note.get_note_type == 'Scrap' %} 
<p> {{ note_form.url.label_tag }}: {{note_form.url}} </p> 
{% endif %}
{% endblock %}
{% endcomment %}

  




