{% extends "social/notesdisplay.html" %}
{% load i18n %}



{% block brief_display %}
<div class="bookmarkbook">
    <div class="brief_display">
         <table class="note_table"><tr>
            <td class="note_table_td1">
            <div id="note_title" title="{% trans 'note title' %}"><a href="/social/{{note.owner.username}}/{{note.get_note_bookname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a></div> 		    
		    </td>
            <td class="note_table_td2">
		    <div  id="note_url" title="note url"><a href="{{ note.url}}" target="_blank">{{note.url}}</a></div>	   
		    </td>
		    <td class="note_table_tags">
		   {% include "social/include/note_tags_inline.html" %}       
		    </td>
            <td><span id="note_owner" title="{% trans "snippet's owner"  %}"><a href="">{{note.owner.username}}</a></span>
            </td>
		    </tr>
        </table>
</div>
</div>
{% endblock %}




{% block full_display_td12 %}
           <td class="note_table_td1">
            <div id="note_title" title="{% trans 'note title' %}"><a href="/social/{{note.owner.username}}/{{note.get_note_bookname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a></div> 		    
		    </td>            
            <td class="note_table_td2">
		    <div  id="note_url" title="note url"><a href="{{ note.url}}" target="_blank">{{note.url}}</a></div>	   
		    </td>
{% endblock %} 
	   
{% block full_display_div_extra %}
<div  id="note_desc" title="note desc">{{note.desc}}</div>	
{% endblock %} 