{% extends "include/base2.html" %}
{% load i18n %}

{% block title %}
{% blocktrans %} Comments for {{profile_username}}{% endblocktrans %}
{% endblock %}



{% block content%}
{% blocktrans %} Comments for {{profile_username}}{% endblocktrans %}
<br/><br/>
{% trans "View by commenter:" %}

<select id="commenter_drop_down"  name="commenter">
{% if current_commenter == 'all' %}
            <option value="all" selected="selected">{% trans "All" %}</option>
 {% else %}
            <option value="all">{% trans "All" %}</option>
 {% endif %}  
{% for commenter in commenters %}	   
 {% if current_commenter == commenter %}
            <option value="{{commenter}}" selected="selected">{{commenter}}</option>
 {% else %}
            <option value="{{commenter}}">{{commenter}}</option>
 {% endif %}            
{% endfor %}
</select> 


<ul>
{% for comment in comments %}	
<li>
<div><a href="/social/{{comment.commenter.username}}/">{{comment.commenter.username}}</a>: {{comment.desc}}  <span class="grey">({{comment.init_date}})</span></div>
<div>
{% if comment.note.owner.username == profile_username %}	{% trans "on " %}{% if user.username == profile_username %}{% trans "your" %}{% else %}{{profile_username}}{% trans "'s" %}{% endif %}{% trans " note" %}
{% else %}{% trans "on " %}{% if user.username == profile_username %}{% trans "you" %}{% else %}{{profile_username}}{% endif %}{% trans " commented note" %}
{% endif %}:   
  <a href="/social/{{comment.note.owner.username}}/{{comment.note.get_note_bookname}}/notes/note/{{ comment.note.id }}">{% if comment.note.desc %}{{comment.note.desc}}{% else %}{{comment.note.title|default:_('(No Title)')}}{% endif %}</a></div>
</li>
{% endfor %}
</ul>
{% endblock %}