{% extends "include/base2.html" %}
{% load i18n %}


{% block title %}
{% blocktrans %} {{user}}'s Friends {% endblocktrans %}
{% endblock %}


{% block site_branding %}
<div id="branding">
<h1 id="site-name">{% blocktrans %} {{user}}'s Friends {% endblocktrans %}</h1>
</div>
{% endblock %}


{% block content%}

<div>
<br/><br/><br/>
{% blocktrans %}Friends of {{user}} {% endblocktrans %}:  {% if user.username == profile_username %}<a href="/{{profile_username}}/friends/snippetbook/notes/">{% trans "view all" %}</a>{% endif %}
{% for f in user.member.get_friends %}		
<li>
<a href="/social/{{f.username}}/">{{f.username}}</a><!--TODO:nickname-->
</li>
{% endfor %}
</div>

{% endblock %}