{% extends "include/note_list_base.html" %}
{% load i18n %}



{% block tite %}
<title>{% blocktrans %} {{user}}'s Groups Notes{% endblocktrans %}</title> 
{% endblock %}



{% block header %}
<div id="header">
<div id="branding">
<h1 id="site-name">{% blocktrans %} {{user}}'s Groups Notes{% endblocktrans %}</h1>
</div>
<div class="book_tabs">
<span class="book_tabs_item {% if bookname == 'snippetbook' %}current{% endif %} " onclick="window.location.replace('/{{user.username}}/groups/snippetbook/')">{% trans "Snippets" %}</span>
<span class="book_tabs_item {% if bookname == 'bookmarkbook' %}current{% endif %} " onclick="window.location.replace('/{{user.username}}/groups/bookmarkbook/')">{% trans "Bookmarks" %}</span>
<span class="book_tabs_item {% if bookname == 'scrapbook' %}current{% endif %} " onclick="window.location.replace('/{{user.username}}/groups/scrapbook/')">{% trans "Scraps" %}</span>
<span class="disabled">  |
<a href="/{{ profile_username }}/notebook/notes/">{% trans "All" %}</a> </span> <span class="disabled" style="float:right;"><a href="../linkagenotes">{% trans "linkiages" %}</a></span>
</div>
</div>
{% endblock %}






{% block tags_menu %}
{% include "social/tags_menu.html" %} 
{% endblock %}


{% block search_box %}
{% include "social/search_in_groups_notes.html" %}
{% endblock %}


{% block special_side_menu %}

{% endblock %}

{% block content%}


<div id="content-main"> 


<div>

{% if bookname == 'snippetbook' %}  
    {% include "social/snippetsdisplay.html" %}
{% endif %} 
{% if bookname == 'bookmarkbook' %}  
   {% include "social/bookmarksdisplay.html" %}
{% endif %}  
{% if bookname == 'scrapbook' %}  
   {% include "social/scrapsdisplay.html" %}
{% endif %}     

 
</div>

</div> 
<!--
<div class="aside"> 

<div>
{% trans "My Groups:" %}
<ul>
{% for g in gs %}		
<li>
<a href="/groups/{{g}}/">{{g}}</a>
</li>
{% endfor %}
</ul>

</div>


</div>

</div> 
-->
{% endblock %}