{% extends "include/base2.html" %}
{% load i18n %}


{% block title %}
{% blocktrans %} {{profile_username}}'s Public Profile {% endblocktrans %}
{% endblock %}


{% block site_branding %}
<div id="header">
<div id="branding">
<h1 id="site-name">{% blocktrans %} {{profile_username}}'s Public Profile {% endblocktrans %}</h1>
</div>
</div>
{% endblock %}


{% block content%}

<table class="my_table"><tr>
<td>
<div>
<div><a href="/settings/"><img src={% if  profile_member.icon %}"/file/{{profile_member.icon}}"
{% else %}
{% if  profile_member.gender == 'f' %}"/site_media/img/default_female.png"{% endif %} 
{% if  profile_member.gender == 'm' %}"/site_media/img/default_male.jpg"{% endif %} 
{% if  not profile_member.gender %}"/site_media/img/default_user_icon.jpg"{% endif %}{% endif %}/></a>
</div>
<br/>
<div>{{profile_member.username}}
</div>
<div>{{profile_member.last_name}}  {{profile_member.first_name}}
</div>
<div>{{profile_member.nickname}}
</div>
{% if  user.username == 'leon' %}
<div title="{% trans 'Last login time' %}">{{profile_member.last_login}}
</div>
{% endif %}
<br/>
<div>
<span class="clickable" onclick="window.location.replace('/messages/write/?recipients={{profile_member.username}}')"><img src="/site_media/img/email.png"/> {% trans "Private Message" %}</span>
</div>
<br/>
{% if  user.username == profile_member.username%}
<p><a href="/social/{{profile_username}}/commentsfor/">{% blocktrans %} Comments for {{profile_username}}{% endblocktrans %}</a></p>
<p><a href="/social/{{profile_username}}/commentsby/">{% blocktrans %} Comments by {{profile_username}}{% endblocktrans %}</a></p>
{% endif %}
</div>
</td>
<td>
<p>
{% if profile_username not in user.member.get_friends_names  and profile_username != user.username%}  
<form action="addFriend/" method="get">
<input type="submit" value="{% trans "Add Friend" %}"/>
</form>
{% endif %} 
{% if profile_username in user.member.get_friends_names  and profile_username != user.username%}  
<form action="removeFriend/" method="get">
<input type="submit" value="{% trans "Remove Friend" %}"/>
</form>
{% endif %} 
</p>

<br/><br/>

<table style="padding-left:0px; margin-left:0px;"><tr style="padding-left:0px; margin-left:0px;">
<td style="padding-left:0px; margin-left:0px;">
{% blocktrans %} view {{profile_username}}'s notebook {% endblocktrans %}: <a href="/social/{{profile_username}}/snippetbook/"><img src="/site_media/img/notebook-small.png"/></a>
</td>
{% comment %}get counts for others (such as group, personal notebook, area){% endcomment %}
<td>{{profile_member.get_public_snippets_count}} <br/><a href="/social/{{profile_username}}/snippetbook/notes/">{% trans "Snippets" %}<img src="/site_media/img/Snippet.png" title="Snippet"/></a></td>
<td>{{profile_member.get_public_bookmarks_count}}<br/><a href="/social/{{profile_username}}/bookmarkbook/notes/">{% trans "Bookmarks" %}<img src="/site_media/img/Bookmark.png" title="Bookmark"/></a></td>
<td>{{profile_member.get_public_scraps_count}} <br/><a href="/social/{{profile_username}}/scrapbook/notes/">{% trans "Scraps" %}<img src="/site_media/img/Scrap.png" title="Scrap"/></a></td>
<td>{{profile_member.get_public_frames_count}}<br/><a href="/social/{{profile_username}}/framebook/notes/">{% trans "Frames" %}<img src="/site_media/img/Frame.png" title="Frame"/></a></td>
<td>{{profile_member.get_public_notes_count}}<br/><a href="/social/{{profile_username}}/notebook/notes/">{% trans "All" %}</a></td>
</tr></table>



<p>{% blocktrans %} view {{profile_username}}'s tag tree {% endblocktrans %}: <a href="/{{profile_username}}/tagframes/"><img src="/site_media/img/tagtree-small.png"/></a></p>

<p>{% blocktrans %} view {{profile_username}}'s  {% endblocktrans %}<a href="/{{profile_username}}/areas/">{% trans "learning areas" %}</a>
{% for area in areas %}	
{% if  not area.private %}
<li>
<a href="/{{profile_username}}/areas/area/{{area.id}}/">{{area.name}}</a>
</li>
{% endif %}
{% endfor %}

</p>
<br/><br/>

    

<p>
{% blocktrans %} Groups created by {{profile_username}} {% endblocktrans %}:
{% for g in gs_created %}	
{% if  not g.private %}
<li>
<a href="/groups/{{g}}/">{{g}}</a>
</li>
{% endif %}
{% endfor %}
</p>


<p>
{% blocktrans %} Groups followed by {{profile_username}} {% endblocktrans %}:
{% for g in gs_following %}	
{% if  not g.private %}
<li>
<a href="/groups/{{g}}/">{{g}}</a>
</li>
{% endif %}
{% endfor %}
</p>


<p>
{% blocktrans %}Friends of {{profile_username}} {% endblocktrans %}:
{% for f in profile_user.member.get_friends %}		
<li>
<a href="/social/{{f.username}}/">{{f.username}}</a><!--TODO:nickname-->
</li>
{% endfor %}
</p>


</div>

</td>
</tr>
<table>

{% endblock %}




