{% extends "include/base2.html" %}
{% load i18n %}


{% block title %}
{% blocktrans %} {{profile_username}}'s Public Profile {% endblocktrans %}
{% endblock %}


{% block site_branding %}
<div id="header">
<div id="branding">
<h1 id="site-name">{% blocktrans %} {{profile_username}}'s Public Profile {% endblocktrans %}</h1>
</div>
</div>
{% endblock %}


{% block content%}

<table class="my_table"><tr>
<td>
<div>
<div><img src={% if  profile_member.icon %}"/file/{{profile_member.icon}}"
{% else %}
{% if  profile_member.gender == 'f' %}"/site_media/img/default_female.png"{% endif %} 
{% if  profile_member.gender == 'm' %}"/site_media/img/default_male.jpg"{% endif %} 
{% if  not profile_member.gender %}"/site_media/img/default_user_icon.jpg"{% endif %}{% endif %}/>
</div>
<div>{{profile_member.username}}
</div>
<div>{{profile_member.last_name}}  {{profile_member.first_name}}
</div>
<div>{{profile_member.nickname}}
</div>
{% if  user.username == 'leon' %}
<div>{{profile_member.last_login}}
</div>
{% endif %}
<br/>
<div>
<span class="clickable" onclick="window.location.replace('/messages/write/?recipients={{profile_member.username}}')"><img src="/site_media/img/email.png"/> {% trans "Private Message" %}</span>
</div>
<br/>
{% if  user.username == profile_member.username%}
<p><a href="/social/{{profile_username}}/commentsfor/">{% blocktrans %} Comments for {{profile_username}}{% endblocktrans %}</a></p>
<p><a href="/social/{{profile_username}}/commentsby/">{% blocktrans %} Comments by {{profile_username}}{% endblocktrans %}</a></p>
{% endif %}
</div>
</td>
<td>
<p>
{% if profile_username not in user.member.get_friends_names  and profile_username != user.username%}  
<form action="addFriend/" method="get">
<input type="submit" value="{% trans "Add Friend" %}"/>
</form>
{% endif %} 
</p>

<br/><br/>
<p>{% blocktrans %} view {{profile_username}}'s notebook {% endblocktrans %}: <a href="/social/{{profile_username}}/snippetbook/"><img src="/site_media/img/notebook-small.png"/></a></p>

<p>{% blocktrans %} view {{profile_username}}'s tag tree {% endblocktrans %}: <a href="/{{profile_username}}/tagframe/"><img src="/site_media/img/tagtree-small.png"/></a></p>
<br/><br/>
<div>
{% blocktrans %}Friends of {{profile_username}} {% endblocktrans %}:
{% for f in profile_user.member.get_friends %}		
<li>
<a href="/social/{{f.username}}/">{{f.username}}</a><!--TODO:nickname-->
</li>
{% endfor %}
</div>
    

<br/><br/>
<div>
{% blocktrans %} Groups created by {{profile_username}} {% endblocktrans %}:
{% for g in gs_created %}	
{% if  not g.private %}
<li>
<a href="/groups/{{g}}/">{{g}}</a>
</li>
{% endif %}
{% endfor %}
</div>


<br/><br/>
<div>
{% blocktrans %} Groups followed by {{profile_username}} {% endblocktrans %}:
{% for g in gs_following %}	
{% if  not g.private %}
<li>
<a href="/groups/{{g}}/">{{g}}</a>
</li>
{% endif %}
{% endfor %}
</div>


</div>

</td>
</tr>
<table>

{% endblock %}




