{% extends "social/notesdisplay.html" %}
{% load i18n %}



{% block brief_display %}
<div class="snippetbook">
    <div class="brief_display">
         <table class="note_table"><tr>
             <td class="note_table_td1 structure">
            <div id="note_title" title="{% trans 'note title' %}"><a href="/{{profile_username}}/{{appname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a></div> 		    
		    </td><td class="note_table_td2">
		    <div  id="note_desc" title="{% trans "note desc" %}">{{note.desc}}</div>		   
		    </td>
		    <td class="note_table_tags">
		    <div id="note_tags" title="{% trans "note tags" %}">
            {% if appname == 'groups' %}
                {% for tag in note.get_all_tags %}
                    {% if not tag.private or tag.name == group.get_group_tag_name %}
                        <span>{% if appname == 'groups' %}{{tag}}, {% else %}  <a href="/social/{{profile_username}}/{{bookname}}/tags/{{tag}}/">{{tag}}</a>, {% endif %}   </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for tag in note.get_tags %}
                    <span>{% if appname == 'groups' %}{{tag}}, {% else %}  <a href="/social/{{profile_username}}/{{bookname}}/tags/{{tag}}/">{{tag}}</a>, {% endif %}   </span>
                {% endfor %}  
            {% endif %}
            </div>            
		    </td>
            <td><span id="note_owner" title="{% trans "snippet's owner"  %}"><a href="/social/{{note.owner.username}}/">{{note.owner.username}}</a></span>
            </td>
		    </tr>
        </table>
</div>
</div>
{% endblock %}





{% block full_display_td12 %}          
            <td class="note_table_td1">
                <div id="note_title" title="{% trans 'note title' %}"><a href="/social/{{profile_username}}/{{note.get_note_bookname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a></div> 		    
            </td>
            <td class="note_table_td2">
                <div  id="note_desc" title="{% trans "note desc" %}">{{note.desc}}</div>		   
            </td>      
{% endblock %} 