{% extends "include/note_list_base.html" %}
{% load i18n %}




{% block tite %}
<title>{% blocktrans %}Public Notetbook of {{profile_username}}{% endblocktrans %}</title> 
{% endblock %}


{% block special_side_menu %}
{% include "social/folders_special_side_menu.html" %} 
{% endblock %}



{% block header %}
<div id="header">
<div id="branding">
<h1 id="site-name">{% blocktrans %}Public Notetbook of {{profile_username}}{% endblocktrans %}</h1>
</div>
<div class="book_tabs">
<span class="book_tabs_item {% if bookname == 'snippetbook' %}current{% endif %} " onclick="window.location.replace('/social/{{ profile_username }}/snippetbook/')">{% trans "Snippets" %}</span>
<span class="book_tabs_item {% if bookname == 'bookmarkbook' %}current{% endif %}" onclick="window.location.replace('/social/{{ profile_username }}/bookmarkbook/')">{% trans "Bookmarks" %}</span><span class="book_tabs_item {% if bookname == 'scrapbook' %}current{% endif %}" onclick="window.location.replace('/social/{{ profile_username }}/scrapbook/')">{% trans "Scraps" %}</span>
<span class="disabled">  |
<a href="/{{ profile_username }}/notebook/notes/">{% trans "All" %}</a> </span> <span class="disabled" style="float:right;"><a href="../linkagenotes">{% trans "linkiages" %}</a></span>
</div>
</div>
{% endblock %}





 
 

{% block content%}
<!--
<div class="grid-16-8" > 
<div class="article"> 
-->
<div id="content-main"> 
<div>


<!--For displaying folders, below is done a little different from personal notebook. Might merge the two. Also merge the naming, probably get rid of the name 'Folder'-->
{% if bookname == 'snippetbook' %}  
    {% if current_folder %} 
        <div id="folder_info">{% trans "Snippetbook based on a custom query" %}:&nbsp;&nbsp;  "{{current_folder.name}}"  &nbsp;&nbsp;=&nbsp;&nbsp;  {% trans "Searching" %} &nbsp;&nbsp; "{{current_folder.value}}"</div>
    {% endif %}   
    {% include "social/snippetsdisplay.html" %}
{% endif %} 
{% if bookname == 'bookmarkbook' %}  
    {% if current_folder %} 
        <div id="folder_info">{% trans "Bookmarkbook based on a custom query" %}: &nbsp;&nbsp; "{{current_folder.name}}"  &nbsp;&nbsp;=&nbsp;&nbsp;  {% trans "Searching" %} &nbsp;&nbsp; "{{current_folder.value}}"</div>
    {% endif %} 
   {% include "social/bookmarksdisplay.html" %}
{% endif %}  
{% if bookname == 'scrapbook' %}  
    {% if current_folder %} 
        <div id="folder_info">{% trans "Scrapbook based on a custom query" %}: &nbsp;&nbsp; "{{current_folder.name}}"  &nbsp;&nbsp;=&nbsp;&nbsp;  {% trans "Searching" %} &nbsp;&nbsp;  "{{current_folder.value}}"</div>
    {% endif %} 
   {% include "social/scrapsdisplay.html" %}
{% endif %}     

</div> 
</div> 

{% endblock %}
