{% load i18n %}


<span class="tag_section">
<span class="tags_img"><img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/></span>
<span class="show_tags_section"><img title="{% trans "Show tags" %}" src="/site_media/img/right-arrow.jpg" class="click_img"/></span><span class="hide_tags_section"><img title="{% trans "Hide tags" %}" src="/site_media/img/down-arrow.jpg" class="click_img"/></span> 

<div class="module tag_menu_box"> 
        <h2>{% trans "Tags" %}      
        
<!--
<span class="setting-in-r-menu"><a href="/settings/tags/">{% trans "Settings" %}</a></span>
-->
</h2>    
{% include "social/tags_menu.html" %} 

</div>
</span>
