{% load i18n %}



  <ul class="tag_menu">
  <li>
  {% if not current_tag %}    
<span style="font-size:18px">{% if appname != 'areas' %}{% trans "all tags" %} {% else %}{% trans "tags of this area" %} {% endif %}</span>  
  {% else %}
  <span><a href="/{{profile_username}}/{{bookname}}/{{aspect_name}}/">{% trans "all tags" %}</a> </span> 
 {% endif %}
 </li>
 
 {% trans "Search" %}:<ul id="view_by_tags"></ul>
 
 <span id="loading"><img src="/site_media/img/ui-anim_basic_16x16.gif"/>{% trans "Loading tags..." %}</span>
 
 <div class="tag_list"></div>


</ul>










