{% load i18n %}


<span class="tag_section">
<span class="tags_img"><img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/></span>
<span class="show_tags_section"><img title="{% trans "Show tags" %}" src="/site_media/img/right-arrow.jpg" class="clickable"/></span>
<span class="hide_tags_section"><img title="{% trans "Hide tags" %}" src="/site_media/img/down-arrow.jpg" class="clickable"/></span> 

<div class="module tag_menu_box"> 
    <h2>{% trans "Tags" %}
        {% block ws_picker %}
        <span class="advanced">&nbsp;{% trans "in" %}  
        <select id="ws_drop_down"  name="workingset">
            {% if 'all tags' == current_ws %}
                <option value="all tags" selected="selected">{% trans "all tags" %}</option>
            {% else %}                
                <option value="all tags">{% trans "all tags" %}</option>
            {% endif %}   
            {% for ws in wss %} 
                {% if ws.name == current_ws %}
                <option value="{{ws.name}}" selected="selected">{{ws.name}}</option>
                {% else %}                
                <option value="{{ws.name}}">{{ws.name}}</option>
                {% endif %}   
            {% endfor %}       
         </select>   
         <a href="javascript:alert('{% trans "You can use the working set to pick a set of tags to work with." %}');">
            <img src="/media/img/admin/icon-unknown.gif"/>
         </a>         
        </span>
        <span class="setting-in-r-menu"><a href="/settings/tags/">{% trans "Settings" %}</a></span>
        {% endblock %}
    </h2>   

{% block extra_sort_option %}   
    {% include "include/notes/menu/tags_menu.html" %} 
{% endblock %}
</div>
</span>
