{% extends "include/note_list_base.html" %}
{% load i18n %}


{% block title %}
{% blocktrans %}Public notes of {{profile_username}}{% endblocktrans %} 
{% endblock %}


{% block extra_ready_script %}
                $('.voteuseful').click(function(){                 
                        $(this).parents(".social_thumb").find("#note_vote").load('voteUseful/',{ 'id':$(this).parents("div").attr('note_id')});
                });
		
                $('.voteunuseful').click(function(){
                        $(this).parents(".social_thumb").find("#note_vote").load('voteUnuseful/',{ 'id':$(this).parents("div").attr('note_id')});
                });
                
                $('.take').click(function(){                 
                        $.post('take/',{ 'id':$(this).parents("div").attr('note_id')}, noteTaken,'text');
                });
                
                function noteTaken(created){
                    if (created == 'True'){                    
                      $('ul.messages').append('<li class="success">{% trans "The note is successfully taken to your notebook!" %} </li>');
                    }else{
                     $('ul.messages').append('<li class="success">{% trans "You already have such a note in your notebook!" %} </li>');
                    }
                }
                
                function processreturn(result){
                     ;
                }
{% endblock %}              

         


{% block site_branding %}

{% endblock %}

{% block special_side_menu %}
{% if bookname == 'snippetbook' %}  
    {% include "social/snippetbook/folders_special_side_menu.html" %}
{% endif %} 
{% if bookname == 'bookmarkbook' %}  
   {% include "social/bookmarkbook/folders_special_side_menu.html" %}
{% endif %}  
{% if bookname == 'scrapbook' %}  
   {% include "social/scrapbook/folders_special_side_menu.html" %}
{% endif %}     
{% if bookname == 'notebook' %}   
   {% include "social/notebook/folders_special_side_menu.html" %}
{% endif %}   
{% endblock %}



{% block header_title %}
    {% blocktrans %}Public notes of {{profile_username}}{% endblocktrans %}    
{% endblock %}


{% block profile_head %}
{% include "include/profile_head.html" %}
{% endblock %}




{% block content%}
<!--
<div class="grid-16-8" > 
<div class="article"> 
-->
<div id="content-main"> 
<div>
   {% include "social/include/notes/notesdisplay_picker.html" %}
</div> 
</div> 

{% endblock %}
