{% extends "tagframes/index.html" %}
{% load i18n %}
{% load tree_view %} 





{% block title %}
{{profile_username}} {% trans "'s Tag Tree" %} {{tag_tree.name}}
{% endblock %}



{% block site_branding %}
<br/>
{{profile_username}} {% trans "'s Tag Tree" %} <b>{{tag_tree.name}}</b>
<br/><br/>

{% endblock %}

{% block other_top_trees %}

{% endblock %}


{% block extra %}
 {% trans "Push the tag tree to groups" %}:<br/>
 {% if user.username == profile_username %}    
<form action="pushTagFrame2Groups/" method="post" id="pushTagFrame2GroupsForm"> 
<div>   
    <ul id="ac_groups"></ul>     
</div> 
<input type="submit" value="{% trans 'Push to Groups' %}"/>
</form> 
{% endif %}
 
{% endblock %}



