{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head> 
<title>
{% block title %}
{% endblock %}
</title>
<!--for postman msg app-->
{% block extrahead %}
{% endblock %}

    
    <script src="/site_media/js/bootstrap.min.js"  type="text/javascript" ></script>
    <!--<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->


 <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="/site_media/css/tag-it/jquery.tagit.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="/media/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/media/css/dashboard.css" /> 

<link rel="stylesheet" type="text/css" href="/media/css/changelists.css" /> 

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]--> 
<meta name="robots" content="NONE,NOARCHIVE" /> 

<link href="/site_media/css/editableText.css" rel="stylesheet" type="text/css" />	
<link href="/site_media/css/note.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="/site_media/css/jquery.jdMenu.css" type="text/css" /> 



  
     

    <script src="/site_media/js/jquery.min.js" type="text/javascript"></script>	
      
    <script src="/site_media/js/jquery.editableText.js" type="text/javascript"></script>
    
     <script src="/site_media/js/jquery.positionBy.js" type="text/javascript"></script>	
     <script src="/site_media/js/jquery.dimensions.js" type="text/javascript"></script>	
     
     <script src="/site_media/js/jquery.bgiframe.js" type="text/javascript"></script> 
	<script src="/site_media/js/jquery.jdMenu.js" type="text/javascript"></script> 
    

	<script src="/site_media/js/chili-1.7.pack.js"  type="text/javascript" ></script>	
	<script src="/site_media/js/jquery.easing.js"  type="text/javascript" ></script>

    
    <script src="/site_media/js/jquery.AddIncSearch.js"  type="text/javascript" ></script>
    
    <script src="/site_media/js/jquery.tagcloud.js"></script>    
    
     <!--
    <link href="/site_media/css/tag-it/reset.css" rel="stylesheet" type="text/css" />       
	<link href="/site_media/css/tag-it/master.css" rel="stylesheet" type="text/css" />
    -->
    
     <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <!--
	<link href="/site_media/css/jquery-ui/jquery.ui.autocomplete.custom.css" rel="stylesheet" type="text/css"  />
    <script src="/site_media/js/jquery-ui/jquery-ui-1.8.core-and-interactions.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/site_media/js/jquery-ui/jquery-ui-1.8.autocomplete.min.js" type="text/javascript" charset="utf-8"></script>
    -->
    
    
	<script src="/site_media/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
    


	
<script type="text/javascript">
    if ($.browser.msie) {
      //  window.location.replace('/changeYourBroswer/')
  }
</script>
    
    
{% block extra_css %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
        function show_more_section(){ 
                    $('div#more_section').show();	
                    $('.show_more_section').hide(); 
                    $('.hide_more_section').show();                    
                    return false;       
        }     
              
</script>
{% endblock %}

{% include "include/switchui_js.html" %}  
	
<script type="text/javascript">
	$(document).ready(function(){	 
            
            $('.datepicker').datepicker()
            
		    $("#ac_tags").tagit({
			    availableTags: [{% for tag in tags %}"{{tag}}",{% endfor %}],
                   allowSpaces: true
                  });  
                  
                
              $("#ac_users").tagit({
			    availableTags: [{% for u in users %}"{{u}}",{% endfor %}],
                   allowSpaces: true
                });     
                
                $("#ac_users2").tagit({
			    availableTags: [{% for u in users %}"{{u}}",{% endfor %}],
                   allowSpaces: true
                }); 
            
            //TODO: make the tag-it lib able to take several auto complete input boxes
            //$("#ab_tags").tagit({
			//    availableTags: [{% for friend in user.member.get_friends %}"{{friend}}",{% endfor %}]
            //});  
            
            
              $('span#group_delete_member').click(function(){               
                   var group_id = $(this).parents('li[group_id]').attr('group_id');
                    $(this).parents("li[member_id]").remove();
                    $.post('/groups/'+group_id+'/admin/deleteMember/',{'member_id':$(this).parents('li[member_id]').attr('member_id') }, memberDeleted, 'json');
                   
                });
                
                function memberDeleted(result){
                        $('ul.messages').append('<li class="'+result.type+'">'+result.msg+'</li>');                
                
                }
                
                 $('span#group_delete_tag').click(function(){     
              
                    $(this).load('removeTagFromGroup/',{'tag_id':$(this).parents('li[tag_id]').attr('tag_id')});
                    $(this).parents("li[tag_id]").remove();
                });
                
                
                
                //TODO:below duplicate with js from include/notes_display.html
                 $('span.editableText').editableText({
                        newlinesEnabled: false
                });
			
                $.editableText.defaults.newlinesEnabled = true;

                $('div.editableText, p.editableText').editableText();
			
                $('.editableText').change(function(){
                        var newValue = $(this).text();
                        $(this).load('updateNoteInline/',{ 'id':$(this).parents('li').attr('note_id'), 'note_field':$(this).parents('div').attr('id'), 'content':  newValue})
                });
                
                {% ifequal request.session.advanced 'on' %}                       
                    $('.advanced').show(0);
		    {% else %}                   
                    $('.advanced').hide(0);                   
		    {% endifequal %}
            
            
            //below are copied from add bookmark button page. TODO: merge and clean up
              $('.hide_more_section').hide(0);
   
   $('.hide_more_section').click(function(){
                    $('div#more_section').hide();
             		$(this).hide();   
                    $('.show_more_section').show();                  
                    return false;
        });
		
    $('.show_more_section').click(function(){
                    $('div#more_section').show();	
                    $(this).hide();   	
                    $('.hide_more_section').show();                    
                    return false;
        });
        
        
        

          $.fn.tagcloud.defaults = {
            size: {start: 8, end: 18, unit: 'pt'},
            color: {start: '#c77', end: '#f52'}
        };

        $(function () {
                $('#related_tags a').tagcloud();
        });


      //for comments by user page
      
      
       $(":input#commenter_drop_down").change(function(){     
                 current_select = $(this).val();

		     window.location.replace('/social/{{profile_username}}/commentsfor/?commenter='+current_select)  ;    
             
         });    
         
         
      
         
         
	});
	
</script>
	
	


</head>  
<body> 
 <!--[if lt IE 9]>
            <p class="chromeframe">{% trans "You are using an outdated browser." %} <a href="http://browsehappy.com/">{% trans "Upgrade your browser today" %}</a>{% trans " or " %}<a href="http://www.google.com/chromeframe/?redirect=true">{% trans "install Google Chrome Frame" %}</a>{% trans " to better experience this site." %}</p>
        <![endif]-->


{% include "include/sites_header.html" %}


{% include "include/notice_alert.html" %}

<div class="site_branding">
{% block site_branding %}

{% endblock %}
</div>

<div id="panel">




{% block site_apps_menu %}
{% endblock %}


{% block help_message_if_none %}
{% endblock %}


<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>


<!--
<div>
Queries performed:
<ol>
{% for query in queries %}
<li>
sql: {{query.sql}}, 
time: {{query.time}}
</li>
{% endfor %}
</ol>
</div>
-->






{% block special_side_menu %}
{% endblock %}




<!--for postman msg app-->
{% block postman_menu %}
{% endblock %}


{% block content %}



{% endblock %}


</div>





<div id="footer"/>
{% include "include/footer.html" %}
</div>


</body> 
</html> 