{% load i18n %}

<div> 
    <a href="/about">{% trans 'about' %}</a>  | 
    <a href="/suggest">{% trans 'suggest' %}</a>  |
    <a href="/about?topic=team" class="NotImplementedYet">{% trans 'team' %}</a>  |
    <a href="/about?topic=contact">{% trans 'contact' %}</a>  |    
    <a href="/about?policy=disclaimer" class="NotImplementedYet">{% trans 'disclaimer' %}</a>  |
    
    <a href="/help/" class="NotImplementedYet">{% trans 'help' %}</a>  |
    <a href="/service/" class="NotImplementedYet">API</a>  |
    <a href="/mobile/" class="NotImplementedYet">{% trans 'mobile' %}</a> 
    <a href="/partner/" class="NotImplementedYet"></a> 
 
</div> 

<div id="icp" class="gray-link"> 
    &copy; 2011-2015 OSL
  &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
</div> 
 
