<div> 
    <a href="/about" class="NotImplementedYet">about</a>  | 
    <a href="/about?topic=team" class="NotImplementedYet">team</a>  |
    <a href="/about?topic=contactus" class="NotImplementedYet">contact</a>  |
    <a href="/about?policy=disclaimer" class="NotImplementedYet">disclaimer</a>  |
    
    <a href="/help/" class="NotImplementedYet">help</a>  |
    <a href="/service/" class="NotImplementedYet">API</a>  |
    <a href="/mobile/" class="NotImplementedYet">mobile</a> 
    <a href="/partner/" class="NotImplementedYet"></a> 
 
</div> 

<div id="icp" class="gray-link"> 
    &copy; 2011-2015 OSL
  &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
</div> 
 
