{% load i18n %}

<span id="frames_pick_empty">
 
    {% trans "Pick empty" %}
    <select id="frame_empty_drop_down"   class="pick_drop_down"  name="pick_empty">
            {% if not pick_empty  %}
                <option value="" selected="selected">---</option>
            {% else %}   
                <option value="">---</option>
            {% endif %}   
            {% if pick_empty == 'y'  %}
                <option value="y" selected="selected">{% trans "Empty frames" %}</option>
            {% else %}
                <option value="y">{% trans "Empty frames" %}</option>
            {% endif %}
            {% if pick_empty == 'n'  %}
                <option value="n" selected="selected">{% trans "Non empty frames" %}</option>
            {% else %}
                <option value="n">{% trans "Non empty frames" %}</option>
            {% endif %}
    </select>   

</span>