{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" > 
<head> 

<!--TODO:useful?-->
<meta charset="utf-8">

{% block tite %}
{% endblock %}





<link rel="stylesheet" type="text/css" href="/media/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/media/css/dashboard.css" /> 

<link rel="stylesheet" type="text/css" href="/media/css/changelists.css" /> 

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]--> 
<meta name="robots" content="NONE,NOARCHIVE" /> 

<link href="/site_media/css/editableText.css" rel="stylesheet" type="text/css" />	
<link href="/site_media/css/note.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="/site_media/css/jquery.jdMenu.css" type="text/css" /> 



	<!-- We will use jQuery hosted by Google-->
	        <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>	
    
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
 
  
       <script src="/site_media/js/jquery-1.4.js" type="text/javascript"></script>	
  -->
  
     

    <script src="/site_media/js/jquery.min.js" type="text/javascript"></script>	




   
    <script src="/site_media/js/jquery.editableText.js" type="text/javascript"></script>
    
     <script src="/site_media/js/jquery.positionBy.js" type="text/javascript"></script>	
     <script src="/site_media/js/jquery.dimensions.js" type="text/javascript"></script>	
     
     <script src="/site_media/js/jquery.bgiframe.js" type="text/javascript"></script> 
	<script src="/site_media/js/jquery.jdMenu.js" type="text/javascript"></script> 
    

	<script src="/site_media/js/chili-1.7.pack.js"  type="text/javascript" ></script>	
	<script src="/site_media/js/jquery.easing.js"  type="text/javascript" ></script>
    <!--
	<script src="/site_media/js/jquery.accordion.js"  type="text/javascript" ></script>
    -->
    <script src="/site_media/js/jquery.AddIncSearch.js"  type="text/javascript" ></script>

	
 
    <link href="/site_media/css/tag-it/reset.css" rel="stylesheet" type="text/css" />
       
	<link href="/site_media/css/tag-it/master.css" rel="stylesheet" type="text/css" />
    
	<link href="/site_media/css/jquery-ui/jquery.ui.autocomplete.custom.css" rel="stylesheet" type="text/css"  />
    <script src="/site_media/js/jquery-ui/jquery-ui-1.8.core-and-interactions.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/site_media/js/jquery-ui/jquery-ui-1.8.autocomplete.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/site_media/js/tag-it.js" type="text/javascript" charset="utf-8"></script>


    
    
    
{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}




    
<script type="text/javascript">
	
	Array.prototype.unique = function () {
	var r = new Array();
	o:for(var i = 0, n = this.length; i < n; i++)
	{
		for(var x = 0, y = r.length; x < y; x++)
		{
			if(r[x]==this[i])
			{
				continue o;
			}
		}
		r[r.length] = this[i];
	}
	return r;
}

    function sortNumber(a,b){
            return a - b;
    }
	
    
       function addNote(){    
          
            desc = $('#id_desc').val();
         
            //alert('desc:'+desc);
             
            priv = $('#id_private').attr('checked');
          //   alert('priv:'+priv);
            $.post('/{{profile_username}}/{{bookname}}/notes/addNote/',{'desc':desc, 'private':priv}, noteAdded, 'json');          
                        
    } 
    
     function noteAdded(note){
       // alert('note added:'+note);
        pri_part = ""
        if (note.private=='true'){
            pri_part =  '<span class="lock" title="{% trans "private"  %}" style="display:inline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>'
        }else{
           pri_part =  '<span class="unlock" title="{% trans "public"  %}" style="display:inline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>'
        }
        tags = ''
        for (var i=0;i<note.tags.length;i++){
            tags = tags +  '<span><a href="/{{profile_username}}/{{bookname}}/notes/tags/'+note.tags[i]+'/">'+note.tags[i]+'</a>,</span>'
        }
    //    alert('tags:'+tags);
        toprepend = '<li class="note_display" note_id="'+note.note_id+'"><input type="checkbox" name="note_selected"  value="'+
                      note.note_id+'" class="note_selection" /><div class="kuoda"></div><div class="yasuo"></div> <span class="lockunlock">'+pri_part+'</span>'+
                               
                      '<span class="thumb"><span class="thumbup hover"  title="{% trans "Rank Up Importance"  %}"><img src="/site_media/img/thumbUp.gif"/></span>'+
			                                                 '<span class="thumbdown hover"  title="{% trans "Rank Down Importance"  %}"><img src="/site_media/img/thumbDown.gif"/></span>'+
                      '<span id="note_rank" title="{% trans "Importance"  %}">'+note.vote+'</span></span><span class="delete_img hover" title="{% trans "soft delete" %}"><img src="/site_media/img/delete.png"/></span>'+
                      '<div class="snippetbook"><div class="brief_display"><table class="note_table"><tr><td class="note_table_td1 structure"><div id="note_title" title="{% trans "note title" %}">'+
                      '<a href="/{{profile_username}}/{{bookname}}/notes/note/'+note.id +'/">'+note.title+'</a></div> </td><td class="note_table_td2"><div  id="note_desc" title="{% trans "note desc" %}">'+note.desc+'</div>'+	
                      '</td> <td class="note_table_tags">  <div id="note_tags" title="{% trans "note tags" %}">'+tags+'</div></td> <td class="note_table_td4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr></table></div>'+
                      '<div class="full_display">'+
                                '<table class="note_table"><tr><td class="note_table_td1 structure">'+
                                       '<div id="note_title" title="{% trans "note title" %}"><span class="editableText"><a href="/{{profile_username}}/{{bookname}}/notes/note/'+note.id+'/">'+note.title+'</a></span></div></td><td class="note_table_td2"> '+	
                                       '<div  id="note_desc" title="{% trans "note desc" %}"><span class="editableText">'+note.desc+'</span></div></td><td class="note_table_tags">'+
                                       '<div id="note_tags" title="{% trans "note tags" %}"><span class="editableText">'+note.display_tags+'</span></div> </td></tr></table>'+
                       '</div></div></div>'+                
                                       
                      '</li>';
     //      alert('toprepend:'+toprepend);         
        $('div.notes_display').find('ul').prepend(toprepend);
          $('li.note_display').mouseenter(function(){	    
                        $(this).find('.hover').show(0);
                        
                });
                
           $('li.note_display').mouseleave(function(){	    
                        $(this).find('.hover').hide(0);
                        
                });     
                
                 $('.stream').show(0);    
            $('.structure').hide(0);
            
             $('div.brief_display').show();
            $('div.full_display').hide();	
            
            $('.yasuo').hide();
		
          $('.kuoda').click(function(){		
                    $(this).parents("li").find('div.brief_display').hide(100);
                    $(this).parents("li").find('div.full_display').show(100);
                
                    $(this).parents("li").find("div.kuoda").hide(100);
                    $(this).parents("li").find("div.yasuo").show(100);		
            });
		
            $('.yasuo').click(function(){        
                    $(this).parents("li").find('div.brief_display').show(100);
                    $(this).parents("li").find('div.full_display').hide(100);		       
                    $(this).parents("li").find("div.kuoda").show(100);
                    $(this).parents("li").find("div.yasuo").hide(100);		
            });		
        
            
        
        
        
        
        
                        $('span.editableText').editableText({
                        newlinesEnabled: false
                });
			
                $.editableText.defaults.newlinesEnabled = true;

                $('div.editableText, p.editableText').editableText();
			
                $('.editableText').change(function(){
                        var newValue = $(this).text();
                        $(this).load('updateNoteInline/',{ 'id':$(this).parents('li').attr('note_id'), 'note_field':$(this).parents('div').attr('id'), 'content':  newValue})
                });
			
                //move below to a separate file
                $('.thumbup'). click(function(){                
                        $(this).parents(".thumb").find("#note_rank").load('voteUpNote/',{ 'id':$(this).parents("li").attr('note_id')});
                });
		
                $('.thumbdown'). click(function(){
                        $(this).parents(".thumb").find("#note_rank").load('voteDownNote/',{ 'id':$(this).parents("li").attr('note_id')});
                });
		
                $('.delete_img'). click(function(){
                        $(this).load('deleteNote/',{ 'id':$(this).parents("li").attr('note_id')});
                        $(this).parents("li").remove();
                });		
                
        
        
        

        
    }
    
    
    function showAddTags(){    
            //alert('show add tgs');
            $('#ac_tags_box').show(3);  
             $('#add_tags_to_notes').show(3); 
            $('#remove_tags_from_notes').hide(3);     
            $('.tagit-input').focus();     
            $('.tagit-input').css("background-color","#F5FC9E");
           
           // $('#ac_tags').css("border","groove");
                        
    }
    
    
    
    function cancelChangeTags(){    
            //alert('cancel add tgs');
            $('#ac_tags_box').hide(0);  
            //Below cannot succesfully remove tags entered earlier. I guess it is ok to leave those tags there for now
            //$('ul#ac_tags').text('')
    }
    
    function showRemoveTags(){    
            //alert('show remove tgs');
            $('#ac_tags_box').show(0);  
            $('#remove_tags_from_notes').show(0);   
            $('#add_tags_to_notes').hide(0);     
            $('.tagit-input').focus();     
            $('.tagit-input').css("background-color","#F5FC9E");            
    }

	
	function	addTags(){    
		    var selected_tags = [];    		    
		    $('.tag_selection').each(function(){
                    if ($(this).attr('checked')==true){			
                        selected_tags.push($(this).val());	
                    }			
		     });
             
            selected_notes = getSelectedNoteIds();		       
		    
		       
		      // $(this).load('addTags2Notes/', {'note_ids': selected_notes, 'tags_to_add': selected_tags}, processReturn);
		       
               //window.location.href=window.location.href;
		      //setTimeout( "window.location.reload(false)", 1000) ; //TODO: only load the changed notes using response from the server
		       //time out is added to fix a problem happened after uplodading to the server. If wait a while, the ajax will succeed, otherwise, will return error.
               //on local server, tags will be added or removed even return error. But on remote server, the py method is not even called.
               //On local server, no the pipe broken error any more.
               //So I think the reason is like this: this ajax call is a non-blocking one. So if you reload the page, the pipe is broken. On a local server, the ajax call is already
              //mapped to a url and method called. But for a remote server, the ajax call probably fall behind the next page reload request and is not even mapped to a url yet.         
               
               
            $.ajax({url: 'addTags2Notes/'+
                                    '?note_ids='+selected_notes+
                                    '&tags_to_add='+selected_tags,
                            success:  processReturn,
                            async:   false
            })
            window.location.reload(false);     
		       //return true;
		
	}
    
    function processReturn(data){
         ;    
    }
    
    
    function  addTags_new(){
    //alert('adding tags new...');
          var selected_tags = [];	
          $('li.tagit-choice').each(function(){               
                   	   // alert('find a tag:'+$(this).find(':input').val());
                            selected_tags.push($(this).find(':input').val());	
                    			
		     });	
          // alert('selected_tags is:'+selected_tags );        
           
            selected_notes = getSelectedNoteIds();		  
            
              $.post('addTags2Notes2/'+
                                    '?note_ids='+selected_notes+
                                    '&tags_to_add='+selected_tags, {},
                          tagsChanged, 'json');
    }
	
	function removeTags(){
            var selected_tags = [];		    
		    $('.tag_selection').each(function(){
                    if ($(this).attr('checked')==true){				
                            selected_tags.push($(this).val());	
                    }			
		     });		    
		      
            selected_notes = getSelectedNoteIds();	    
		       
		       //$(this).load('removeTagsFromNotes/', {'note_ids': selected_notes, 'tags_to_add': selected_tags}, processReturn);
		       
               //window.location.href=window.location.href;
		     // setTimeout( "window.location.reload(false)", 1000);
		       //return true;
               
               
            $.ajax({url: 'removeTagsFromNotes/'+
                                    '?note_ids='+selected_notes+
                                    '&tags_to_add='+selected_tags,
                            success:  processReturn,
                            async:   false
            })
                           
            window.location.reload(false);    
	
	}
    
    
    function removeTags_new(){
          
          var selected_tags = [];	
          $('li.tagit-choice').each(function(){               
                   	    //alert('find a tag:'+$(this).find(':input').val());
                            selected_tags.push($(this).find(':input').val());	
                    			
		     });	
           //alert('selected_tags is:'+selected_tags );        
           
            selected_notes = getSelectedNoteIds();		  
            
              $.post('removeTagsFromNotes2/'+
                                    '?note_ids='+selected_notes+
                                    '&tags_to_add='+selected_tags,
                            {}, tagsChanged, 'json');
            //window.location.reload(false);     
            //return false;
    
    
    
    }
    
    function tagsChanged(result){
         $('#ac_tags_box').hide(0);    
        for (var i=0; i < result.length; i++){
            toappend = ""        
            for (var j=0; j < (result[i][1]).length; j++){
                toappend = toappend+'<span><a href="/{{profile_username}}/{{bookname}}/notes/tags/'+result[i][1][j]+'/">'+result[i][1][j]+'</a>,</span>'
            }        
           $("li[note_id='"+result[i][0]+"']").find('div.brief_display').find('div#note_tags').empty().append(toappend);
           $("li[note_id='"+result[i][0]+"']").find('div.full_display').find('div#note_tags').find('span').empty().append(result[i][2]);
        }    
    }
		 
	
			
    function	linkNotes(){
		     selected_notes = getSelectedNoteIds();
		     $('form#linkNotesForm').before("The following notes are going to be put into a frame:"+selected_notes);
		     $('form#linkNotesForm').prepend('<input type="hidden"  name="notes"  value="'+selected_notes+'"/>');
		     $('.linkNotes').show();		
    }
		
		
    function	showSelectedPlusCachedNoteIds(){
		     notes = getSelectedPlusCachedNoteIds();
		     alert("Selected notes:"+ notes+"  You can copy and paste these ids into another form.");			
    }
		
    function	getSelectedPlusCachedNoteIds(){
		     current_selected_notes = getSelectedNoteIds();
		     cached_notes = getCachedNoteIds();
		     //alert('cached_notes:'+cached_notes);
		     notes = current_selected_notes +','+cached_notes ;
		     notes_list = notes.split(',');
		     //alert('selected_notes_list :'+selected_notes_list );		     
		     notes_set = notes_list.unique();
		     notes_set.sort(sortNumber);		     
		     //alert('selected_notes_set :'+selected_notes_set );
		     unique_notes = notes_set.toString();
		     return unique_notes;
		
    }
		
    function	showSelectedNotes(){
		      notes = getSelectedPlusCachedNoteIds();
		      $.post('toggleAddNoteMode/', {'addnote_mode':'on'});
		      return false;	
    }
		
		
    function	getCachedNoteIds(){
		       cachespan = $('#cache span');
		       cached_notes= $(cachespan).text();
		       if  (cached_notes=='no notes in cache'){
		             cached_notes ='';
		       }
		       //alert('cached_notes:'+cached_notes);
		       return cached_notes;
    }
		
    function	getSelectedNoteIds(){		    	   
		    var selected_notes = [];	
		    $('.note_selection').each(function(){
                    if ($(this).attr('checked')==true){				
                        selected_notes.push($(this).val());	
                    }			
		     });		     	
		     return selected_notes;
    }
		
    function  selectAll(){
		     $('.note_selection').attr('checked',true);
		
    }
		
    function  selectNone(){		     
		     $('.note_selection').attr('checked',false);		
    }
		
    function addNotes2Cache(cache_id){		   
            selected_notes = getSelectedNoteIds();
            //cachespan = $('span#cache_'+cache_id);		       
            $.post('/{{profile_username}}/{{bookname}}/caches/'+cache_id+'/addNotes2Cache/',{'cache_id':cache_id, 'selected_note_ids':selected_notes}, notesAdded, 'json');
    }		
		
    function notesAdded(cache){			 
            if (cache.created==true){
                    window.location.reload( false ); //for now, just refresh the page. Because the new item added to note menu cannot be clicked. (might because it is not recognized by the jd_menu plugin) TODO:
		  
                    $('div#cache').prepend('<div class="cache_item"><span id="cache_'+cache.cache_id+'">{% trans 'cache' %} ' +cache.cache_id+':' +cache.note_ids+'</span> &nbsp;&nbsp;&nbsp;<a href="/mynotes/caches/'+cache.cache_id+'/">{% trans 'View' %}</a> | <a href="javascript:clearCache('+cache.cache_id+');">{% trans 'Clear' %}</a>');		 
                    previous_cache_id = cache.cache_id-1;
                    next_cache_id = parseInt(cache.cache_id)+1;
                    //alert('<li  id="add_to_cache_'+cache.id+'"><a href="javascript:addNotes2Cache('+cache.id+');">Add selection to cache '+cache.id+'</a></li>');
                    $("li#add_to_cache_"+previous_cache_id).after('<li  id="add_to_cache_'+cache.cache_id+'"><a href="javascript:addNotes2Cache('+cache.cache_id+');">Add selection to cache '+cache.cache_id+'</a></li>' );
                    $("li#add_to_another_cache").find('a').attr('href','javascript:addNotes2Cache('+next_cache_id+');')
                    //even after adding below, it still cannot recognize the newly added li 
                    $('ul.jd_menu').jdMenu();                    
           }
            if (cache.created==false){
                    $('span#cache_'+cache.cache_id).text("{% trans 'cache' %} " +cache.cache_id+":" +cache.note_ids);		 
            }		
    }
		
    function clearCache(cache_id){	
            cachespan = $('span#cache_'+cache.cache_id);			
            div = $(cachespan).parents('div.cache_item');			
            $.post('/{{profile_username}}/{{bookname}}/caches/'+cache_id+'/'+'clearCache/', cacheCleared);			 
    }
		
		
		
    function cacheCleared(cache_id){		
            window.location.reload( false ); //for now, just refresh the page TODO:		 
            $('span#cache_'+cache_id).parents('div.cache_item').remove();		  
            $("li#add_to_cache_"+cache_id).remove();
            //TODO: if the last cache, should get rid of add to another, and restore add to the cache 1  		
    }
        
        
    function set_notes_private(){
             selected_notes = getSelectedNoteIds();
             $.post('/{{profile_username}}/{{bookname}}/setNotesPrivate/',{'note_ids':selected_notes},  set_notes_private_callback, 'json');
             //TODO: maybe no reload
            // window.location.reload( true);   
    }
    
    function  set_notes_private_callback(note_ids){                 
                    for (var i=0;i<note_ids.length;i++){
                          $("li[note_id='"+note_ids[i]+"']").find('span.lock').show();
                          $("li[note_id='"+note_ids[i]+"']").find('span.unlock').hide();          
                    }
    }
    
    
    function set_notes_public(){
             selected_notes = getSelectedNoteIds();
             $.post('/{{profile_username}}/{{bookname}}/setNotesPublic/',{'note_ids':selected_notes}, set_notes_public_callback, 'json');   
             //window.location.reload( true);               
         
    }
    
    function set_notes_public_callback(note_ids){                  
                    for (var i=0;i<note_ids.length;i++){
                          $("li[note_id='"+note_ids[i]+"']").find('span.lock').hide();
                          $("li[note_id='"+note_ids[i]+"']").find('span.unlock').show();          
                    }
    }
    
    
     function share(){
             selected_notes = getSelectedNoteIds();
             $.post('/{{profile_username}}/{{bookname}}/share/',{'note_ids':selected_notes}, shared, 'json');
     
     }
     
      function shared(result){      
           if (result.count_of_sites==0){
                alert('You have not set up sites for sharing. Please set it up in the settings.');
           }
           else{           
                alert(result.count_of_notes+' notes are shared with '+ result.count_of_sites+' sites! You can change sites for sharing in the settings. ');
           }
		
      }  
        
    function expandall(){       
              $('div.brief_display').hide();
              $('div.full_display').show();   
              $("div.kuoda").hide();
              $("div.yasuo").show();              
    }
        
    function collapseall(){
            $('div.brief_display').show();
            $('div.full_display').hide();
            $("div.kuoda").show();
            $("div.yasuo").hide(); 
    }
    
    
        
                    
                    
    
    
    //TODO: the ones in base2.html are not updated with the change here.
    function structure(){
              $('.structure').show(0);
              //$('.stream').hide(0);
    
            {% ifequal request.session.advanced 'on' %}                       
                    $('.advanced').show(0);                  
		    {% else %}                   
                    $('.advanced').hide(0);                   
		    {% endifequal %}     
    }
    
    function stream(){
   
          //$('.stream').show(0);    
          $('.structure').hide(0);
    }
    
    
    function show_confirm(){
        var r=confirm("{% trans "If you join this group, any note you make that is tagged with any of the tag of this group will be pushed to this group. Private note, however, will not be pushed, unless you specifically want to share it with a group." %}");
        if (r==true){
            window.location.replace('/groups/{{group.name}}/joinGroup')
        }
        else{
             ;
        }
    }
    
    


        

	
</script>
	
<script type="text/javascript">
	$(document).ready(function(){	
    

          $('li.note_display').mouseenter(function(){	    
                        $(this).find('.hover').show(0);
                        
                });
                
           $('li.note_display').mouseleave(function(){	    
                        $(this).find('.hover').hide(0);
                        
                });     
    
    
            $('#ac_tags_box').hide(0);
           
    
            $('.stream').show(0);    
            $('.structure').hide(0);
            
            $('.show_tags_section').show(0);
            $('.hide_tags_section').hide(0);
            $('.tag_menu_box').hide(0);
            
            $('.show_side_menu').hide(0);
            $('.hide_side_menu').click(function(){	  
                        
                $('.show_side_menu').show(0);
                $('.hide_side_menu').hide(0);
                $('#content-related').hide(0);
                if (screen.availWidth > 1300){           
                    $('#main').css({'width':'1120px'});
                    $('.note_table td.note_table_td1').css({'width': '14em'});
                    $('.note_table td.note_table_td2').css({'width': '30em'});
                    $('.note_table td.note_table_tags').css({'width': '50em'});
                    $('.snippetbook .brief_display #note_desc').css({'width': '63em'});
                    $('.bookmarkbook .brief_display #note_title').css({'width': '33em'});
                    $('.bookmarkbook .brief_display #note_url').css({'width': '30em'});
                    $('.scrapbook .brief_display #note_url').css({'width': '14em'});
                    $('.scrapbook .brief_display #note_desc').css({'width': '50em'});
                }else{
                    $('#main').css({'width':'970px'});
                    $('.note_table td.note_table_td1').css({'width': '12em'});
                    $('.note_table td.note_table_td2').css({'width': '27em'});
                    $('.note_table td.note_table_tags').css({'width': '40em'});
                    $('.snippetbook .brief_display #note_desc').css({'width': '45em'});
                    $('.bookmarkbook .brief_display #note_title').css({'width': '28em'});
                    $('.bookmarkbook .brief_display #note_url').css({'width': '27em'});
                    $('.scrapbook .brief_display #note_url').css({'width': '14em'});
                    $('.scrapbook .brief_display #note_desc').css({'width': '43em'});
              
              }
                         
                });
                
            $('.show_side_menu').click(function(){	               
                    $('.show_side_menu').hide(0);
                    $('.hide_side_menu').show(0);
                    $('#content-related').show(0);
                    if (screen.availWidth > 1300){           
                        $('#main').css({'width':'897px'});
                        $('.note_table td.note_table_td1').css({'width': '14em'});
                        $('.note_table td.note_table_td2').css({'width': '25em'});
                        $('.note_table td.note_table_tags').css({'width': '40em'});
                        $('.snippetbook .brief_display #note_desc').css({'width': '50em'});
                        $('.bookmarkbook .brief_display #note_title').css({'width': '22em'});
                        $('.bookmarkbook .brief_display #note_url').css({'width': '25em'});
                        $('.scrapbook .brief_display #note_url').css({'width': '15em'});
                        $('.scrapbook .brief_display #note_desc').css({'width': '35em'});
                    }else{
                        $('#main').css({'width':'745px'});
                        $('.note_table td.note_table_td1').css({'width': '14em'});
                        $('.note_table td.note_table_td2').css({'width': '23em'});
                        $('.note_table td.note_table_tags').css({'width': '30em'});
                        $('.snippetbook .brief_display #note_desc').css({'width': '35em'});
                        $('.bookmarkbook .brief_display #note_title').css({'width': '18em'});
                        $('.bookmarkbook .brief_display #note_url').css({'width': '22em'});
                        $('.scrapbook .brief_display #note_url').css({'width': '14em'});
                        $('.scrapbook .brief_display #note_desc').css({'width': '26em'});
              
              }
                          
                          
                });
             
            $('.hide_tags_section').click(function(){	  
                        
                        $('.show_tags_section').show(0);
                        $('.hide_tags_section').hide(0);
                         $('.tag_menu_box').hide(0);
                });
                
            $('.show_tags_section').click(function(){	    
                        $('.show_tags_section').hide(0);
                        $('.hide_tags_section').show(0);
                         $('.tag_menu_box').show(0);
                });
    

	
            $('#id_folder_name').hide();
            $('#submit_saveSearch').hide();
            $('#show_folder_name_input').click(function(){
                    $('#id_folder_name').show();
                    $('#submit_saveSearch').show();
                    $(this).hide();
            });
            
            {% ifequal request.session.advanced 'on' %}                       
                    $('.advanced').show(0);
                    $('.stream').show(0);    
                    $('.structure').hide(0);
		    {% else %}                   
                    $('.advanced').hide(0);                   
		    {% endifequal %}
	
	
            {% ifequal addnote_mode 'on' %}	             
                    $('.show_add_note_section').hide(0);
                    $('.hide_add_note_section').show(0);
                    $('.addnote').show(0);				
		    {% else %}
                    $('.show_add_note_section').show(0);
                    $('.hide_add_note_section').hide(0);
                    $('.addnote').hide(0);
		    {% endifequal %}
		     //$('.hide_add_note_section').hide();
		    $('.show_add_note_section').click(function(){
                    $('.addnote').show();
                    $(this).hide();
                    $('.hide_add_note_section').show();
                    $.post('toggleAddNoteMode/', {'addnote_mode':'on'});
                    return false;
            });
		
            $('.hide_add_note_section').click(function(){
                    $('.addnote').hide();
                    $(this).hide();
                    $('.show_add_note_section').show();
                    $.post('toggleAddNoteMode/', {'addnote_mode':'off'});
                    return false;
            });
		
            {% ifequal show_notes_mode 'on' %}	             
                    $('.show_notes_section').hide(0);
                    $('.hide_notes_section').show(0);
                    $('div#notes_section').show(0);				
            {% else %}
                    $('.show_notes_section').show(0);
                    $('.hide_notes_section').hide(0);
                    $('div#notes_section').hide(0);
		    {% endifequal %}
		
		
            $('.hide_notes_section').click(function(){
                    $('div#notes_section').hide();
             		$(this).hide();   
                    $('.show_notes_section').show();
                    $.post('toggleShowNotesMode/', {'show_notes_mode':'off'});
                    return false;
            });
		
            $('.show_notes_section').click(function(){
                    $('div#notes_section').show();	
                    $(this).hide();   	
                    $('.hide_notes_section').show();
                    $.post('toggleShowNotesMode/', {'show_notes_mode':'on'});
                    return false;
            });
		
		
		    {% ifequal show_caches_mode 'on' %}	             
                    $('.show_caches_section').hide(0);
                    $('.hide_caches_section').show(0);
                    $('div#caches_section').show(0);				
		    {% else %}
                    $('.show_caches_section').show(0);
                    $('.hide_caches_section').hide(0);
                    $('div#caches_section').hide(0);
		    {% endifequal %}
		
		
            $('.hide_caches_section').click(function(){
                    $('div#caches_section').hide();
             		$(this).hide();   
                    $('.show_caches_section').show();
                    $.post('toggleShowCachesMode/', {'show_caches_mode':'off'});
                    return false;
            });
		
            $('.show_caches_section').click(function(){
                    $('div#caches_section').show();	
                    $(this).hide();   	
                    $('.hide_caches_section').show();
                    $.post('toggleShowCachesMode/', {'show_caches_mode':'on'});
                    return false;
            });
		
		     
		        
           // $('#addnoteSubmit').click(function(){		   
            //        var form = $(this).parents('form');			
            //        $(this).load('addNote/',{'title':form.find('#id_title').val(),'desc':form.find('#id_desc').val(),'event':form.find('#id_event').val(), 
		//	                                       'vote':form.find('#id_vote').val(),'tags':form.find('#id_tags').val(),'private':form.find('#id_private').val(), 'attachment':form.find('#id_attachment').val()}); //TODO: broken pipe issue on the server side
		
          //          return false; //need this to prevent flashing the page again, e.g. requesting the same page again, which is nice in my case (although causing broken pipe -- seems avoidable if  server don't return response), but it is still refreshs the page
         //   });	

		
		
            //TODO: where to define the call back
      //      function addNoteCallback(n){
	                //alert("note added");     
      //      }			
	     
	   	
            $('div.brief_display').show();
            $('div.full_display').hide();		
		
		
            $('.yasuo').hide();
		
            $('.kuoda').click(function(){		
                    $(this).parents("li").find('div.brief_display').hide(100);
                    $(this).parents("li").find('div.full_display').show(100);
                
                    $(this).parents("li").find("div.kuoda").hide(100);
                    $(this).parents("li").find("div.yasuo").show(100);		
            });
		
            $('.yasuo').click(function(){        
                    $(this).parents("li").find('div.brief_display').show(100);
                    $(this).parents("li").find('div.full_display').hide(100);		       
                    $(this).parents("li").find("div.kuoda").show(100);
                    $(this).parents("li").find("div.yasuo").hide(100);		
            });		

        
		
            $("a:contains('(No Title)')").css({'font-weight':100,'font-size':9});	
            $("a:contains('（无标题）')").css({'font-weight':100,'font-size':9});	
            $("li.note_display:odd").css("background-color", "#FFFFFF");
            //$("li.note_display:even").css("background-color", "#E0FFFF");
            $("li.note_display:even").css("background-color", "#F5FFD6");
            //$("li.note_display:even").css("background-color", "#9DB25D");
		
        

		    $("#ac_tags").tagit({
			    availableTags: [{% for tag in tags %}"{{tag}}",{% endfor %}]
            });    


            $(":input[name='sort']").change(function(){       
            //alert('changed');
                
                window.location.replace('?sort='+$(this).val())
      
             });
             
         
             
             
             
             
                    $('.comment_submit').click(function(){  
                        var newValue = $(this).parents("#add_comment_box").find("#add_comment").val();
                        $.post('addComment/',{ 'id':$(this).parents('li').attr('note_id'), 'content':  newValue}, commentAdded ,'json');              
      
                });
                
                $('.cancel_comment_submit').click(function(){                   
                        comment_box  = $(this).parents("#add_comment_box")
                        comment_box.find("#add_comment").val('');
                        comment_box.hide();
      
                });
                
               
                
                function commentAdded(result){
                     note_id = result.note_id;
                     $("li[note_id='"+note_id+"']").find('div#comments').append("<div>"+result.content+"</div>");            
                     
                    comment_box = $("li[note_id='"+note_id+"']").find('div#add_comment_box');
                    comment_box.find("#add_comment").val('')
                    comment_box.hide();
                
                }
                
                
                 $('.add_comment_button').click(function(){                   
                        $(this).parents('li').find('#add_comment_box').show();               
      
                });
                
                
                $('span.inline_delete_comment').click(function(){	                
                    $(this).load('deleteComment/',{'comment_id':$(this).parents('div').attr('comment_id')});
                    $(this).parents("div[comment_id]").remove();
                });
                
                
               
                
                
                
                $('span.unlock').click(function(){	                   
                    $.post('makePrivate/',{'id':$(this).parents('li').attr('note_id')}, privacyChanged, 'json');                   
                });
                
                 $('span.lock').click(function(){	                   
                    $.post('makePublic/',{'id':$(this).parents('li').attr('note_id')}, privacyChanged, 'json');                   
                });
               
               
                 function privacyChanged(result){                 
                     note_id = result.note_id
                    if (result.private == 'y'){
                    //alert('is true');                          
                          $("li[note_id='"+note_id+"']").find('span.lock').show();
                          $("li[note_id='"+note_id+"']").find('span.unlock').hide();
                    }else{
                   //alert('is fale');
                          $("li[note_id='"+note_id+"']").find('span.unlock').show();
                          $("li[note_id='"+note_id+"']").find('span.lock').hide();
                    }
                     
                
                }
              
                
                
              //below is just a testing  
          //      $("input.tagit-input").keydown(function(){
  //  $(this).css("background-color","#FFFFCC");
  //});
 // $("input.tagit-input").keyup(function(){
  //  $(this).css("background-color","#D6D6FF");
 // });
                
                
               
         //firefox and chrome have different interpretation of screen.availWidth (For FF, with zooming, the screen size changes, while for chrome it doesn't.)  
        if (screen.availWidth > 1100){      
              $('#container').css({'width':'1150px'});
              $('.note_table td.note_table_td1').css({'width': '14em'});
              $('.note_table td.note_table_td2').css({'width': '25em'});
              $('.note_table td.note_table_tags').css({'width': '40em'});
              $('.snippetbook .brief_display #note_desc').css({'width': '50em'});
              $('.bookmarkbook .brief_display #note_title').css({'width': '22em'});
              $('.bookmarkbook .brief_display #note_url').css({'width': '25em'});
              $('.scrapbook .brief_display #note_url').css({'width': '15em'});
              $('.scrapbook .brief_display #note_desc').css({'width': '35em'});
        }
                
                
            
        
    
    });
    
    
	
/*	
jQuery().ready(function(){
//below not used

jQuery('.note_display').accordion({ 
   
    header: 'div.accordion_title',
 
    active: false, 
    alwaysOpen: false, 
    animated: false, 
    autoheight: false 
});
});
*/
    


	
</script>
	
	


</head>  
<body> 


{% include "include/sites_header.html" %}


<div id="container">
<!--
{% include "include/profile_header.html" %}
-->


{% include "include/notice_alert.html" %}






{% block site_apps_menu %}
{% endblock %}


{% block help_message_if_none %}
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}







 <div  id="content" class="colMS"> 
 
 <span id="toggle_side_menu">
<span class="show_side_menu"><img title="{% trans "show side menu" %}" src="/site_media/img/left-arrow.jpg" class="clickable"/></span>
<span class="hide_side_menu"><img title="{% trans "hide side menu" %}" src="/site_media/img/down-arrow.jpg" class="clickable"/></span> 
</span>

<div id="content-related"> 





<!--
{% if user.username == profile_username %}


        <h4>{% trans "Delete" %}</h4>     
        {% if delete == 'True' %}
             <span style="font-size:15px">{% trans "Yes" %}</span><br/>
        {% else %}
            <a href="?delete=True">{% trans "Yes" %}</a><br/>        
        {% endif %}    

        {% if delete == 'False' %}
             <span style="font-size:15px">{% trans "No" %}</span><br/>
        {% else %}
             <a href="?delete=False">{% trans "No" %}</a><br/>        
        {% endif %}
       
           

        <h4>{% trans "Private" %}</h4>  
        {% if private == 'All' %}
             <span style="font-size:15px">{% trans "All" %}</span><br/>
        {% else %}
            <a href="?private=All">{% trans "All" %}</a><br/>         
        {% endif %}
        
        {% if private == 'True' %}
             <span style="font-size:15px">{% trans "Yes" %}</span><br/>
        {% else %}
            <a href="?private=True">{% trans "Yes" %}</a><br/>         
        {% endif %}
        
        {% if private == 'False' %}
             <span style="font-size:15px">{% trans "No" %}</span><br/>
        {% else %}
            <a href="?private=False">{% trans "No" %}</a><br/>              
        {% endif %} 
       
       
{% endif %}


       <h4>{% trans "Date Range" %}</h4>   

    
 
{% if date_range == 'All' %}
 <span style="font-size:15px">{% trans "Any day" %}</span><br/>
 {% else %}
<a href="?date_range=All">{% trans "Any day" %}</a><br/>   
{% endif %}

 {% if date_range == 'today' %}
 <span style="font-size:15px">{% trans "Today" %}</span><br/>
 {% else %}
<a href="?date_range=today">{% trans "Today" %}</a><br/> 	
{% endif %}

{% if date_range == 'past7days' %}
 <span style="font-size:15px">{% trans "Past 7 Days" %}</span><br/>
 {% else %}
<a href="?date_range=past7days">{% trans "Past 7 Days" %}</a><br/> 
{% endif %}

{% if date_range == 'this_month' %}
 <span style="font-size:15px">{% trans "This Month" %}</span><br/>
 {% else %}
 <a href="?date_range=this_month">{% trans "This Month" %}</a><br/> 
{% endif %}

	<a href="javascript:alert('Not implemented yet!');">{% trans "This Season" %}</a><br/>  

{% if date_range == 'this_year' %}
 <span style="font-size:15px">{% trans "This Year" %}</span><br/>
 {% else %}
<a href="?date_range=this_year">{% trans "This Year" %}</a><br/>  
{% endif %}



	<a href="javascript:alert('Not implemented yet!');">{% trans "Pick a Range" %}</a><br/>  
 


{% if bookname == 'snippetbook' %}    
            <h4>{% trans "With attachment" %}</h4>  
       {% if with_attachment == 'All' %}
             <span style="font-size:15px">{% trans "All" %}</span><br/>
        {% else %}
            <a href="?with_attachment=All">{% trans "All" %}</a><br/>   
        {% endif %}   

        {% if with_attachment == 'True' %}
             <span style="font-size:15px">{% trans "Yes" %}</span><br/>
        {% else %}
            <a href="?with_attachment=True">{% trans "Yes" %}</a><br/>
        {% endif %}  
{% endif %}                 
      
       
       
{% block linkage_filter %}
{% endblock %}

       
-->    
    





{% block search_box %}
{% endblock %}


{% block special_side_menu %}
{% endblock %}

<!--

<div class="module"> 
        <h2>{% trans "Sorting" %}</h2>  

{% if sort == 'vote' %}
 <span style="font-size:15px">{% trans "By Importance" %}</span><br/>
 {% else %}
 <a href="?sort=vote">{% trans "By Importance" %}</a><br/> 	
{% endif %}

{% if sort == 'init_date' %}
 <span style="font-size:15px">{% trans "By Creation Date" %}</span><br/>
 {% else %}
<a href="?sort=init_date">{% trans "By Creation Date" %}</a><br/>
{% endif %}

{% if sort == 'last_modi_date' %}
 <span style="font-size:15px">{% trans "By Last Modification Date" %}</span><br/>
 {% else %}
<a href="?sort=last_modi_date">{% trans "By Last Modification Date" %}</a><br/>
{% endif %}

{% if sort == 'title' %}
 <span style="font-size:15px">{% trans "By Title" %}</span><br/>
 {% else %}
<a href="?sort=title">{% trans "By Title" %}</a><br/> 	
{% endif %}

{% if sort == 'desc' %}
 <span style="font-size:15px">{% trans "By Desc" %}</span><br/>
 {% else %}
<a href="?sort=desc">{% trans "By Desc" %}</a><br/> 	
{% endif %}
    
 <h4>{% trans "Order Type" %}</h4> 
{% if order_type == 'desc' %}
 <span style="font-size:15px">{% trans "Descend" %}</span><br/>
 {% else %}
<a href="?order_type=desc">{% trans "Descend" %}</a><br/>   	
{% endif %}
{% if order_type == 'asc' %}
 <span style="font-size:15px">{% trans "Ascend" %}</span><br/>
 {% else %}
 <a href="?order_type=asc">{% trans "Ascend" %}</a><br/>    	
{% endif %}
             
      
            
</div> 


<div class="module"> 
        <h2>{% trans "Archive" %}</h2> 
	
</div> 

{% if user.username == profile_username %}
<div class="module"> 
        <h2>{% trans "Managing" %}</h2>  
       <a href="/{{profile_username}}/settings/tags/">{% trans "Manage Tags" %}</a><br/>           
       <a href="/{{profile_username}}/{{bookname}}/settings/folders/">{% trans "Manage Folders" %}</a><br/>             
</div>

{% block import_menu %}
{% endblock %}

{% endif %}


-->

<!--
<div class="module"> 
        <h2>{% trans "My Learning Groups" %}</h2>  
         <a href="javascript:alert('Not implemented yet!');">{% trans "Create a Learning Group" %}</a><br/>             
</div>
-->


</div> 
{% comment %}
{% include "include/debug_query.html" %}
{% endcomment %}

<div id='main'>
{% block header %}
{% endblock %}

{% block content %}




{% endblock %}
</div>


</div>





<div id="footer"/>
</div>


</body> 
</html> 