{% load i18n %}

<script>          
        //displaying notifications
        $.post('/getNotices/',{}, gotNotices, 'json');            
                      
        function gotNotices(notices){    
                 if  (notices.length == 0){
                         $('.notices').hide(0);
                 }else{                 
                      for(var i = 0; i < notices.length; i++){
                           //TODO:not able to translate inside js?
                             $('.notices').append(' <li notice_id="'+notices[i][0]+'"><span class="notice"><a  href="'+notices[i][2]+'">'+{% trans "notices[i][1]" %}+'</a></span></li>');                 
                      }
                            $('.notices').show(0);
                  }                   
        }
 </script>       
 <script>           
jQuery(function($){
         $('.notices').hide(0);
        
         $('.hide_notice'). click(function(){
                        $(this).parents('span.notices').hide(0);
                });		
        });
	
</script>



<span class="notices">
<span class="hide_notice" title="{% trans "hide notices" %}"><img src="/site_media/img/delete-cross-small.gif"/></span>

</span>
