{% load i18n %}


<table><tr><td>
<div id="profile_head">
<div><a href="/settings/"><img class="avatar" src={% if  appname == 'friends' %}"/site_media/img/friends.png"{% else %}{% if  profile_member.icon %}"/file/{{profile_member.icon}}"
{% else %}
{% if  profile_member.gender == 'f' %}"/site_media/img/default_female.png"{% endif %} 
{% if  profile_member.gender == 'm' %}"/site_media/img/default_male.jpg"{% endif %} 
{% if  not profile_member.gender %}"/site_media/img/default_user_icon.jpg"{% endif %}{% endif %}{% endif %}/></a>
</div>
</td>
<td>
<div><a href="/social/{{profile_member.username}}/">{{profile_member.username}}</a>
</div>
<!--
<div>{{profile_member.last_name}}  {{profile_member.first_name}}
</div>
<div>{{profile_member.nickname}}
</div>-->
<!--for group name-->
{% if  appname == 'groups' %}
<div>{% trans 'Group' %}:{{profile_member.name}} 
</div>
{% endif %}

<div title="{% trans 'Last login time' %}">{{profile_member.last_login}}
</div>

<p><a href="/social/{{profile_username}}/commentsfor/">{% blocktrans %} Comments for {{profile_username}}{% endblocktrans %}</a></p>
<p><a href="/social/{{profile_username}}/commentsby/">{% blocktrans %} Comments by {{profile_username}}{% endblocktrans %}</a></p>

{% if  appname == 'notes' %}
<div><br/>
<a href="/social/{{profile_username}}/snippetbook/notes/" title="{% trans 'View your public notebook' %}">{% trans 'View social' %}</a>
</div>
{% endif %}
{% if  appname == 'social'  and user.member == profile_member %}
<div><br/>
<a href="/{{profile_username}}/snippetbook/notes/" title="{% trans 'View your personal notebook' %}">{% trans 'View personal' %}</a>
</div>
{% endif %}
<br/>
</td>
</tr>
<tr><td colspan=2>
<div id="bookname_show">
<select id="bookname_drop_down"  name="bookname_select">
        {% if bookname == 'snippetbook' %}
            <option value="Snippets" selected="selected">{% trans "Snippets" %}</option>
        {% else %}
            <option value="Snippets">{% trans "Snippets" %}</option>
        {% endif %}
        {% if bookname == 'bookmarkbook' %}
            <option value="Bookmarks" selected="selected">{% trans "Bookmarks" %}</option>
        {% else %}
            <option value="Bookmarks">{% trans "Bookmarks" %}</option>
        {% endif %}
        {% if bookname == 'scrapbook' %}
            <option value="Scraps" selected="selected">{% trans "Scraps" %}</option>
        {% else %}
            <option value="Scraps">{% trans "Scraps" %}</option>
        {% endif %}
        {% if bookname == 'framebook' %}
            <option value="Frames" selected="selected">{% trans "Frames" %}</option>
        {% else %}
            <option value="Frames">{% trans "Frames" %}</option>
        {% endif %}
        {% if bookname == 'notebook' %}
            <option value="All" selected="selected">{% trans "All" %}</option>
        {% else %}
            <option value="All">{% trans "All" %}</option>
        {% endif %}
        </select> 
</div>
<div>
{% include "include/supersearch.html" %}
</div><br/>
<table><tr>{% comment %}get counts for others (such as group, personal notebook, area){% endcomment %}
<td>{{profile_member.get_public_snippets_count}} <br/><a href="{{book_uri_prefix}}/snippetbook/notes/">{% trans "Snippets" %}<img src="/site_media/img/Snippet.png" title="Snippet"/></a></td>
<td>{{profile_member.get_public_bookmarks_count}}<br/><a href="{{book_uri_prefix}}/bookmarkbook/notes/">{% trans "Bookmarks" %}<img src="/site_media/img/Bookmark.png" title="Bookmark"/></a></td>
<td>{{profile_member.get_public_scraps_count}} <br/><a href="{{book_uri_prefix}}/scrapbook/notes/">{% trans "Scraps" %}<img src="/site_media/img/Scrap.png" title="Scrap"/></a></td>
<td>{{profile_member.get_public_frames_count}}<br/><a href="{{book_uri_prefix}}/framebook/notes/">{% trans "Frames" %}<img src="/site_media/img/Frame.png" title="Frame"/></a></td>
<td>{{profile_member.get_public_notes_count}}<br/><a href="{{book_uri_prefix}}/notebook/notes/">{% trans "All" %}</a></td>
</tr></table>
<br/>

<br/>
<div>
<span class="clickable" onclick="window.location.replace('/messages/write/?recipients={{profile_member.username}}')"><img src="/site_media/img/email.png"/> {% trans "Private Message" %}</span>
</div>
<br/>
{% if  user.username == profile_member.username%}
<p><a href="/social/{{profile_username}}/commentsfor/">{% blocktrans %} Comments for {{profile_username}}{% endblocktrans %}</a></p>
<p><a href="/social/{{profile_username}}/commentsby/">{% blocktrans %} Comments by {{profile_username}}{% endblocktrans %}</a></p>
{% endif %}
</div>

</td>
</tr>
</table>