{% load i18n %}


<div id="sites_header" class="noPrint">
<span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/snippetbook/notes/">{% trans 'Notes' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/framebook/notes/">{% trans 'Frames' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/tagframe/">{% trans 'Tags' %}</a>
</span>


<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/groups/">{% trans 'Learning Groups' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/friends/">{% trans 'Friends' %}</a>
</span>

<span class="item">
<a href="/suggest/">{% trans 'Suggest' %}</a>
</span>

<!--
<span class="item">
{% if bookname == 'snippetbook' %}
<span style="font-size:12px">{% trans 'Snippetbook' %}</span>
{% else %}
<a href="/{{ user.username }}/snippetbook/notes/">{% trans 'Snippetbook' %}</a>
{% endif %}
</span>
<span class="item">
{% if bookname == 'bookmarkbook' %}
<span style="font-size:12px">{% trans 'Bookmarks' %}</span>
{% else %}
<a href="/{{ user.username }}/bookmarkbook/bookmarks/">{% trans 'Bookmarks' %}</a>
{% endif %}
</span>
<span class="item">
{% if bookname == 'scrapbook' %}
<span style="font-size:12px">{% trans "Scrapbook" %}</span>
{% else %}
<a href="/{{ user.username }}/scrapbook/scraps/">{% trans "Scrapbook" %}</a>
{% endif %}
</span>
-->

</span>
<span class='sites_right_header'>
<span class="item">
    <strong><a href="/social/{{ user.username }}/">{{ user.username }}</a></strong> <!--TODO:user-->
</span>
<span class="item">
    <a href="/forNewUsers/">{% trans 'For new users' %}</a>
</span>
<span class="item">
    <a href="/social/leon/framebook/notes/note/10740/" class="NotImplementedYet">{% trans 'Doc' %}</a>
</span>
<span class="item">
{% if not user.is_anonymous %}
    <a href="/settings/">{% trans 'Settings' %}</a>
{% endif %}       
</span>
<span class="item">
{% if user.is_anonymous %}
    <a href="/login/">{% trans "Log in" %}</a>
{% else %}
    <a href="/passwordChange/">{% trans 'Change password' %}</a> /
    <a href="/logout/">{% trans "Log out" %}</a>
{% endif %}    
</span> 
<span class="item">
     <a href="/setLang/?language=zh-cn">中文</a> |  <a href="/setLang/?language=en-us">English</a> &nbsp;&nbsp;&nbsp;&nbsp;
</span>
</span>
</div>

