{% load i18n %}




<span id="space_nav">

<span class="space_menu">
     {% trans 'My Personal Space' %}<br/><br/>
     <span class="item">
        <a href="/{{ user.username|default:'anonymous' }}/snippetbook/notes/">{% trans 'Notes' %}</a>
    </span>
    <span class="item">
<a href="/{{ user.username|default:'anonymous' }}/framebook/notes/">{% trans 'Frames' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/tagframes/">{% trans 'Tag Tree' %}</a>
</span><br/>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/areas/">{% trans 'Areas' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/framebook/notes/?&pick_plan=w">{% trans 'Plans' %}</a>
</span>

</span>



<span class="space_menu">
     {% trans 'My Social Space' %}<br/><br/>
     
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/groups/">{% trans 'Groups' %}</a>
</span>

<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/salons/">{% trans 'Salons' %}</a>
</span>
<br/>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/friends/">{% trans 'Friends' %}</a>
</span>

</span>




<span class="space_menu">
     {% trans 'Square' %}<br/><br/>
     

<span class="item">
<a href="/salons/">{% trans 'Salons' %}</a>
</span>

<span class="item">
<a href="/groups/">{% trans 'Groups' %}</a>
</span>

</span>


</span>



<div id="sites_header" class="noPrint" >
{% if user.is_anonymous or user.member.default_ui != 'old' %} 

<span class="new">
<span class="item"  id="space"><!--
<img src="/site_media/img/door.png"/>-->
<a href="javascript:void();">{% trans 'Space' %}</a>
</span>
<span class="item">
<a href="/suggest/">{% trans 'Suggest' %}</a>
</span>
<span class="item" style="background:#E0FF85">
<a href="/switchui?v=old">{% trans 'Switch back to the old menu' %}</a>
</span>
</span>

 {% else %}

<span class="previous">
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/snippetbook/notes/">{% trans 'Notes' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/framebook/notes/">{% trans 'Frames' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/tagframes/">{% trans 'Tag Tree' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/areas/">{% trans 'Areas' %}</a>
</span>
<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/framebook/notes/?&pick_plan=w">{% trans 'Plans' %}</a>
</span>

<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/groups/">{% trans 'Groups' %}</a>
</span>

<span class="item">
<a href="/salons/">{% trans 'Salons' %}</a>
</span>

<span class="item">
<a href="/{{ user.username|default:'anonymous' }}/friends/">{% trans 'Friends' %}</a>
</span>

<span class="item">
<a href="/suggest/">{% trans 'Suggest' %}</a>
</span>
<span class="item" style="background:#E0FF85">
<a href="/switchui?v=new">{% trans 'Switch to the new menu' %}</a>
</span>


<!--
<span class="item">
{% if bookname == 'snippetbook' %}
<span style="font-size:12px">{% trans 'Snippetbook' %}</span>
{% else %}
<a href="/{{ user.username }}/snippetbook/notes/">{% trans 'Snippetbook' %}</a>
{% endif %}
</span>
<span class="item">
{% if bookname == 'bookmarkbook' %}
<span style="font-size:12px">{% trans 'Bookmarks' %}</span>
{% else %}
<a href="/{{ user.username }}/bookmarkbook/bookmarks/">{% trans 'Bookmarks' %}</a>
{% endif %}
</span>
<span class="item">
{% if bookname == 'scrapbook' %}
<span style="font-size:12px">{% trans "Scrapbook" %}</span>
{% else %}
<a href="/{{ user.username }}/scrapbook/scraps/">{% trans "Scrapbook" %}</a>
{% endif %}
</span>
-->

</span>

{% endif %}



<span class='sites_right_header'>
<span class="item">
    <strong><a href="/social/{{ user.username }}/">{{ user.username }}</a></strong> <!--TODO:user-->
</span>
{% if not user.is_anonymous %}
<span class="item">
    <a href="/forNewUsers/">{% trans 'For new users' %}</a>
</span>
{% comment %}
<span class="item">
    <a href="/doc/">{% trans 'Doc' %}</a>
</span>
{% endcomment %}
<span class="item">
    <a href="/settings/">{% trans 'Settings' %}</a> 
</span>
{% endif %}      
<span class="item">
{% if user.is_anonymous %}
    <a href="/login/">{% trans "Log in" %}</a>
{% else %}
    <a href="/passwordChange/">{% trans 'Change password' %}</a> /
    <a href="/logout/">{% trans "Log out" %}</a>
{% endif %}    
</span> 
<span class="item">
     <a href="/setLang/?language=zh-cn">中文</a> |  <a href="/setLang/?language=en-us">English</a> &nbsp;&nbsp;&nbsp;&nbsp;
</span>
</span>
</div>

