<!DOCTYPE html>
<html>
<head>
<!--TODO:useful?-->
<meta charset="utf-8">


  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  
  
  <script>
  $(document).ready(function() {
    $("#tabs").tabs();
    //$("#tabs").css('color','red')
  });
  </script>
</head>
<body style="font-size:62.5%;">
  
<div id="tabs">
    <ul>
        <li><a href="/leon/snippetbook/notes/"><span>One</span></a></li>
        <li><a href="/leon/bookmarkbook/notes/"><span>Two</span></a></li>
        <li><a href="/leon/scrapbook/notes/"><span>Three</span></a></li>
    </ul>
    
</div>
</body>
</html>
