{% load i18n %}

<script>
	jQuery(function($){

        $(updateFrameForm).hide();     		
		$('#edit_linkage'). click(function(){                       
		        $(updateFrameForm).show();
                });		
			
        });
</script>

<div>
<h2>{% trans 'Frame' %}</h2><a href="/{{profile_username}}/notebook/frames/">{% trans 'View all frames' %}</a>
</div>

<div>
<h2>{{frame.title|default:_('(No Title)')}}</h2>
</div>
<div>
{% trans 'Created' %} : {{frame.init_date|date:"Y-m-d H:i"}}
</div>
<div>
<b>{% trans 'desc' %}:</b> {{frame.desc}}
</div>
<div>
<b>{% trans 'tags' %}:</b> {{frame.display_tags}}
</div>


<div>
<b>{% trans 'private' %}:</b> {{frame.private|yesno:"yeah,no,maybe" }}
</div>

<div>
<b>{% trans 'importance' %}:</b> {{frame.vote}}
</div>
<div>
<b>{% trans 'attachment' %}:</b> {{frame.attachment}}
</div>
<div>


<b>{% trans 'notes included' %}: </b>
{% for id, title, desc, vote, type, note_bookname, tags, url in frame_notes_display %}
<div id="note_in_frame"><img src="/site_media/img/{{type}}.png" title="{{type}}"/>
<a href="/{{profile_username}}/{{note_bookname}}/notes/note/{{id}}/">{{title|default:'(No Title)'}}</a> 
{{desc}} 
 {% if type == 'Bookmark' or type == 'Scrap' %} 
 <a href="{{url}}">
<img src="/site_media/img/openurl.png" class=""/>
</a>
{% endif %}

<img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/>:
{% for tag  in tags %}
 {% if type != 'Frame' %} 
<a href="/{{profile_username}}/{{note_bookname}}/notes/tags/{{tag}}/">{{tag}}</a>,
{% else %}
{{tag}},
{% endif %}
{% endfor %}
<img src="/site_media/img/thumbUp.gif"/>{{vote}}
</div>
{% endfor %}



</div>

<br/><br/>

<!--TODO: change the way frames are updated here.  For now, just hide it-->
 {% if user.username == profile_username %} 
<div>
<span id="edit_linkage"><a href="#">{% trans 'Edit this Frame' %}:</a></span>
<div>
<form action="updateFrame/" method="post" enctype="multipart/form-data" id="updateFrameForm">
{{frame_form.as_p}}
<input type="submit" value="Submit" />
</form> 
</div>
</div>
{% endif %}





