{% extends "include/notes/notes_display.html" %}
{% load i18n %}



{% block note_brief_table_td1%}
				                <td class="note_table_td1">            
				                         {% include "include/notes/inlines/notes_brief_title_inline.html" %}   
				                </td>           
{% endblock %}

{% block note_full_table_td1%}                
					        <td class="note_full_table_td1">             
					                {% include "include/notes/inlines/notes_full_title_inline.html" %}   
					        </td>
{% endblock %}  
						    

{% block framebook_only_div%}	
                         
        <div  id="note_notes"> 
            {% trans 'Notes included in this frame' %}:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == profile_username %}   
               {% for n in note.get_notes_in_order %}       
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/{{profile_username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <span title="remove this note from the frame" class="inline_delete" id="frame_delete_note">&nbsp;&nbsp;&nbsp;<!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.display_public_notes  %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/{{profile_username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
         </div>   
{% endblock %}     		   

		    
{% block full_display_div_extra %}
     <div  id="note_notes"  note_id="{{note.id}}">
             {% trans 'Notes included in this frame' %}:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == profile_username %} 
               {% for n in note.get_notes_in_order %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/{{profile_username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <span title="remove this note from the frame" class="inline_delete" id="frame_delete_note">&nbsp;&nbsp;&nbsp;<!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.get_public_notes_in_order  %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/{{profile_username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                               <!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
    </div>

    <div note_id="{{note.id}}">
                {% include "framebook/notes/inlines/add_included_notes.html" %}   
     </div>   
{% endblock %} 	
