{% load i18n %}



 <div  id="note_add_notes">
                    {% if user.username == profile_username %}
                        <span class="editable add">
                            <span  class="included_notes_edit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="text" name="included_notes_added" id="update_included_notes_inline_box"  style="display: none;"   placeholder="{% trans "Enter comma separated note ids" %}"/>
                            <span style="display:none;color:red;" class="msg"></span>
                            {% trans 'add more notes to the frame' %} 
                            <span title='{% trans "Enter comma separated note ids. And those notes will be included in this frame." %}'>
                                    <a href="/social/leon/framebook/notes/note/15946/"><img src="/media/img/admin/icon-unknown.gif"/></a>
                            </span> 
                        </span>    
                        
                        <br/>{% trans 'OR' %} <br/>
                                            
                        <span class="editable create" >
                            <span  class="included_notes_edit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="text" name="included_notes_added" id="update_included_notes_inline_box"  style="display: none;"   placeholder="{% trans "Write your snippet here directly" %}"/>
                            {% trans 'Write a snippet in this frame directly' %} 
                            <span title='{% trans "You can create a snippet here directly. Just write in the box and a new snippet will be created and be included in this frame." %}'>
                                <img src="/media/img/admin/icon-unknown.gif"/>                            
                            </span>
                        
                        </span>
                     
                    {% endif %}
        </div>