{% load adminmedia admin_list i18n %}

<script>
	jQuery(function($){

            $('span.editableText').editableText({
                    newlinesEnabled: false
			});
			
			$.editableText.defaults.newlinesEnabled = true;

			$('div.editableText, p.editableText').editableText();
			
			$('.editableText').change(function(){
                    var newValue = $(this).text();
                    $(this).load('updateLinkageNoteInline/',{ 'note_id':$(this).parents('li').attr('note_id'), 'note_field':$(this).parents('div').attr('id'), 'content':  newValue})
			});			
			
            //move below to a separate file
            $('.thumbup'). click(function(){
                    $(this).parents(".thumb").find("#note_vote").load('voteUpLinkage/',{ 'note_id':$(this).parents("li").attr('note_id')});

            });
		
            $('.thumbdown'). click(function(){
                    $(this).parents(".thumb").find("#note_vote").load('voteDownLinkage/',{ 'note_id':$(this).parents("li").attr('note_id')});

            });
		
            $('.delete_img'). click(function(){
                    $(this).load('deleteLinkage/',{ 'linkage_id':$(this).parents("li").attr('note_id')});
                    $(this).parents("li").remove();
            });
		
            $('span#linkage_delete_note').click(function(){		
                    $(this).load('deleteNoteFromLinkage/',{ 'linkage_id':$(this).parents('li.note_display').attr('note_id'), 'note_id':$(this).parents('div[linked_note_id]').attr('linked_note_id')});
                    $(this).parents("div[linked_note_id]").remove();
            });
			
    });
</script>






<div class="search_term">
{% if qstr %}
      <form action="saveSearch" method="post"> Search term is: {{qstr}} &nbsp;&nbsp;<input type="hidden" value="{{qstr}}"/><input type="submit" value="Save this search"/></form> 
{% endif %}
</div>


<div class="section_header">
<span class="item">Show:</span><span class="item"><a href="javascript:expandall();">Expanded</span><span class="item"><a href="javascript:collapseall();">List</a></span><span class="show_notes_section"><img title="show {{included_aspect_name}} section" src="/site_media/img/right-arrow.jpg"/></span><span class="hide_notes_section"><img title="hide {{included_aspect_name}} section" src="/site_media/img/down-arrow.jpg"/></span> 
</div>

<table width="100%"><tr>
                <td width="10%">{% if user.username == profile_username %}     
                        <span>{% trans "Select" %}: <a href="javascript:selectAll();">{% trans "All" %}</a>, <a href="javascript:selectNone();">{% trans "None" %}</a></span>
                        {% endif %}
                </td>
                <td width="80%">
 {% block pagination_top %}{% pagination cl %}{% endblock %}  
 </td>
                <td width="10%">
              <!--  
 <a name="top"/>

<a href="#bottom">{% trans "bottom" %}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('Not implemented yet!');">{% trans "Expand all" %}</a>
-->
</td>
</tr>
</table>

 
 
{% if note_list %}

<div class="notes_display" view_mode="{{view_mode}}">
<ul>
    {% for note in note_list.object_list %}    
     
         <li class="note_display" note_id="{{ note.id }}"  style="position:relative;">
         {% if user.username != profile_username and note.is_private %} 
             Private linkage. No permisson to view.         
        {% else %}   
      {% if user.username == profile_username %}    
	 <input type="checkbox" name="note_selected"  value="{{ note.id }}" class="note_selection" />
     {% endif %}
	         <div class="kuoda"></div><div class="yasuo"></div>
		    <span class="thumb">
			<span id="note_vote">vote:{{note.get_vote}}</span>
            <!--
			<a href="#" class="thumbup"><img src="/site_media/img/thumbUp.gif"/></a>
			<a href="#" class="thumbdown"><img src="/site_media/img/thumbDown.gif"/></a>
            -->
		    </span>
            {% if user.username == profile_username %} 
		    <a href="#" class="delete_img"><img src="/site_media/img/delete.png"/></a>
            {% endif %}
            
<div class="brief_display" id="linkage">

         <table class="note_table">
                <tr>
                    <td class="note_table_title">
                        <div id="note_title"><a href="/{{profile_username}}/{{bookname}}/linkagenotes/note/{{ note.id }}/"><b>{{ note.title|default:_('(No Title)') }}</b></a></div> 	
                    </td>
                    <td class="note_table_desc">			    
                        <div  id="note_desc">{{note.desc}}</div>
                    </td>
                    <td class="note_table_tags">
                        <div id="note_tags">{{note.display_tags}}</div>		    
                    </td>
                </tr>
        </table>
            
           
        <div  id="note_type_of_linkage" title="type_of_linkage">Type of linkage: {{note.get_type_of_linkage_display|default:'Not specified'}} </span></div>
        <div  id="note_notes">
            {{included_aspect_name}} linked in this linkage:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == profile_username %} 
               {% for n in note.display_notes %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{n.0}}"><strong>{{n.1|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <span title="remove this note from the linkage" class="inline_delete" id="linkage_delete_note">&nbsp;&nbsp;&nbsp;<!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.display_public_notes  %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{n.0}}"><strong>{{n.1|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
         </div>   

</div>


<div class="full_display">
            
		    <table class="note_table"><tr><td class="note_table_title">
	            <div id="note_title">{% if user.username == profile_username %}<span class="editableText">{% endif %}<a href="/{{profile_username}}/{{bookname}}/linkagenotes/note/{{ note.id }}/"><b>{{ note.title|default:_('(No Title)') }}</b></a>{% if user.username == profile_username %}</span>{% endif %}</div> 	
                     </td><td class="note_table_desc">			    
		   <div  id="note_desc">{% if user.username == profile_username %}<span class="editableText">{% endif %}{{note.desc}}{% if user.username == profile_username %}</span>{% endif %}</div>
		    <!-- <div  id="note_desc_short" title="note desc">{{note.get_desc_short}}</div>
		    <div  id="note_desc_supershort" title="note desc">{{note.desc|truncatewords:"18" }}</div>-->
		    </td>
		    <td class="note_table_tags">
		    <div id="note_tags">{{note.display_tags}}</div>
		    
		    </td>
		    </tr>
		    </table>
            
           
		    <div  id="note_type_of_linkage" title="type_of_linkage">Type of linkage: {{note.get_type_of_linkage_display|default:'Not specified'}} </span></div>
		    <div  id="note_notes">
            {{included_aspect_name}} linked in this linkage:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == profile_username %} 
               {% for n in note.display_notes %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{n.0}}"><strong>{{n.1|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <span title="remove this note from the linkage" class="inline_delete" id="linkage_delete_note">&nbsp;&nbsp;&nbsp;<!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.display_public_notes  %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{n.0}}"><strong>{{n.1|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                               <!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
		    </div>
            
           <div>
		     <div  id="note_add_notes">{% if user.username == profile_username %}<span  class="editableText"></span>&nbsp;&nbsp;&nbsp;add more {{included_aspect_name}} to the linkage <a href="javascript:alert('{% trans "When editing, replace content with comma separated note ids. And those notes will be included in this linkage." %}');"><img src="/media/img/admin/icon-unknown.gif"/></a>{% endif %}
             <!--replace this with comma separated note ids--><!--TODO: or use form:  <form action="addNote/" method="post" ><input type="text" name="addednotes" id="addednotes"/><input type="submit" value="add more notes to the linkage"/></form>-->
		    </div>
		    <div  id="note_init_date" title="initial creation time">{% if user.username == profile_username %}<span  class="editableText">{% endif %}{{note.init_date|date:"Y-m-d H:i"}}{% if user.username == profile_username %}<span>{% endif %}</div>
		    <div  id="note_last_modi_date" title="last modified time">{{note.last_modi_date|date:"Y-m-d H:i"}} </div>
		    {% if note.attachment %}
		    <div  id="note_attachment" title="attachment"><a href="/file/{{note.attachment.name}}" target="_blank">{{note.attachment.name}}</a> </div>
		    {% endif %}
	        </div>
            
</div>            
          {% endif %}      
	</li>
    {% endfor %}
</ul>
</div>


{% endif %}
{% block pagination_bottom %}{% pagination cl %}{% endblock %}
