{% extends "include/note_list_base.html" %}
{% load i18n %}

{% block tite %}
<title>{{profile_username}}'s Snippets</title> 
{% endblock %}


{% block site_branding %}

{% endblock %}


{% block header %}
<div id="header">
<div id="branding">
<h1 id="site-name">{% blocktrans %}Notetbook of {{profile_username}}{% endblocktrans %}</h1>
</div>

<div class="book_tabs">
<span class="book_tabs_item current" onclick="window.location.replace('/{{ profile_username }}/snippetbook/notes/')">{% trans "Snippets" %}</span>
<span class="book_tabs_item" onclick="window.location.replace('/{{ profile_username }}/bookmarkbook/notes/')">{% trans "Bookmarks" %}</span><span class="book_tabs_item" onclick="window.location.replace('/{{ profile_username }}/scrapbook/notes/')">{% trans "Scraps" %}</span>
<span class="disabled">  |
<a href="/{{ profile_username }}/notebook/notes/">{% trans "All" %}</a> </span> <span class="disabled" style="float:right;"><a href="../linkagenotes">{% trans "linkiages" %}</a></span>
</div>
</div>
{% endblock %}



{% block special_side_menu %}
{% include "snippetbook/notes/folders_ special_side_menu.html" %} 
{% include "include/groups_menu.html" %}
{% include "include/friends_menu.html" %}
{% endblock %}


{% block site_apps_menu %}



<!--TODO: refactor-->
<!--
<div>
{% if aspect_name == 'notes' %}
 <span style="font-size:18px" class="noteshome"  onclick="window.open('/{{ profile_username }}/snippetbook/notes/', '_self')">{% trans "Notes" %}</span>
 {% else %}
<a href="/{{ profile_username }}/snippetbook/notes/">{% trans "Notes" %}</a>
{% endif %}  |   
{% if aspect_name == 'linkagenotes' %}
 <span style="font-size:18px">{% trans "Linkages" %}</span>
 {% else %}
<a href="/{{ profile_username }}/snippetbook/linkagenotes/">{% trans "Linkages" %}</a> 
{% endif %}  |   
{% if aspect_name == 'folders' %}
 <span style="font-size:18px">{% trans "Folders" %}</span>
 {% else %}
<a href="/{{ profile_username }}/snippetbook/folders//">{% trans "Folders" %}</a>    
{% endif %}     
</div>
-->
{% endblock %}