{% extends "include/notes/notesdisplay.html" %}
{% load i18n %}

{% block extra_script %}
 <script type="text/javascript">

</script>
{% endblock %}

{% block add_note_section %}


<div id="add_note_section">
<div class="section_header">
<!--记录你的感受/想法--><span class="big_font">{{user.username}}, {% trans "What have your learned today?" %}</a><a href=""><img src="/media/img/admin/icon-unknown.gif"/></a>:&nbsp;&nbsp;&nbsp;&nbsp;
<span class="show_add_note_section"><img title="{% trans 'Show adding snippet' %}" src="/site_media/img/right-arrow.jpg" class="clickable"/></span>
<span class="hide_add_note_section"  ><img title="{% trans 'Hide adding snippet' %}" src="/site_media/img/down-arrow.jpg" class="click_img"/></span> 

</div>

<div class="addnote">
<!--TODO:get ok? it still send an extra request to the server-->
{% if current_tag %}
	<input type="hidden" name="tags" value="{{current_tag}}"/>
{% endif %}    
    <textarea id="id_desc" rows="3" cols="90" name="desc"></textarea>
    <div>{% trans "Private" %} <input type="checkbox" name="private" id="id_private"/>
    
<span>
    <span class="tags_img clickable" onclick="javascript:showAddNoteTags();" title="{% trans 'Add tags' %}"><img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/></span>
    <div id="add_note_tags_box">                       
<ul id="add_note_tags"></ul>
<!--
 <button  id="add_tags_to_note"  onclick="javascript:addNoteTags();">{% trans 'Add Tags' %}</button>
 
  <button  id="cancel_change_note_tags" onclick="javascript:cancelChangeTags();">{% trans 'Cancel' %}</button>
  -->
</div>
</span>
</div> 
    <span id="charCount"></span>
    <span id="charCount_alert"></span>
    <br/><button id="add_note_submit"  onclick="javascript:addNote();"/>{% trans 'Add' %}</button>
    {% trans "Short snippet is recommended (less than 300 characters)" %}
    <a href="javascript:alert('{% trans "A short snippet is enough to represent a significant experience. Practice on that. :-)" %}');"><img src="/media/img/admin/icon-unknown.gif"/></a>

</div>
<br/>
</div>

{% endblock %}




{% block notes_section %}
    {% include "snippetbook/notes/notes_display.html" %}
{% endblock %}
