{% extends "include/notes/inlines/add_comments_inline.html" %}
{% load i18n %}




<!--below doesn't seem to work. TODO:-->
{% block comment_display %}+'<div><a href="/social/'+result.commenter+'"/>'+result.commenter+'</a>:'+result.desc+'</div>'+{% endblock %}



{% block content%}
      <div comment_id="{{comment.id}}">
          <a href="/social/{{comment.commenter}}/">{{comment.commenter}}</a>:{{comment.desc}} 
          {% if comment.commenter.username == user.username %}  <span title="{% trans "remove this comment" %}" class="inline_delete_comment" id="note_delete_comment">&nbsp;&nbsp;&nbsp;</span>
          {% endif %} 
      </div>   
{% endblock %}   


{% block other_buttons %}
<span class="share_button"><a href="javascript:void(0);">{% trans "Share" %}</a></span>&nbsp;&nbsp;
{% if user.username == profile_username %}  
<span>
<a href="/{{user.username}}/{{bookname}}/notes/note/{{note.owner_note_id}}/" title="{% trans 'View this note in your personal notebook' %}">{% trans 'View personal' %}</a>
</span>
{% endif %}
{% endblock %}
