{% load i18n %}

<div id="note_tags" title="{% trans "note tags" %}">
                {% for tag in note.get_tags %}
                    {% if not tag.private or tag.name == group.get_group_tag_name %}
                        <span>
                            {% if appname == 'groups' %}
                                {% if tag in group.get_tag_names %}<a href="/groups/{{group.name}}/{{bookname}}/tags/{{tag}}/">{{tag}}</a>
                                {% else %}{{tag}}
                                {% endif %}, 
                            {% else %}
                                {% if  'takenfrom:' in tag.name  %}
                                    <span><a href="/social/{{profile_username}}/{{bookname}}/notes/tags/{{tag.name_as_list.0}}:/">{{tag.name_as_list.0}}:</a><a href="/social/{{profile_username}}/{{bookname}}/notes/tags/{{tag.name_as_list.0}}:{{tag.name_as_list.1}}/">{{tag.name_as_list.1}}</a>:<a href="/social/{{tag.name_as_list.1}}/{{bookname}}/notes/note/{{tag.name_as_list.2}}/">{{tag.name_as_list.2}}</a></span> 
                                {% else %}    
                                    <a href="/social/{{note.owner.username}}/{{bookname}}/tags/{{tag}}/">{{tag}}</a>, 
                                {% endif %}       
                            {% endif %}  
                    </span>
                    {% endif %}
                {% empty %}   
                     <span><a href="/social/{{note.owner.username}}/{{bookname}}/tags/untagged/">{% trans "untagged" %}</a>,</span>
                {% endfor %}
</div>        