{% extends "social/include/notes/note/notedisplay.html" %}
{% load i18n %}


{% block note_type%}
<div>
<h2>{% trans 'Frame' %}</h2><a href="{{book_uri_prefix}}/framebook/notes/">{% trans 'View all frames' %}</a>
</div>
{% endblock %}

{% block notes_in_frame%}

<b>{% trans 'notes included' %} : </b>
{% for n in note.notes.all %}
<div id="note_in_frame"><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/>
<a href="/social/{{profile_username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}/">{{ n.title|default:_('(No Title)')}} </a> 
{{n.desc}} 
 {% if n.get_note_type == 'Bookmark' or n.get_note_type == 'Scrap' %} 
 <a href="{{n.url}}">
<img src="/site_media/img/openurl.png" class=""/>
</a>
{% endif %}

<img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/>:
{% for tag  in n.tags.all %}
<a href="/social/{{profile_username}}/{{n.get_note_bookname}}/tags/{{tag}}/">{{tag}}</a>,
{% endfor %}
<img src="/site_media/img/thumbUp.gif"/>{{n.vote}}
</div>
{% endfor %}


{% endblock %}