{% extends "social/include/notes/note/notedisplay.html" %}
{% load i18n %}
{% load tree_view %} 

{% block note_type%}
<div>
<h2>{% trans 'Frame' %}</h2><a href="{{book_uri_prefix}}/framebook/notes/">{% trans 'View all frames' %}</a>
</div>
{% endblock %}

{% block notes_in_frame%}

<b>{% trans 'notes included' %} : </b> 
    {% trans "Sorting" %}
    <select id="sort_drop_down"  name="sort">
            {% if sort == '' %}
                <option value="" selected="selected">{% trans "By default" %}</option>
            {% else %}
                <option value="">{% trans "By default" %}</option>
            {% endif %}
            {% if sort == 'vote' %}
                <option value="vote" selected="selected">{% trans "By Importance" %}</option>
            {% else %}
                <option value="vote">{% trans "By Importance" %}</option>
            {% endif %}
    </select>   

   <div id="sidetreecontrol"> <a href="?#">{% trans 'List' %}</a> | <a href="?#">{% trans 'Expanded' %}</a> </div>
    <ul class="frame_tree" >
        {% social_tree_view_tag note %}
    </ul> 


{% endblock %}