{% extends "social/include/note_list_base.html" %}
{% load i18n %}



{% block extra_css %}

<link rel="stylesheet" href="/site_media/css/jquery.treeview.css" />

{% endblock %}

{% block extra_script%}

 <script src="/site_media/js/jquery.treeview.js" type="text/javascript"></script>
 
 <script>

 
   $(function() {
			$(".frame_tree").treeview({
				collapsed: true,
				animated: "fast",
				control:"#sidetreecontrol",
				prerendered: true,
				persist: "location"
			});
		
          
	});
    	</script>
    
    
    
{% endblock %}




{% block content%}

<div id="content-main"> 
<div>
{% if user.username != profile_username and note.is_private %}  
{% trans "This one is private. Sorry you have no permission to view it!" %}
{% else %}  
{% include "social/framebook/notes/note/notedisplay.html" %}
{% endif %}
</div> 
</div> 
{% endblock %}