{% extends "social/include/notes/note/notedisplay.html" %}
{% load i18n %}
{% load tree_view %} 

{% block note_type%}
<div class="noPrint">
{% if  'Weekly Plan:' in note.title %}
    <a href="{{book_uri_prefix}}/framebook/notes/?q=Weekly Plan:">{% trans 'View all weekly plans' %}</a>
{% else  %}
    {% if  'Monthly Plan:' in note.title %}
        <a href="{{book_uri_prefix}}/framebook/notes/?q=Monthly Plan:">{% trans 'View all monthly plans' %}</a>
    {% else  %}
        <a href="{{book_uri_prefix}}/framebook/notes/">{% trans 'View all frames' %}</a>
   {% endif %}
{% endif %}
</div>
{% endblock %}

{% block notes_in_frame%}
<div class="noPrint">
<b>{% trans 'notes included' %} : </b> 
    {% trans "Sorting" %}
    <select id="sort_drop_down"  name="sort">
            {% if sort == '' %}
                <option value="" selected="selected">{% trans "By default" %}</option>
            {% else %}
                <option value="">{% trans "By default" %}</option>
            {% endif %}
            {% if sort == 'vote' %}
                <option value="vote" selected="selected">{% trans "By Importance" %}</option>
            {% else %}
                <option value="vote">{% trans "By Importance" %}</option>
            {% endif %}
    </select>   

   <div id="sidetreecontrol"> <a href="?#">{% trans 'List' %}</a> | <a href="?#">{% trans 'Expanded' %}</a></div>
    {% include "include/notes/note/display_attachment.html" %}     
 </div>   
    <ul class="frame_tree" >
        {% social_tree_view_tag note %}
    </ul> 


{% endblock %}