{% extends "include/note_list_base.html" %}
{% load i18n %}


{% block header %}
<div id="header">
<div id="branding">
<h1 id="site-name">{% blocktrans %}Public Notetbook of {{profile_username}}{% endblocktrans %}</h1>
</div>
<div class="book_tabs">
<span class="book_tabs_item {% if bookname == 'snippetbook' %}current{% endif %} " onclick="window.location.replace('/social/{{ profile_username }}/snippetbook/')">{% trans "Snippets" %}</span>
<span class="book_tabs_item {% if bookname == 'bookmarkbook' %}current{% endif %}" onclick="window.location.replace('/social/{{ profile_username }}/bookmarkbook/')">{% trans "Bookmarks" %}</span><span class="book_tabs_item {% if bookname == 'scrapbook' %}current{% endif %}" onclick="window.location.replace('/social/{{ profile_username }}/scrapbook/')">{% trans "Scraps" %}</span>
<span>
<a href="/social/{{ profile_username }}/notebook/notes/">{% trans "All" %}</a> </span> <span class="disabled" style="float:right;"><a href="../linkagenotes">{% trans "linkiages" %}</a></span>
</div>
</div>
{% endblock %}





{% block content%}

<div id="content-main"> 
<div> 
{% if user.username != profile_username and note.is_private %}  
{% trans "This one is private. Sorry you have no permission to view it!" %}
{% else %}  
{% include "social/notedisplay.html" %}
{% endif %}
</div> 
</div> 
{% endblock %}
