{% extends "include/notes/notes_display.html" %}
{% load i18n %}


            {% block note_brief_table_td_note_type%}
                <td><img src="/site_media/img/{{note.get_note_type}}.png" title="{{note.get_note_type}}"/></td>
              {% endblock %}   
               
            {% block note_brief_table_td1%}
                <td class="note_full_table_td1">  
                    <div id="note_title" title="{% trans 'note title' %}"><a href="/{{profile_username}}/{{note.get_note_bookname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a>
                    {% if note.get_note_type == 'Bookmark' %} 
                        <a href="{{note.bookmark.url}}" target="top"><img src="/site_media/img/openurl.png" class=""/></a>
                    {% endif %}
                    {% if note.get_note_type == 'Scrap' %}
                        <a href="{{note.scrap.url}}" target="top"><img src="/site_media/img/openurl.png" class=""/></a>
                    {% endif %}
                    </div> 	
                </td>            
            {% endblock %}
		  



        {% block note_full_table_td_note_type%}
            <td><img src="/site_media/img/{{note.get_note_type}}.png" title="{{note.get_note_type}}"/></td>
        {% endblock %}          
    
        {% block note_full_table_td1%}       
            <td class=""note_full_table_td2""> 
                <div id="note_title" title="{% trans "note title" %}">{% if user.username == profile_username %}<span class="editableText">{% endif %}<a href="/{{profile_username}}/{{note.get_note_bookname}}/notes/note/{{ note.id }}/">{{ note.title|default:_('(No Title)')}}</a>{% if user.username == profile_username %}</span>{% endif %}
                {% if note.get_note_type == 'Bookmark' %} 
                    <a href="{{note.bookmark.url}}" target="top"><img src="/site_media/img/openurl.png" class=""/></a>
                {% endif %}
                {% if note.get_note_type == 'Scrap' %}
                    <a href="{{note.scrap.url}}" target="top"><img src="/site_media/img/openurl.png" class=""/></a>
                {% endif %}
                </div> 	
            </td>
        {% endblock %} 
      
        

          {% comment %}   
        <!--Don't display notes included for now, since it requre adding them for each frame in the view.py code, which may slow down the performance      
		    {% if note.get_note_type == 'Frame' %}
           <div  id="notes_included">
           Notes included in the frame: 
            {% if user.username == profile_username %}      
            {{note.frame.display_notes}}
               {% for id, title, desc, vote in note.frame.display_notes %}    
                <div linked_note_id="{{n.0}}">show me
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{id}}"><strong>{{title|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{desc|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
                                <span title="remove this note from the frame" class="inline_delete" id="linkage_delete_note">&nbsp;&nbsp;&nbsp;</span>
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.frame.display_public_notes  %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/{{profile_username}}/{{bookname}}/{{included_aspect_name}}/note/{{n.0}}"><strong>{{n.1|default:'(No Title)'}}-</strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                              </span>
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
           </div>
            {% endif %}
           </div>
            --> 
           {% endcomment %}    
           
    
          {% comment %}          
           		    
{% block full_display_div_extra %}
{% if note.get_note_type == 'Frame'  %} 
     <div  id="note_notes">
             {% trans 'Notes included in this frame' %}:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == profile_username %} 
               {% for n in note.frame.get_notes_in_order %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/{{profile_username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% include "include/get_title.html" %}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                                <span title="remove this note from the frame" class="inline_delete" id="frame_delete_note">&nbsp;&nbsp;&nbsp;<!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.get_public_notes_in_order  %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/{{profile_username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% include "include/get_title.html" %}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                               <!--TODO:get rid of &nbsp; use the style instead--></span>
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
    </div>

    <div>
                <div  id="note_add_notes">
                    {% if user.username == profile_username %}
                        <span class="editable">
                        <span  class="included_notes_edit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type="text" name="included_notes_added" id="update_included_notes_inline_box"  style="display: none;"   placeholder="{% trans "Enter comma separated note ids" %}"/>
                       {% trans 'add more notes to the frame' %} 
                        <a href="javascript:alert('{% trans "Enter comma separated note ids. And those notes will be included in this frame." %}');">
                            <img src="/media/img/admin/icon-unknown.gif"/>
                        </a>
                        </span>
                    {% endif %}
        </div>
{% endif %}   
{% endblock %} 	
                  {% endcomment %}    
          
           
       