{% load i18n %}






<script type="text/javascript"> 
$(document).ready(function(){	
        tagsAvailable = [{% for tag in tags %}"{{tag}}",{% endfor %}];


        $('#add_note_vote_up'). click(function(){  
        //alert('add_note_vote_up');
                        var  vote_bar = $(this).parents("#add_note_vote_bar")
                        var vote_span = vote_bar.find("#add_note_vote")
                        vote = parseInt(vote_span.text());
                        newvote = vote+1
                        vote_span.text(newvote);
                        vote_bar.find(':input').val(newvote);
                        
                        //~ var c=document.getElementById("myCanvas");
                       //~ var ctx=c.getContext("2d");
                       //~ ctx.fillStyle="#FF0000";
                       //~ ctx.fillRect(0,0,15,7);
        });
 
        $('#add_note_vote_down'). click(function(){  
                       var  vote_bar = $(this).parents("#add_note_vote_bar")
                        var vote_span = vote_bar.find("#add_note_vote")
                        vote = parseInt(vote_span.text());
                        newvote = vote-1
                        vote_span.text(newvote);
                        vote_bar.find(':input').val(newvote);
        });


    //borrowed from http://coda-clips.com/textarea-character-count-jquery with modification
      $('div.addnote textarea#id_desc').keyup(function() {
                var charLength = $(this).val().length;
                // Displays count
                $('span#charCount').html(charLength);
                // Alerts when 300 characters is reached
                if($(this).val().length > 300)
                        $('#charCount_alert').html('<strong>{% trans "You have used up 300 characters. It is recommended to keep a snippet short." %}</strong>');
                 else
                       $('#charCount_alert').html('')                
        });

var onlineNow = navigator.onLine;    
if (onlineNow){
//alert('localStorage.notes_to_add'+localStorage.notes_to_add);
 syncAddNotes();
}



});


  
           
function showAddNoteTags(){    
            //alert('show add tgs');
            $("#add_note_tags").tagit("removeAll");
             //alert('show add tgs 1');
           $('#add_note_tags_box').toggle();  
          //  alert('show add tgs 2');
            $('#add_note_tags').show();  
           //  alert('show add tgs 3');
          //   $('#add_tags_to_note').show(3); 
            $('#add_note_tags_box').find('.tagit-new input').focus();     
           // $('#add_note_tags_box').find('.tagit-new input').css("background-color","#05FC9E");
           
           // $('#ac_tags').css("border","groove");
           //    alert('show add tgs done');          
    }

</script>

 {% if pagename == 'notes'%}
  {% include "snippetbook/notes/show_note_added_js.html" %} 
{% endif%}

<script type="text/javascript">
  





function addNote(){              
            desc = $('#id_desc').val();         
            //alert('desc:'+desc);             
            priv = $('#id_private').attr('checked');
          //   alert('priv:'+priv);        
            vote =  $('#id_vote').val();            
           
            var selected_tags = [];	
            $('ul#add_note_tags').find('li.tagit-choice').each(function(){               
                   	   // alert('find a tag:'+$(this).find(':input').val());
                            selected_tags.push($(this).find(':input').val());	                  			
            });	
             
       
        var online = navigator.onLine;        
     
     
 {% if pagename == 'notes'%} //if in notes list page,  still post to the server directly since you need the return from the server (such as the note id) to do the editing on the newly generated note
        if (online){         
             $.post('/{{profile_username}}/{{bookname}}/notes/addNote/?desc='+encodeURIComponent(desc)+'&private='+priv+'&vote='+vote+'&tags='+selected_tags,{}, noteAdded , 'json');         
         }else{    
              note_to_add = [desc, priv, vote, selected_tags];                        
              if (localStorage['notes_to_add']){ 
                    notes_to_add = JSON.parse(localStorage['notes_to_add']);
                    notes_to_add.push(note_to_add);
               }else{
                    notes_to_add = [];
                     notes_to_add.push(note_to_add);
             } 
              localStorage.notes_to_add = JSON.stringify(notes_to_add);
              noteAdded(notes_to_add);
              
              
         }
       
     {% else %}  //in addNoteOnly page, add directly to localStorage first no matter online or not, then sync to server. This way it will be faster.
     
     note_to_add = [desc, priv, vote, selected_tags];                        
              if (localStorage['notes_to_add']){ 
                    notes_to_add = JSON.parse(localStorage['notes_to_add']);
                    notes_to_add.push(note_to_add);
               }else{
                    notes_to_add = [];
                     notes_to_add.push(note_to_add);
             } 
              localStorage.notes_to_add = JSON.stringify(notes_to_add);
              noteAdded(notes_to_add);
        if (online){  
   
            syncAddNotes();
        }
        
        
        
        {% endif%} 
                        
    } 
    
   
    
    function noteAdded(note){
     // TODO: how to show error when error happened?      
        //   $('ul.messages').append('<li class="error">{% trans "An error happened when adding a note." %} </li>');     
    $('ul.messages').append('<li class="success">{% trans "Note is successfully added!" %} </li>');
    //clear the form's desc textarea field
        $('#id_desc').val('');
        
        {% if pagename == 'notes'%}showNoteAdded(note){% endif%} 
        
    }
    



function syncAddNotes(){  
      if (localStorage.notes_to_add){
          notes_to_sync = JSON.parse(localStorage['notes_to_add'])
         for (var i=0; i < notes_to_sync.length; i++){
            note_to_sync = notes_to_sync[i];
            $.post('/{{profile_username}}/{{bookname}}/notes/addNote/?desc='+encodeURIComponent(note_to_sync[0])+'&private='+note_to_sync[1]+'&vote='+note_to_sync[2]+'&tags='+note_to_sync[3],{}, noteSynced , 'json');   
        }          
   }

}

function noteSynced(result){ 
    //TODO: count and report how many succeeded and how many failed?
     notes_synced = JSON.parse(localStorage['notes_to_add']);
     count = notes_synced.length;
     
      $('ul.messages').append('<li class="success">'+count+' {% trans "notes successfully synced with the server!" %} </li>');
      localStorage.clear();

}

    
</script>
