{% load i18n %}

<div class="section_header">
		<span class="item">{% trans "Show" %}:</span>
		<span class="item"><a href="javascript:expandall();">{% trans "Expanded" %}</span>
		<span class="item"><a href="javascript:collapseall();">{% trans "List" %}</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="show_notes_section"><img title="show notes section" src="/site_media/img/right-arrow.jpg" class="clickable"/></span>
		<span class="hide_notes_section"><img title="hide notes section" src="/site_media/img/down-arrow.jpg" class="clickable"/></span> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% include "include/notes_pick_lang.html" %}    
        {% comment %}Use block inheritance and move this into framebook templates{% endcomment %}
         {% if  bookname == 'framebook'  %} 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% include "include/frames_pick_empty.html" %} 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% include "include/frames_pick_plans.html" %} 
                {% if cl.paginator.count > 50 %}
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% include "include/frames_pick_top.html" %} 
                 {% endif %}    
        {% endif %}          
		<span  style="float:right;"><a href="javascript:stream();" title="Alt-l">{% trans "Less" %}</a>    |    <a href="javascript:structure();" title="Alt-m">{% trans "More" %}</a></span>
</div>