{% load adminmedia admin_list i18n %}


<script type="text/javascript">
	$(document).ready(function(){	
                $('span.editableText').editableText({
                        newlinesEnabled: false
                });
			
                $.editableText.defaults.newlinesEnabled = true;

                $('div.editableText, p.editableText').editableText();
			
                $('.editableText').change(function(){
                        var newValue = $(this).text();
                        $(this).load('updateNoteInline/',{ 'id':$(this).parents('li').attr('note_id'), 'note_field':$(this).parents('div').attr('id'), 'content':  newValue})
                });
			
    
                $('.delete_img'). click(function(){
                        $(this).load('deleteNote/',{ 'id':$(this).parents("li").attr('note_id')});
                        $(this).parents("li").remove();
                });	
                
                

                
         
			
        });
        
    
</script>


<!--With pagination, the web page will disapper first and appear. Without pagination, although it is still slower than before (probably due to the search stuff), the webpage doesn't seem to disapper.-->

 {% block pagination_top %}{% pagination cl %}{% endblock %}  

<div class="notes_display" view_mode="{{view_mode}}">
<ul class="notes_display">
    {% for note in note_list.object_list %}
        {% if user.username != profile_username and note.is_private %}  
        {% else %}   
             {% if bookname == 'framebook' and note.is_in_frame %}
             {% else %}             
         <li class="note_display" note_id="{{ note.id }}"  social_note_id="{{ note.get_social_note.id }}">
          <div class="{{bookname}}" note_id="{{ note.id }}">
         {% if user.username == profile_username %}     
	            <input type="checkbox" name="note_selected"  value="{{ note.id }}" class="note_selection" />
        {% endif %}      
	          <div class="kuoda"></div><div class="yasuo"></div>
            
            {% if user.username == profile_username %}  
            <span class="lockunlock">               
                <span class="lock" title="{% trans 'private'  %}" style="display:{% if note.private %}inline{% else %}none{% endif %};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              
                </span>                           
                <span class="unlock" title="{% trans 'public'  %}" style="display:{% if note.private %}none{% else %}inline{% endif %};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          
                </span>                   
            </span>
            {% endif %}  
		    <span class="thumb">			
            {% if user.username == profile_username %}  
			<span class="thumbup hover"  title="{% trans "Rank Up Importance"  %}"><img src="/site_media/img/thumbUp.gif"/></span>
			<span class="thumbdown hover"  title="{% trans "Rank Down Importance"  %}"><img src="/site_media/img/thumbDown.gif"/></span>
            {% endif %}
            <span id="note_rank" title="{% trans "Importance"  %}">{{note.vote}}</span>
		    </span>
            
            {% if request.appname == 'tagframe' %}
                  <span id="note_relevance" title="{% trans "relevance"  %}" class="relevance">{{note.relevance}}</span>
		    </span>
            {% endif %}
            
             {% if user.username == profile_username %}  
		    <span class="delete_img hover" title="{% trans "soft delete" %}"><img src="/site_media/img/delete.png"/></span><!--TODO:move delete to css as background img-->
		    {% endif %}
            
            
            <!-- block note_content_section -->
           
                <div class="brief_display"   {% if bookname == 'framebook' %}id="frame" {% endif %} >
			         <table class="note_table">
			            <tr>
				             {% block note_brief_table_td_note_type%}   
                               <td><a href="/{{profile_username}}/{{bookname}}/notes/note/{{ note.id }}/"><img src="/site_media/img/{{note_type}}.png" title="{% trans 'note id' %} {{note.id}}" class="clickable"/></a></td>                          
				             {% endblock %}   
				             {% block note_brief_table_td1%}
				                <td class="note_table_td1 structure">            
				                         {% include "include/notes/inlines/notes_brief_title_inline.html" %}   
				                </td>           
				             {% endblock %}
						    
				            
					         {% block note_brief_table_td2%}
						          <td class="note_table_td2">
								     	  {% include "include/notes/inlines/notes_brief_desc_inline.html" %}   
						          </td> 
					         {% endblock %}            
							    
						     <td class="note_table_tags">
						         {% include "include/notes/inlines/notes_brief_tags_inline.html" %}   
						     </td>   
				             <td class="note_table_td4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						     </td>            
					    </tr>
			        </table>
                     {% block framebook_only_div%}						         
                    {% endblock %}          
			  </div>


			  <div class="full_display" {% if bookname == 'framebook' %}id="frame" {% endif %} >
				 <table class="note_table">
				    <tr>
				        {% block note_full_table_td_note_type%}           
				        {% endblock %}    
					    {% block note_full_table_td1%}                
					        <td class="note_full_table_td1 structure">             
					                {% include "include/notes/inlines/notes_full_title_inline.html" %}   
					        </td>
					     {% endblock %}  
				         {% block note_full_table_td2%}
				         <td class=""note_full_table_td2"">            
				               {% include "include/notes/inlines/notes_full_desc_inline.html" %}        
				         </td>
				         {% endblock %} 
						    <td class="note_table_tags">
				              {% include "include/notes/inlines/notes_full_tags_inline.html" %}   		    
						    </td>
					 </tr>
				   </table>
				        
				
		           <div>				           
		            {% block full_display_div_extra %}
		            {% endblock %} 
		           
		            <div  id="note_init_date" title="{% trans "initial creation time" %}" class="grey">{% if user.username == profile_username %}<span  class="editableText">{% endif %}{{note.init_date|date:"Y-m-d H:i"}}{% if user.username == profile_username %}<span>{% endif %}</div>
		            <div class="grey structure" id="note_last_modi_date" title="{% trans "last modified time" %}">{{note.last_modi_date|date:"Y-m-d H:i"}} </div>
		            {% if note.attachment %}
				    		    <div  id="note_attachment" title="{% trans "attachment" %}"><a href="/file/{{note.attachment.name}}" target="_blank">{{note.attachment.name}}</a> </div>
				    {% endif %}
		
		            <div  class="structure advanced" id="note_frames" title="{% trans "note in frames" %}">{% trans "Frames" %}:
                       {% for f_id, f_title  in note.get_frame_ids_titles %}
                            <a href="/{{profile_username}}/framebook/notes/note/{{f_id}}" title="{{f_title}}">{{f_id}}</a>  {% if not forloop.last %},{% endif %}
                       {% empty %}
                            {% trans 'Not in any frame' %}
                       {% endfor %}
                    </div>
		            
                    {% block comments_inline %}
                    <div  note_id="{{ note.id }}"  social_note_id="{{ note.get_social_note.id }}"><!--To make it consistent with single note display page thus js can be unified. -->
                        {% with note.get_social_note as social_note  %}
                            {% include "include/notes/inlines/add_comments_and_etc_inline.html" %}   
                        {% endwith %}
                     </div>   
		            {% endblock %} 
		           
				             
			    </div>
			 </div>
            
            
            
            
            
           
	     </li>
     {% endif %} {% comment %}  endif for check if frame is top frame. No displaying for non-top frames    {% endcomment %}   
    {% endif %} 
    {% endfor %}
</ul>


 {% block pagination_bottom %}{% pagination cl %}{% endblock %}
</div>

</div>
<!--
<a name="bottom"/>
<a href="#top">{% trans "top" %}</a>
-->
</div>