{% extends "include/base2.html" %}
{% load i18n %}





{% block extra_css %}

{% endblock %}


{% block extra_script %}
<script type="text/javascript">
        function show_more_section(){ 
                    $('div#more_section').show();	
                    $('.show_more_section').hide(); 
                    $('.hide_more_section').show();                    
                    return false;       
        }     
        
        
        function attend(){ 
              
        
        }
              
</script>
<script type="text/javascript">
$(document).ready(function(){	 
      //copied from base2.html
	    $("#ac_tags").tagit({
			    availableTags: [{% for tag in tags %}"{{tag}}",{% endfor %}],
                   allowSpaces: true
                  });  


    
    



//below coped from base2.html
     //below are copied from add bookmark button page. TODO: merge and clean up
              $('.hide_more_section').hide(0);
   
   $('.hide_more_section').click(function(){
                    $('div#more_section').hide();
             		$(this).hide();   
                    $('.show_more_section').show();                  
                    return false;
        });
		
    $('.show_more_section').click(function(){
                    $('div#more_section').show();	
                    $(this).hide();   	
                    $('.hide_more_section').show();                    
                    return false;
        });               
                
                
                
        	});   

        
	
</script>
{% endblock %}

{% block title %}
 {% trans "Group" %}  {{groupname}} {% trans "'s Learning Salons" %}  : {{salon.name}}
{% endblock %}


{% block site_branding %}
 {% trans "Group" %}  <a href="/groups/{{groupname}}/">{{groupname}}</a> {% trans "'s Learning Salon" %}   : <b>{{salon.name}} </b>

{% endblock %}


{% block content%}
<div>
{% comment %}
{% if salon.private %} <span class="lock_noclick" title="{% trans 'private'  %}" style="display:{% if area.private %}inline{% else %}none{% endif %};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              
                                   </span> 
{% else %} <span class="unlock_noclick" title="{% trans 'public'  %}" style="display:{% if area.private %}none{% else %}inline{% endif %};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          
                </span>        
{% endif %}  
{% endcomment %}
</div>

<a href="/groups/{{groupname}}/salons/">{% trans "View all of " %}{{groupname}} {% trans "'s Learning salons" %}</a>
<br/><br/>


<div salon_name="{{salon.name}}">
<div class="banner">
 {% if salon.get_signed.count < salon.min_people %} 
 {% trans "This event is not active yet bcause the number of people signed up is still below the minimum people required to start this event." %}
  {% if user.member.id in salon.get_signed %} 
       {% trans "Please spread the event and have more people to sign up!" %}
    {% else %}
        {% trans " Please sign up and make this event happen!" %}
   {% endif %}
 {% endif %}
</div>
<div class="padded">
<table><tr>
  <td>
  {% if salon.poster  %} 
  <img src="/file/{{salon.poster}}" class="salon_img"/>
  {% else %}
    <img src="/file/{{group.icon}}" class="salon_img"/>
{% endif %}
  </td>
<td>
 <div class="padded">
 <span class="super_big_font"> {{salon.name}}</span>
  </div>
   <div class="padded">
 <b>{% trans "Group" %}:</b>  {{groupname}}
 </div>
<div class="padded">
 <b>{% trans "Time" %}:</b>  {{salon.start_date}} {{salon.start_time}} - {{salon.end_time}}
 </div>
 <div class="padded">
 <b>{% trans "Location" %}:</b>  {{salon.location}}
 </div>

 <div class="padded">
 <b>{% trans "Max people" %}:</b>  {{salon.max_people}}
 </div>
 <div class="padded">
 <b>{% trans "Min people" %}:</b>  {{salon.min_people}}
 </div>
  <div class="padded">
 <b>{% trans "Host" %}:</b>  <a href="/social/{{salon.creator}}/">{{salon.creator}}</a>
 </div>
 
 
  <div class="padded">
 <b>{{salon.get_signed.count}}</b>{% trans " attend" %}  <b>{{salon.get_maybe.count}}</b>{% trans " interested" %}
 </div>
 
 
   <div class="padded">
 {% if user.member.id in salon.get_signed %} 
 {% trans 'I will attend' %}
 {% endif %}
  {% if user.member.id in salon.get_maybe %} 
{% trans 'I am interested' %}
 {% endif %}
{% if user.member.id not in salon.get_signed  and user.member.id not in salon.get_maybe %} 
<button class="big clickable" id="attend"  onclick="javascript: window.location.replace('?signup=y') ; "/>{% trans 'I will attend' %}</button>
<button class="big clickable" id="attend"  onclick="javascript: window.location.replace('?maybe=y')  ; "/>{% trans 'I am interested' %}</button>
{% endif %}

{% if user.member.id in salon.get_signed or user.member.id in salon.get_maybe %} 
    &nbsp;&nbsp;&nbsp;<a href="?cancel=y">{% trans " Cancel" %}</a>
{% endif %}  
 </div>
 
  </td>

</tr></table>
 </div>
 

 

<div class="padded">
 <span class="big_font">{% trans "Salon Details" %}:</span> <br/> <br/>  {% autoescape on %}{{salon.desc|urlize}}{% endautoescape %}
 </div>



<br/>
{% if user.member in group.admins.all  %} 
<p> 
<a href="javascript:void(0);" onclick="javascript:show_more_section();">{% trans "Edit the learning salon" %}:</a>
<span class="show_more_section"><img title="" src="/site_media/img/right-arrow.jpg"/></span><span class="hide_more_section"><img title="" src="/site_media/img/down-arrow.jpg"/></span> 
</p>
<div id="more_section" style="display:none;">
<form action="" method="post" enctype="multipart/form-data" id="editAreaForm">

 <input type="hidden" name="id" value="{{salon.id}}"/>
<p>   
               {% trans "Name" %} <span class="required">*</span>: 
                {{ editSalonForm.name.errors }}
               {{editSalonForm.name}}
    </p>
    <p>   
               {% trans "Desc" %} <span class="required">*</span>: 
                {{ editSalonForm.desc.errors }}
               {{editSalonForm.desc}}
    </p>
     <p>   
               {% trans "Location" %} <span class="required">*</span>: 
                {{ editSalonForm.location.errors }}
               {{editSalonForm.location}}
    </p>
    <p>   
               {% trans "Start date" %} <span class="required">*</span>: 
                {{ editSalonForm.start_date.errors }}
            editSalonForm.start_date.value  {{editSalonForm.start_date.value}}
            editSalonForm.start_date  {{editSalonForm.start_date}}
                <input id="id_start_date" type="text" class="datepicker" name="start_date" value="{{editSalonForm.start_date.value|date:"m/d/Y"}}" size="20" />
                <!--
                    <div class="input-append bootstrap-timepicker-component">
    <input type="text" class="timepicker-default input-small">
    <span class="add-on">
    <i class="icon-time"></i>
    </span>
    </div>-->
    </p>
      <p>   
               {% trans "Start time" %} <span class="required">*</span>: 
                {{ editSalonForm.start_time.errors }}
                {{editSalonForm.start_time}}
    </p>
 <p>   
               {% trans "End date" %} <span class="required">*</span>: 
                {{ editSalonForm.end_date.errors }}              
                <input id="id_end_date" type="text" class="datepicker" name="end_date" value="{{editSalonForm.end_date.value|date:"m/d/Y"}}" size="20" />
               
    </p>  
<p>   
               {% trans "End time" %} <span class="required">*</span>: 
                {{ editSalonForm.end_time.errors }}
                {{editSalonForm.end_time}}
    </p>    
    <p>   
               {% trans "Max people" %}: 
                {{ editSalonForm.max_people.errors }}
               {{editSalonForm.max_people}}
    </p>
     <p>   
               {% trans "Min people" %}: 
                {{ editSalonForm.min_people.errors }}
               {{editSalonForm.min_people}}
    </p>
    <p>   
               {% trans "poster" %}: 
                {{ editSalonForm.poster.errors }}
               {{editSalonForm.poster}}
    </p>
    
<input type="submit" value="{% trans 'Update' %}"/>
</form> 
</div>
{% endif %}

{% endblock %}