{% load i18n %}

<div class="section_header"> 
<span class="item">{% trans "Show" %}:</span><span class="item"><a href="javascript:expandall();">{% trans "Expanded" %}</span><span class="item"><a href="javascript:collapseall();">{% trans "List" %}</a></span>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% include "include/notes_pick_lang.html" %}    
 {% if  bookname == 'framebook'  %} 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% include "include/frames_pick_empty.html" %} 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% include "include/frames_pick_plans.html" %} 
        {% endif %}  
</div> 
<div  id="group_notes_section"><!--group_notes_section has no hiding and showing, different from notes_section-->
<div class="social">&nbsp;  
<span style="float:right;">
<span>
{% include "social/include/notes/menu/sort_menu.html" %} 
  {% if appname == 'groups'  %}  
{% include "social/include/notes/menu/toggle_tag_menu.html" %} 
{% endif %}
</span>
</span>    
</div>

