{% load i18n %}

<div class="section_header"> 
<span class="item">{% trans "Show" %}:</span><span class="item"><a href="javascript:expandall();">{% trans "Expanded" %}</span><span class="item"><a href="javascript:collapseall();">{% trans "List" %}</a></span>
<!--
<span  style="float:right;"><a href="javascript:stream();">{% trans "Stream" %}</a>    |    <a href="javascript:structure();">{% trans "Structuralize" %}</a></span>
-->
</div> 
<div  id="group_notes_section"><!--group_notes_section has no hiding and showing, different from notes_section-->
<div class="social">&nbsp;  
<span style="float:right;">
<span>
{% include "social/include/notes/menu/sort_menu.html" %} 
  {% if appname == 'groups'  %}  
{% include "social/include/notes/menu/toggle_tag_menu.html" %} 
{% endif %}
</span>
</span>    
</div>
