{% extends "include/notes/notesdisplay.html" %}
{% load adminmedia admin_list i18n %}


{% block notes_extra_scripts %}
<script>
	jQuery(function($){
      
      });    

</script>
{% endblock %}







{% block notes %}

{% block forms_section %} 
 {% if appname == 'groups'  %} 
    {% if group not in gs %} 
         <p>
            <input type="button" value="{% trans "Join the Group" %}" onclick="show_confirm()"/>  
         </p>
    {% endif %}          
    <p>{% trans "You can make notes in your personal notebook. And the notes you make and tagged with tags of this group will be pushed to this group." %}
            {% trans "For more details about sharing with a group, see " %} <a href="/forNewUsers/">{% trans "New User Guide" %}</a>
    </p>
 {% endif %}
 
 {% if appname == 'groups'   and area  %} 
 <p>
     {% trans "View the learning area of this group" %}: <a href="/{{group.creator}}/areas/area/{{area.name}}/">{{area.name}}</a>
 </p>  
 <p>
     {% trans "View tag trees of this group" %}: <a href="/groups/{{group.name}}/tagframes/">{% trans "Tag trees" %}</a>
 </p>  
 <br/>
 {% endif %}  
{% endblock %}	

 {% block notes_section_header %} 
        {% include "social/include/notes/notes_section_header.html" %}   
{% endblock %}	



{% block seach_form_inputs %}   
{% endblock %}	



<div class="notes_display" view_mode="{{view_mode}}">
<span class="social"> <!--TODO:-->
 {% block pagination_top %}{% pagination cl %}{% endblock %}   
 <span>

<ul>
    {% for note in note_list.object_list %} 
        <!--got rid of "user.username != profile_username and " so that even the user himself cannot see private social notes (only viewable in the groups that the private notes are shared. TODO: change?)-->
        {% if appname == 'social' and note.private %}  <!--for social public notebook, not private social notes will be shown. But in the group app, it is ok.-->
        {% else %}     
            {% if bookname == 'framebook' and note.is_in_frame %}
             {% else %}      
         <li class="note_display" note_id="{{ note.id }}">
            <div class="{{bookname}}" note_id="{{ note.id }}" social_note_id="{{ note.id }}">
	          <div class="kuoda"></div><div class="yasuo"></div>
            
		    <span class="social_thumb"> 
           
           {% if user.username  %}
            {% if user.username != note.owner.username %}  
			<span class="take hover"><img src="/site_media/img/take.png" title="{% trans "Take this note"  %}"/></span>			
            {% endif %}            
            
            <span class="voteuseful hover"><img src="/site_media/img/vote_up.gif"   title="{% trans "Group Member Vote Useful"  %}"/></span>           
			<span class="voteunuseful hover"><img src="/site_media/img/vote_down.gif"  title="{% trans "Group Member Vote Unuseful"  %}"/></span>
            {% endif %}
             <span id="note_vote" title="{% trans "Usefulness voted by group members"  %}">{{note.get_useful_votes}}/{{note.get_total_votes}}</span>
            <span id="note_rank" title="{% trans "owner's ranking"  %}">{{note.vote}}</span>   
            
            <!--
            {% if user.username == note.owner.username %}  
			<span class="thumbup" style="cursor:hand"><img src="/site_media/img/thumbUp.gif"/></span>
			<span class="thumbdown"><img src="/site_media/img/thumbDown.gif"/></span>
            {% endif %}
            -->
		    </span>
            <!--
             {% if user.username == note.owner.username %}  
		    <span class="delete_img" title="soft delete"><img src="/site_media/img/delete.png"/></span>
		    {% endif %}
            -->
           
           
       
            {% block brief_display %}
    
            
            {% endblock %}




            <div class="full_display">
            <table class="note_table"><tr>
                {% block full_display_td12 %}
                    <td class="note_table_td1">
                         {% include "social/include/notes/inlines/notes_brief_title_inline.html" %} 
                    </td>
                    <td class="note_table_td2">
                        {% include "include/notes/inlines/notes_brief_desc_inline.html" %}  		   
                    </td>                
                {% endblock %} 
                
                <td class="note_table_tags">
                    <div id="note_tags" title="{% trans "note tags" %}">{% if appname == 'groups' %}{{note.display_all_tags}}{% else %}{{note.display_tags}}{% endif %}</div>
                </td>
                </tr>
            </table>
            
            <div>

            
            {% block full_display_div_extra %}
            {% endblock %} 
            <div  id="note_init_date" title="{% trans "initial creation time" %}" class="grey">{{note.init_date|date:"Y-m-d H:i"}}</div>
		    <div  id="note_last_modi_date" title="{% trans "last modified time" %}" class="grey structure">{{note.last_modi_date|date:"Y-m-d H:i"}} </div>
		    
            {% if note.attachment %}
		    <div  id="note_attachment" title="{% trans "attachment" %}"><a href="/file/{{note.attachment.name}}" target="_blank">{{note.attachment.name}}</a> </div>
		    {% endif %}
            <!--
             <div  id="note_linkages" title="note linkages">Linkages: {{note.display_linkages|default:'Not in any linkages'}}</div>
             -->
             {% with note as social_note  %}
                    {% include "social/include/notes/inlines/add_comments_and_etc_inline.html" %}   
            {% endwith %}
	        </div>
        </div>
           
           
           </div>
	     </li>
        {% endif %}  {% comment %}  endif for check if frame is top frame. No displaying for non-top frames    {% endcomment %}   
    {% endif %} 
    {% endfor %}
</ul>

 {% block pagination_bottom %}{% pagination cl %}{% endblock %}

{% endblock %}	

</div>

</div>