{% extends "include/notes/note/notedisplay.html" %}
{% load i18n %}



{% block note_type%}
<div class="noPrint">
 {% if note.get_note_type == 'Snippet' %} 
  <a href="{{book_uri_prefix}}/snippetbook/notes/">{% trans 'View all ' %}
    {% trans 'snippets' %}
  </a>  
{% endif %}
 {% if note.get_note_type == 'Bookmark' %} 
 <a href="{{book_uri_prefix}}/bookmarkbook/notes/">{% trans 'View all ' %}
    {% trans 'bookmarks' %}
</a>
{% endif %}
 {% if note.get_note_type == 'Scrap' %} 
  <a href="{{book_uri_prefix}}/scrapbook/notes/">{% trans 'View all ' %}
    {% trans 'scraps' %}
  </a>  
{% endif %}
 {% if note.get_note_type == 'Note' %} 
  <a href="{{book_uri_prefix}}/notebook/notes/">{% trans 'View all ' %}
    {% trans 'notes' %}
  </a>  
{% endif %}

</div>
{% endblock %}



{% block note_url%}
 {% if note.get_note_type == 'Bookmark' %} 
<div>
<b>URL :</b> <a href="{{note.social_bookmark.url}}" target="_blank">{{note.social_bookmark.url}}</a>
</div>
{% endif %}
 {% if note.get_note_type == 'Scrap' %} 
<div>
<b>URL :</b> <a href="{{note.social_scrap.url}}" target="_blank">{{note.social_scrap.url}}</a>
</div>
{% endif %}
{% endblock %}





{% block note_attachment%}
 {% if note.get_note_type == 'Snippet'  %} 
<div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.social_snippet.attachment.name}}" target="_blank">{{note.social_snippet.attachment}}</a>
 {% if note.attachment %}
     {% include "include/notes/note/display_attachment.html" %}         
{% endif %}
 {% if note.is_img %} <br/>
 <img src="/file/{{note.social_snippet.attachment.name}}" class="attachment"/>
 {% endif %} 
</div>
{% endif %}
 {% if note.get_note_type == 'Frame' %} 
 <div class="noPrint">
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.social_frame.attachment.name}}" target="_blank">{{note.social_frame.attachment}}</a>
 {% if note.is_img %} <br/> 
 <img src="/file/{{note.social_frame.attachment.name}}" class="attachment"/>
 {% endif %}
</div>
 {% endif %}
{% endblock %}


{% block note_vote%}
<div class="social_thumb"  note_id="{{ note.id }}">
<span class="voteuseful"><img src="/site_media/img/vote_up.gif"   title="{% trans "Group Member Vote Useful"  %}"/></span>           
<span class="voteunuseful"><img src="/site_media/img/vote_down.gif"  title="{% trans "Group Member Vote Unuseful"  %}"/></span>
<span id="note_vote" title="{% trans "Usefulness voted by group members"  %}">{{note.get_useful_votes}}/{{note.get_total_votes}}</span>
</div>
{% endblock %}


{% block note_comments%}
<div note_id="{{note.id}}" social_note_id="{{ note.id }}"  class="noPrint">
    {% with note as  social_note  %}
        {% include "social/include/notes/inlines/add_comments_and_etc_inline.html" %}     
    {% endwith %}
</div>
{% endblock %}


{% block note_form%}
{% endblock %}




