{% extends "include/notes/note/notedisplay.html" %}
{% load i18n %}







{% block note_url%}
 {% if note.get_note_type == 'Bookmark' %} 
<div>
<b>URL :</b> <a href="{{note.social_bookmark.url}}" target="top">{{note.social_bookmark.url}}</a>
</div>
{% endif %}
 {% if note.get_note_type == 'Scrap' %} 
<div>
<b>URL :</b> <a href="{{note.social_scrap.url}}" target="top">{{note.social_scrap.url}}</a>
</div>
{% endif %}
{% endblock %}





{% block note_attachment%}
 {% if note.get_note_type == 'Snippet'  %} 
<div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.social_snippet.attachment.name}}" target="top">{{note.social_snippet.attachment}}</a>
 {% if note.is_img %} <br/>
 <img src="/file/{{note.social_snippet.attachment.name}}" class="attachment"/>
 {% endif %}
</div>
{% endif %}
 {% if note.get_note_type == 'Frame' %} 
 <div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.social_frame.attachment.name}}" target="top">{{note.social_frame.attachment}}</a>
 {% if note.is_img %} <br/>
 <img src="/file/{{note.social_frame.attachment.name}}" class="attachment"/>
 {% endif %}
</div>
 {% endif %}
{% endblock %}




{% block note_comments%}
<li note_id="{{note.id}}">
{% include "social/include/notes/inlines/add_comments_and_etc_inline.html" %}            
</li>
{% endblock %}


{% block note_form%}
{% endblock %}




