{% load i18n %}


{% block extra_script %}


<script type="text/javascript">
$(document).ready(function(){	
 {% if  note.get_note_type == 'Frame'  and pagename == 'note' %}   
     {% if  appname == 'social' %} 
        $.get('/social/{{profile_username}}/framebook/notes/note/{{note.id}}/getRelatedFrames/',{}, loadRelatedFrames, 'json');  
     {% else %}     
       $.get('/{{profile_username}}/framebook/notes/note/{{note.id}}/getRelatedFrames/',{}, loadRelatedFrames, 'json');  
     {% endif %}

      function loadRelatedFrames(frames){     
                 $('span#size_of_related_frames').empty();
                 $('span#size_of_related_frames').append(frames.length);
                 $('div#related_frames').empty();      
                 if (frames.length == 0) 
                           $('div#related_frames').append('{% trans "No related frames" %}');              
                 for(var i = 0; i < frames.length; i++){
                      $('div#related_frames').append('<div outer_link_id="'+frames[i][0]+'"><a href="{{book_uri_prefix}}/framebook/notes/note/'+frames[i][0]+'/" title="{% trans "connected by: " %}'+frames[i][2]+'" target="_blank">'+frames[i][1]+'</a></div>')                 
                 }
                                 
                 $('#loading').hide(); 
            }
            
{% endif %}   


 });
	
            
</script>

{% endblock %}



{% block personal_comments %}
             <span class="note_tabs_item" id="personal_comments" title="{% trans "Comments by yourself on your personal note" %}">{% trans "Annotations" %}({{note.get_comments.count}})</span>             
             &nbsp;&nbsp;
{% endblock %}       
             <span class="note_tabs_item"  id="public_comments" title="{% trans "Comments by you and others on your public note" %}">{% trans "Comments" %}({{social_note.get_comments.count}})</span>             
             &nbsp;&nbsp; 
 {% comment %}
It is too much computing for below. So don't do this on notes list page, otherwise it takes about 10 seconds to load a page
{% endcomment %}            
 {% if  note.get_note_type == 'Frame'  and pagename == 'note' %} 
              {% comment %}For now, don't show this in note list display page. It might slow down performance{% endcomment %}    
            <span class="note_tabs_item" id="comments_on_included">{% trans "Comments on included notes" %}({{social_note.social_frame.get_included_comments.count}})</span>   &nbsp;&nbsp;   
             <span class="note_tabs_item"  id="inner_links"  title="{% trans "Notebook internal references of this note" %}">{% trans "Related Frames" %}(<span id="size_of_related_frames">{% comment %}{{note.get_size_of_related_frames}}{% endcomment %}</span>)</span>
             &nbsp;&nbsp;    
            
 {% endif %}                 
{% block courses %}                
{% endblock %}              
             <span class="note_tabs_item"  id="outer_links"  title="{% trans "External references of this note" %}">{% trans "Outer Links" %}({{social_note.get_outer_links.count}})</span>
              &nbsp;&nbsp;
{% block other_buttons %}
            {% if social_note %} 
                    <span>
                        <a href="/social/{{profile_username}}/{{bookname}}/notes/note/{{social_note.id}}/" title="{% trans 'View this note in public notebook' %}">{% trans 'View social' %}</a>
                    </span>
            {% endif %}        
{% endblock %}           
            
            
{% block add_personal_comments %}
             <div  class="add_box" id="add_personal_comment_box" style="display:none;">             
             <div>&nbsp;<textarea id="add_content" rows="3" cols="90" name="desc"></textarea>
             <span class="personal_comment_submit clickable"  title="{% trans "Save Comment" %}"><img src="/site_media/img/save.png"/></span>&nbsp;
             <span class="cancel_submit clickable" title="{% trans "Cancel" %}">
             <img src="/site_media/img/cancel.png" /></span></div>
             <br/> 
             <div id="personal_comments">
                {% for comment in note.get_comments %}                   
                     <div comment_id="{{comment.id}}">{{comment}}  &nbsp;&nbsp;&nbsp;<span class="grey">({{comment.init_date}})</span><span title="{% trans "remove this comment" %}" class="inline_delete" id="note_delete_personal_comment">&nbsp;&nbsp;&nbsp;</span></div>                       
                {% endfor %}
             </div>
            </div>
{% endblock %}
             
             

             <div  class="add_box" id="add_public_comment_box" style="display:none;">             
             <div>{{user.username}}: <textarea id="add_content" rows="3" cols="90" name="desc"></textarea>
             <span class="public_comment_submit clickable"  title="{% trans "Save Comment" %}"><img src="/site_media/img/save.png"/></span>&nbsp;
             <span class="cancel_submit clickable" title="{% trans "Cancel" %}">
             <img src="/site_media/img/cancel.png" /></span></div>
             <br/> 
             <div id="public_comments">
                {% for comment in social_note.get_comments %}                    
                     <div comment_id="{{comment.id}}"><a href="/social/{{comment.commenter}}">{{comment.commenter}}</a>: {{comment.desc}}   &nbsp;&nbsp;&nbsp;<span class="grey">({{comment.init_date|timesince}}{% trans " ago" %})</span>    {% if user.username == comment.commenter.username %}     <span title="{% trans "remove this comment" %}" class="inline_delete" id="note_delete_public_comment">&nbsp;&nbsp;&nbsp;</span> {% endif %}</div>                     
                {% endfor %}
             </div> 
              </div>             
  


{% block add_courses %}          
{% endblock %}    


{% if  note.get_note_type == 'Frame'  and pagename == 'note' %}  
             <div  class="add_box" id="add_inner_links_box" style="display:none;"> <span id="loading"><img src="/site_media/img/ui-anim_basic_16x16.gif"/>{% trans "Loading related frames..." %}</span>
             <div id="related_frames"> {% comment %}
                {% for rf in note.get_related_frames %}                    
                     <div outer_link_id="{{rf.0}}"><a href="{{book_uri_prefix}}/framebook/notes/note/{{rf.0}}/" title="{% trans "connected by: " %}{{rf.2}}" target="_blank">{{rf.1}}</a></div>  
                {% empty %}          
                        {% trans "No related frames" %}
                {% endfor %} {% endcomment %}
             </div> 
              </div>  




            <div  class="add_box" id="add_comments_included_box" style="display:none;"> 
            <div id="public_comments">
                {% for comment in social_note.social_frame.get_included_comments %}                    
                     <div comment_id="{{comment.id}}" class="spacing"><a href="/social/{{comment.commenter}}">{{comment.commenter}}</a>: {{comment.desc}}   &nbsp;&nbsp;&nbsp;<span class="grey">({{comment.init_date|timesince}}{% trans " ago" %})</span>    {% if user.username == comment.commenter.username %}<br/>
                     {% trans "on " %}  <a href="/social/{{comment.note.owner.username}}/{{comment.note.get_note_bookname}}/notes/note/{{ comment.note.id }}">{% if comment.note.desc %}{{comment.note.desc}}{% else %}{{comment.note.title|default:_('(No Title)')}}{% endif %}</a>{% endif %}</div>                     
                {% endfor %}
             </div>
              </div>  
 {% endif %}        


             <div  class="add_box" id="add_outer_links_box" style="display:none;">  
             <div>
                {% for outer_link in social_note.get_outer_links %}                    
                     <div outer_link_id="{{outer_link.id}}"><a href="{{outer_link.url}}" target="_blank">{{outer_link.url}}</a>     {% if user.username == profile_username %}       <span title="{% trans "remove this outer link" %}" class="inline_delete" id="note_delete_outer_link">&nbsp;&nbsp;&nbsp;</span> {% endif %}</div>                     
                {% endfor %}
             </div> 
              </div>             
      
              
              

             
            