{% extends "social/include/notes/notesdisplay.html" %}
{% load i18n %}





           

{% block brief_display %}
<div class="brief_display" id="frame">
 <table class="note_table">
                <tr>
                    <td class="note_table_title">
                        {% include "social/include/notes/inlines/notes_brief_title_inline.html" %}     
                    </td>
                    <td class="note_table_desc">			    
                        {% include "include/notes/inlines/notes_brief_desc_inline.html" %}   
                    </td>
                    <td class="note_table_tags">
                        {% include "social/include/notes/inlines/notes_brief_tags_inline.html" %}     		    
                    </td>
                </tr>
        </table>
            
           
        
        <div  id="note_notes">
            {% trans 'Notes included in this frame' %}:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == note.owner.username %} 
               {% for n in note.get_notes_in_order %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/social/{{note.owner.username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                               
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.get_public_notes_in_order  %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/social/{{note.owner.username}}/{{n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                              
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
         </div>   

</div>
{% endblock %}




{% block full_display_div_extra %}
  <div  id="note_notes">
             {% trans 'Notes included in this frame' %}:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == note.owner.username %} 
               {% for n in note.get_notes_in_order %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/social/{{note.owner.username}}/{{ n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                               
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.get_public_notes_in_order  %}            
                <div linked_note_id="{{n.id}}">
                     <li><img src="/site_media/img/{{n.get_note_type}}.png" title="{{n.get_note_type}}"/><a href="/social/{{note.owner.username}}/{{ n.get_note_bookname}}/notes/note/{{n.id}}"><strong>{% with n as note%}{% include "include/get_title.html" %}{%endwith%}</strong></a>
                                &nbsp;&nbsp;&nbsp;{% include "include/get_desc_truncate.html" %}&nbsp;&nbsp;&nbsp;&nbsp;{{n.vote}} &nbsp;&nbsp;&nbsp;&nbsp; 
                              
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
		    </div>
{% endblock %} 