{% extends "social/include/notes/notesdisplay.html" %}
{% load i18n %}





           

{% block brief_display %}
<div class="brief_display" id="frame">
 <table class="note_table">
                <tr>
                    <td class="note_table_title">
                        <div id="note_title"><a href="/social/{{profile_username}}/framebook/notes/note/{{ note.id }}/"><b>{{ note.title|default:_('(No Title)') }}</b></a></div> 	
                    </td>
                    <td class="note_table_desc">			    
                        <div  id="note_desc">{{note.desc}}</div>
                    </td>
                    <td class="note_table_tags">
                        <div id="note_tags">{{note.display_tags}}</div>		    
                    </td>
                </tr>
        </table>
            
           
        
        <div  id="note_notes">
            {% trans 'Notes included in this frame' %}:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == profile_username %} 
               {% for n in note.display_notes %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/social/{{profile_username}}/{{bookname}}/notes/note/{{n.0}}"><strong>{{ n.1|default:_('(No Title)') }} </strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                               
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.display_public_notes  %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/social/{{profile_username}}/{{bookname}}/notes/note/{{n.0}}"><strong>{{ n.1|default:_('(No Title)') }} </strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                              
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
         </div>   

</div>
{% endblock %}




{% block full_display_div_extra %}
  <div  id="note_notes">
             {% trans 'Notes included in this frame' %}:
            <ul>
            <!--TODO: refactor-->
             {% if user.username == profile_username %} 
               {% for n in note.display_notes %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/social/{{profile_username}}/{{bookname}}/notes/note/{{n.0}}"><strong>{{ n.1|default:_('(No Title)') }} </strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                               
                     </li>           
                </div>
		        {% endfor %}
              {% else %}              
               {% for n in note.display_public_notes  %}            
                <div linked_note_id="{{n.0}}">
                     <li><a href="/social/{{profile_username}}/{{bookname}}/notes/note/{{n.0}}"><strong>{{ n.1|default:_('(No Title)') }} </strong></a>
                                &nbsp;&nbsp;&nbsp;{{n.2|truncatewords:"20" }}&nbsp;&nbsp;&nbsp;&nbsp;{{n.3}} &nbsp;&nbsp;&nbsp;&nbsp; 
                              
                     </li>           
                </div>
		         {% endfor %}
              {% endif %}
		    
            </ul>
		    </div>
{% endblock %} 