 {% load tree_view %}  
 {% load i18n %}


        {% for note in children %} 
            <li  class="note_in_frame {% if note.get_note_type == 'Frame' %}expandable{% endif %} {% if forloop.last %}last{% endif %}"  note_id="{{note.id}}"  linked_note_id="{{note.id}}">  {% comment %}note_id for set_the_order and linked_note_id for #frame_delete_note{% endcomment %}
                {% if note.get_note_type == 'Frame' %}<div class="hitarea expandable-hitarea"></div>{% endif %}
                <span class='noPrint'>
                <img src="/site_media/img/{{note.get_note_type}}.png" title="{{note.get_note_type}}" />
                <a href="{{book_uri_prefix}}/{{note.get_note_bookname}}/notes/note/{{note.id}}/">
                 {% if note.get_note_type == 'Frame' %}<b>{% endif %}{% include "include/get_title.html" %} {% if note.get_note_type == 'Frame' %}</b>{% endif %}         
                </a> 
                </span>
                <span class="note_desc_in_frame">{% if note.get_note_type == 'Frame' %}<b>{% endif %}{% include "include/get_desc.html" %}{% if note.get_note_type == 'Frame' %}</b>{% endif %}        
                </span>
                {% if note.get_note_type == 'Bookmark' or note.get_note_type == 'Scrap' %} 
                    {% if note.get_note_type == 'Bookmark' %} 
                        {% if  'social' in book_uri_prefix %} 
                            <a href="{{note.social_bookmark.url}}" target="_blank">
                        {% else %}
                            <a href="{{note.bookmark.url}}" target="_blank">
                        {% endif %}                             
                        
                    {% else %}                        
                        {% if  'social' in book_uri_prefix %} 
                             <a href="{{note.social_scrap.url}}" target="_blank"> 
                        {% else %}    
                            <a href="{{note.scrap.url}}" target="_blank">                            
                        {% endif %}                           
                    {% endif %}                     
                        <img src="/site_media/img/openurl.png" class=""/>
                    </a>
                {% endif %}   
                
                <span class='noPrint'>
                <img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/>:
                {% for tag  in note.get_tags %}                    
                        <a href="{{book_uri_prefix}}/{{note.get_note_bookname}}/notes/tags/{{tag}}/">{{tag}}</a>,                 
                {% endfor %}
                <span title="{% trans 'vote by the owner' %}">{{note.vote}}</span>
                </span>
                
                <span title="remove this note from the frame" class="inline_delete noPrint" id="frame_delete_note">&nbsp;&nbsp;&nbsp;</span>
                
                {% if  note.get_note_type == 'Snippet' %}  
                    <div>
                        {% if note.is_img %}
                             {% if  'social' in book_uri_prefix %} 
                                <img src="/file/{{note.social_snippet.attachment.name}}" class="attachment"/>
                             {% else %}
                                <img src="/file/{{note.snippet.attachment.name}}" class="attachment"/>
                             {% endif %}
                        {% else %}   
                             {% if  'social' in book_uri_prefix %} 
                                    <span class="attachment">{%trans 'attachment' %}: <a href="/file/{{note.social_snippet.attachment.name}}">{{note.social_snippet.attachment.name}}</a></span>
                             {% else %}
                                    <span class="attachment">{%trans 'attachment' %}: <a href="/file/{{note.snippet.attachment.name}}" class="attachment">{{note.snippet.attachment.name}}</a></span>
                             {% endif %}
                        {% endif %}
                    </div> 
                {% endif %}
                 {% if  note.get_note_type == 'Frame'  %}  
                    <div>
                        {% if note.is_img %}
                             {% if  'social' in book_uri_prefix %} 
                                <img src="/file/{{note.social_frame.attachment.name}}" class="attachment"/>
                             {% else %}
                                <img src="/file/{{note.frame.attachment.name}}" class="attachment"/>
                             {% endif %}
                        {% else %}   
                             {% if  'social' in book_uri_prefix %} 
                                    <span class="attachment">{%trans 'attachment' %}: <a href="/file/{{note.social_frame.attachment.name}}">{{note.social_frame.attachment.name}}</a></span>
                             {% else %}
                                    <span class="attachment">{%trans 'attachment' %}: <a href="/file/{{note.frame.attachment.name}}" class="attachment">{{note.frame.attachment.name}}</a></span>
                             {% endif %}
                        {% endif %}
                    </div> 
                {% endif %}
                {% if note.get_note_type == 'Frame' %}  
                    <ul style="display: none;">
                       {% if  'social' in book_uri_prefix %}                       
                            {% social_tree_view_tag note.social_frame %}
                      {% else %}                    
                            {% tree_view_tag note.frame %}
                      {% endif %}   
                    </ul> 
                {% endif %}
            <!--Used here for spacing since styling the li here with padding or margin will mess up the tree view-->    
            <div class="spacing_li">&nbsp;&nbsp;</div>
            </li>
            
        {% endfor %}
