 {% load tree_view %}  
 

        {% for note in children %} 
            <li class="note_in_frame {% if note.get_note_type == 'Frame' %}expandable{% endif %} {% if forloop.last %}last{% endif %}" note_id="{{note.id}}">
                {% if note.get_note_type == 'Frame' %}<div class="hitarea expandable-hitarea"></div>{% endif %}
                <span class='noPrint'>
                <img src="/site_media/img/{{note.get_note_type}}.png" title="{{note.get_note_type}}" />
                <a href="{{book_uri_prefix}}/{{note.get_note_bookname}}/notes/note/{{note.id}}/">
                 {% if note.get_note_type == 'Frame' %}<b>{% endif %}{% include "include/get_title.html" %} {% if note.get_note_type == 'Frame' %}</b>{% endif %}         
                </a> 
                </span>
                <span>{% if note.get_note_type == 'Frame' %}<b>{% endif %}{% include "include/get_desc.html" %}{% if note.get_note_type == 'Frame' %}</b>{% endif %}        
                </span>
                {% if note.get_note_type == 'Bookmark' or note.get_note_type == 'Scrap' %} 
                    {% if note.get_note_type == 'Bookmark' %} 
                        {% if  'social' in book_uri_prefix %} 
                            <a href="{{note.social_bookmark.url}}" target="top">
                        {% else %}
                            <a href="{{note.bookmark.url}}" target="top">
                        {% endif %}                             
                        
                    {% else %}                        
                        {% if  'social' in book_uri_prefix %} 
                             <a href="{{note.social_scrap.url}}" target="top"> 
                        {% else %}    
                            <a href="{{note.scrap.url}}" target="top">                            
                        {% endif %}                           
                    {% endif %}                     
                        <img src="/site_media/img/openurl.png" class=""/>
                    </a>
                {% endif %}   
                
                <span class='noPrint'>
                <img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/>:
                {% for tag  in note.get_tags %}                    
                        <a href="{{book_uri_prefix}}/{{note.get_note_bookname}}/notes/tags/{{tag}}/">{{tag}}</a>,                 
                {% endfor %}
                <img src="/site_media/img/thumbUp.gif"/>{{note.vote}}
                </span>
                
                {% if  note.get_note_type == 'Snippet' %}  
                    <div>
                        {% if note.is_img %}
                             {% if  'social' in book_uri_prefix %} 
                                <img src="/file/{{note.social_snippet.attachment.name}}" class="attachment"/>
                             {% else %}
                                <img src="/file/{{note.snippet.attachment.name}}" class="attachment"/>
                             {% endif %}
                        {% endif %}
                    </div> 
                {% endif %}
                
                {% if note.get_note_type == 'Frame' %}  
                    <ul style="display: none;">
                       {% if  'social' in book_uri_prefix %}                       
                            {% social_tree_view_tag note.social_frame %}
                      {% else %}                    
                            {% tree_view_tag note.frame %}
                      {% endif %}   
                    </ul> 
                {% endif %}
                
                
            </li>
        {% endfor %}
