{% extends "include/notes/note/notedisplay.html" %}
{% load i18n %}
{% load tree_view %} 



{% block note_type%}
<div>
<a href="{{book_uri_prefix}}/framebook/notes/">{% trans 'View all frames' %}</a>
</div>
{% endblock %}

{% block note_tags%}{% comment %}For now, no viewing of frame by tag (need to implement cache for frame){% endcomment %}
<div>
<b><img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/>:</b> {{note.display_tags}}
</div>
{% endblock %}


{% block notes_in_frame%}
    <b>{% trans 'notes included' %}: </b> 
    {% trans "Sorting" %}
    <select id="sort_drop_down"  name="sort">
            {% if sort == '' %}
                <option value="" selected="selected">{% trans "By default" %}</option>
            {% else %}
                <option value="">{% trans "By default" %}</option>
            {% endif %}
            {% if sort == 'vote' %}
                <option value="vote" selected="selected">{% trans "By Importance" %}</option>
            {% else %}
                <option value="vote">{% trans "By Importance" %}</option>
            {% endif %}
    </select>   

    <button title="{% trans 'You can drag the notes to change the ordering and save it' %}" onclick="javascript:set_the_order();">{% trans 'Save the order' %}</button>
    
    <div id="sidetreecontrol"> <a href="?#">{% trans 'List' %}</a> | <a href="?#">{% trans 'Expanded' %}</a> </div>
    <ul id="sortable" class="frame_tree" >
        {% tree_view_tag note %}
    </ul> 
 {% endblock %}
 



{% block note_form_tags%}
{% endblock %}

{% block note_form_vote%}
<input type="hidden" name="vote" value="{{note.vote}}" id="id_vote" />
{% endblock %}

{% block note_attachment%}
<div>
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.attachment.name}}" target="top">{{note.attachment}}</a>
</div>
{% endblock %}





