{% extends "include/notes/note/notedisplay.html" %}
{% load i18n %}
{% load tree_view %} 



{% block note_type%}
<div class='noPrint'>
<a href="{{book_uri_prefix}}/framebook/notes/">{% trans 'View all frames' %}</a>
</div>
{% endblock %}

{% block note_tags%}{% comment %}For now, no viewing of frame by tag (need to implement cache for frame){% endcomment %}
<div class='noPrint'>
<b><img src="/site_media/img/tags-small.png" class="img_in_notes_section_header"/>:</b> {{note.display_tags}}
</div>
{% endblock %}


{% block notes_in_frame%}
<br/><br/>
<div class='noPrint'>
    <b>{% trans 'notes included' %}: </b> 
    {% trans "Sorting" %}
    <select id="sort_drop_down"  name="sort">
            {% if sort == '' %}
                <option value="" selected="selected">{% trans "By default" %}</option>
            {% else %}
                <option value="">{% trans "By default" %}</option>
            {% endif %}
            {% if sort == 'vote' %}
                <option value="vote" selected="selected">{% trans "By Importance" %}</option>
            {% else %}
                <option value="vote">{% trans "By Importance" %}</option>
            {% endif %}
    </select>   
{% if user.username == profile_username and note.get_notes_in_order %} 
    <button title="{% trans 'You can drag the notes to change the ordering and save it' %}" onclick="javascript:set_the_order();">{% trans 'Save the order' %}</button>
    <span title="{% trans 'View notes included in note list' %}"><a href="/{{profile_username}}/notebook/frames/frame/{{note.id}}/notes/">{% trans 'View in note list' %}</a></span>
{% endif %}
    <div id="sidetreecontrol"> <a href="?#">{% trans 'List' %}</a> | <a href="?#">{% trans 'Expanded' %}</a></div>    
     {% include "include/notes/note/display_attachment.html" %}      
</div>     
<div note_id="{{note.id}}">
    <ul id="sortable" class="frame_tree" >
        {% tree_view_tag note %}
    </ul> 
</div>    
    <br/><br/>
    <div note_id="{{note.id}}">
    {% include "framebook/notes/inlines/add_included_notes.html" %}   
    </div>
    <br/>
    
 {% endblock %}
 

{% block note_attachment%}
<div class="noPrint">
<b>{% trans 'attachment' %} :</b> <a href="/file/{{note.attachment.name}}" target="_blank">{{note.attachment}}</a>
 {% if note.is_img %} <br/>
 <img src="/file/{{note.frame.attachment.name}}" class="attachment attachment_img"/>
 {% endif %}
</div>
{% endblock %}

{% block note_form_tags%}
{% endblock %}

{% block note_form_vote%}
<input type="hidden" name="vote" value="{{note.vote}}" id="id_vote" />
{% endblock %}




{% block note_form_attachment%}
<p>{{ note_form.attachment.label_tag }}:{{note_form.attachment}}</p>
{% endblock %}






