{% extends "bookmarkbook/note_list_base.html" %}
{% load i18n %}

{% block title %}
     {% blocktrans %}Personal bookmarkbook of {{profile_username}}{% endblocktrans %} 
{% endblock %}


{% block header_title %}
    {% blocktrans %}Personal bookmarkbook of {{profile_username}}{% endblocktrans %} 
{% endblock %}

{% block help_message_if_none %}
{% include "include/folders_help_message_if_none.html" %} 
{% endblock %}


{% block special_side_menu %}
{% include "bookmarkbook/folders_special_side_menu.html" %} 
{% endblock %}



{% block content%}
<div id="content-main"> 
<div> 
{% if folders %} 
{% if not current_folder %} 
{% trans "Please select a folder from the right menu." %}
{% else %}
{% include "bookmarkbook/notes/notesdisplay.html" %}
{% endif %}
{% endif %}
</div>
</div> 
{% endblock %}
